.page-header{
  background-color: #5c7595;
  padding: 30px 0;
  text-align: left;

  h1{
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    font-family: 'Open Sans',sans-serif;
  }
  a{
    color: #fff;
  }
  a:hover{
    color: #fff;
    text-decoration: underline;
  }
  div{
    color: #fff;
    font-size: 16px;

  }
  .row{
    div{
      //width: 30%;
    }
    div:first-child{
      padding-bottom: 20px;
      width: 70%;
    }
    p,h1{
      width: 100%;
    }
  }
}
.static-container{
  padding: 2rem 0 5rem;
  font-size: 12px;
  p,h1,h2,h3,div,a{
    width: 100%;
  }
}
