<div class="row">
    <div class="large-12 columns">
        <div class="callout small secondary box-shadow-no-border">
            <div class="row column text-center">
                <h4>Join the conversation</h4>
                <div class="row">
                    <div class="large-12 columns">
                            <a href="https://www.facebook.com/identityguard" class="social-link" target="_blank">
                                <img class="facebook" src="/assets/img/svg/facebook.svg" alt="" width="32" height="32">
                            </a>
                            <a href="https://www.twitter.com/identityg" class="social-link" target="_blank">
                                <img class="twitter" src="/assets/img/svg/twitter.svg" alt="" width="32" height="32">
                            </a>
                            <a href="https://www.linkedin.com/company/identity-guard" class="social-link" target="_blank">
                                <img src="/assets/img/svg/linkedin.svg" alt="" width="32" height="32">
                            </a>
                            <a href="https://www.youtube.com/user/IdentityGuardTV" class="social-link" target="_blank">
                                <img src="/assets/img/svg/youtube.svg" alt="" width="32" height="32">
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>