<section class="row global-2column" style="background-color: #fff; border: 1px solid #cacaca;" aria-label="">   
    <div class="about-the-article">
        <div class="row">
            <div class="small-12 medium-7 large-8 columns">
                    <h4 class="separator-left">Our Story</h4>
                    <p>In 1996, Identity Guard® ’s founding company Intersections Inc. was one of the first to establish the identity theft protection industry in a colossal effort to help consumers protect their identities. Through partnerships with major financial and banking institutions, Intersections Inc. protected consumers through co-branding and white-labeled products, undergoing annual audits and setting the bar for compliance and data security standards.</p>
                    
                    <p>Over a decade ago, Intersections Inc. recognized the need to bring identity protection directly to consumers and created Identity Guard® — providing the same high-quality identity protection previously available only through banking institutions. Since then, Identity Guard® has evolved to keep up with the quickly changing landscape of identity fraud, addressing the privacy and data protection needs of both individuals and businesses.</p>
                    
                    <p>Stepping into the future, Identity Guard® has partnered with the world’s most recognizable artificial intelligence, IBM Watson™. Combining our company’s experience of protecting more than 47 million identities for over 20 years with the cognitive computing of IBM Watson™, we are building products that can help detect threats more quickly, provide personalized guidance, and help customers be proactive about their identity protection.</p>
                    
                    <p>Our innovations are not exclusive to our direct to consumer solutions. We’re also helping organizations prepare for an inevitable breach through our new, groundbreaking service, Data Breach Readiness providing the tools to monitor their data, train employees on cybersecurity, scan for threats, and plan a breach response — all in one product.</p>
                    
                </div>
            <div class="small-12 medium-5 large-4columns">
                <div class="article-image">
                    <img src="/assets/img/about-crowd.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="row global-2column right" style="background-color: #fff; border: 1px solid #cacaca;" aria-label="">   
    <div class="about-the-article">
        <div class="row">
            <div class="small-12 medium-5 large-4 columns">
                <div class="article-image">
                    <img src="/assets/img/about-crowd.jpg">
                </div>
                <h5 class="photo-caption-heading center">Our Mission</h5>
                <p class="photo-caption center">To educate and empower every person to take control of their personal information to protect it from fraud, theft or misrepresentation.</p>
            </div>
            <div class="small-12 medium-7 large-8 columns left-article-pad">
                <h4 class="separator-left">Our Story</h4>
                <p>In 1996, Identity Guard® ’s founding company Intersections Inc. was one of the first to establish the identity theft protection industry in a colossal effort to help consumers protect their identities. Through partnerships with major financial and banking institutions, Intersections Inc. protected consumers through co-branding and white-labeled products, undergoing annual audits and setting the bar for compliance and data security standards.</p>
                
                <p>Over a decade ago, Intersections Inc. recognized the need to bring identity protection directly to consumers and created Identity Guard® — providing the same high-quality identity protection previously available only through banking institutions. Since then, Identity Guard® has evolved to keep up with the quickly changing landscape of identity fraud, addressing the privacy and data protection needs of both individuals and businesses.</p>
                
                <p>Stepping into the future, Identity Guard® has partnered with the world’s most recognizable artificial intelligence, IBM Watson™. Combining our company’s experience of protecting more than 47 million identities for over 20 years with the cognitive computing of IBM Watson™, we are building products that can help detect threats more quickly, provide personalized guidance, and help customers be proactive about their identity protection.</p>
                
                <p>Our innovations are not exclusive to our direct to consumer solutions. We’re also helping organizations prepare for an inevitable breach through our new, groundbreaking service, Data Breach Readiness providing the tools to monitor their data, train employees on cybersecurity, scan for threats, and plan a breach response — all in one product.</p>
                
            </div>
        </div>
    </div>
</section>
  