<section id="resource-article" class="row resource-article-page" aria-label="resources">
        
    <div class="container" style="display:block">  
            <ul class="social-nav">
                    <li class="social-icon">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.identityguardbusiness.com/resource-center/state-laws-data-breach-disclosure.html" class="" target="_blank">
                            <img class="facebook" src="/assets/img/icons/Facebook@2X.png" alt="">
                        </a>
                    </li>
                    <li class="social-icon">
                        <a href="https://twitter.com/home?status=Staying%20Up%20to%20Date%20with%20State%20Laws%20on%20Data%20Breach%20Disclosure%20-%20https://www.identityguardbusiness.com/resource-center/state-laws-data-breach-disclosure.html" class="" target="_blank">
                            <img class="twitter" src="/assets/img/icons/Instagram@2X.png" alt="">
                        </a>
                    </li>
                    <li class="social-icon">
                        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.identityguardbusiness.com/resource-center/state-laws-data-breach-disclosure.html&amp;title=Staying%20Up%20to%20Date%20with%20State%20Laws%20on%20Data%20Breach%20Disclosure&amp;summary=&amp;source=" class="" target="_blank">
                            <img src="/assets/img/icons/Twitter@2X.png" alt="">
                        </a>
                    </li>
                    <li class="social-icon">
                        <a href="mailto:?subject=Staying%20Up%20to%20Date%20with%20State%20Laws%20on%20Data%20Breach%20Disclosure&amp;body=https://www.identityguardbusiness.com/resource-center/state-laws-data-breach-disclosure.html" class="">
                            <img src="/assets/img/icons/Email@2x.png" alt="email">
                        </a>
                    </li>
            </ul>  
        <div class="article-details">
            <div class="hr"></div>        
                <div class="flexible-article-content ">
                    <div class="article-top-part">
                        <div class="article-top-part--text">
                            <div class="breadcrumbs"><p><a href="/news-insights/">NEWS</a></p><p>DATA BREACHES </p></div>
                            <h1 class="flexible-article-content--title">Consumer’s Safety Guide to the Online Shopping Season</h1>
                            <div class="flexible-article-image-left mobile article-top-part--image">
                                    <div class="resource-article-thumbnail">
                                        <a><img src="http://via.placeholder.com/400x413"></a>
                                    </div>
                            </div>
                            <div class="date">March 12, 2018</div>
                            <p>Online shopping has become second nature to many consumers, with its convenience and value cementing its place in the holiday season. But, shoppers shouldn’t let familiarity turn into complacency when it comes to being safe in online spaces. Enterprising criminals understand how popular online stores and marketplaces are, and they are willing to take advantage of this new status quo to lay traps to steal personal information.</p>
                            <h4>The Scale of Digital Commerce</h4>
                        </div>
                        
                        <div class="flexible-article-image-left destop article-top-part--image">
                                <div class="resource-article-thumbnail">
                                    <a><img src="http://via.placeholder.com/400x413"></a>
                                </div>
                        </div>
                        
                    </div>
                </div>
                <div class="flexible-article-content">
                    <div class="flexible-article-image-right">
                        <div class="ad">
                            <img src="http://via.placeholder.com/229x710" alt="">
                        </div>
                    </div>
                    <p>The factors drawing identity thieves and other criminals to the world of e-commerce are clear: this space is home to a vast number of shoppers, all spending money and looking for the best deals. Hackers hope to take advantage of lapses in caution or technical weaknesses to steal money or personal data from the many individuals buying goods online.</p>
                    <p>Forrester projects that online sales in the U.S. will reach $459 billion in total for 2017, accounting for 12.9 percent of total retail sales, and representing a 13 percent increase from 2016. People are finding the products and experiences they want online, which has driven them into this relatively new space. The percentage of sales handled online is only increasing: Researchers also expect that digital sales will account for 17 percent of all shopping in 2022.</p>

                    <blockquote>Pew Research Center data reveals that 79 percent of American adults now shop online. Additionally, 15 percent buy something every week.
                        <div class="share-twitte"><a href="#">Share on Twitter</a></div>
                    </blockquote>

                    <h4>Staying on Guard for Identity Theft</h4>
                    <p>The kind of identity theft that afflicts retail shoppers is relatively common, and tends to be quick to develop – and notice. According to Javelin Strategy & Research, e-commerce shoppers encounter a higher rate of fraud than any other segment of the consumer population. The researchers noted that when an identity is compromised in a retail setting, the victim will usually notice the fraudulent transactions within a week of their occurrence. This is heartening, as detecting a problem is the first step in stopping it.</p>
                    <p>The commonplace nature of online shopping has increased risk.</p>

                    <h4>Generational Divide</h4>
                    <p>There is a specific generational gap between baby boomers and millennials when it comes to safe online shopping. While it is tempting to assume that digital-native young people are safer than older shoppers, the reality paints a different picture. According to First Data.</p>
                    
                    <h4>Learn to Shop Safely Online</h4>
                    <p>A few simple online safety tips can help you keep your data safe. While there is no way to 100 percent guarantee your data will remain safe, there’s no excuse not to take action. Many of the concepts and approaches that can protect your identity are matters of common sense and take little time and effort. If these practices keep your personal data safe, they’ve more than proven their worth.</p>

                    <ul>
                        <li>Use two-factor authentication: Supplementing passwords with other kinds of identification, such as a message to your phone, can keep criminals out of your accounts. Javelin pointed out that not every retailer offers this level of protection, but large sellers such as Amazon tend to.</li>
                        <li>Employ strong passwords: The source added that where two-factor authentication isn’t available, it pays to ensure your password is difficult to guess. Sharing passwords between multiple accounts is an especially bad approach: If one site is compromised, then all other accounts where you employed the same password are suddenly vulnerable. First Data noted that millennials fall into this trap often with 82 percent of them recycling login credentials.</li>
                        <li>Beware email phishing: E-commerce-based identity theft can even take place through the email inbox. Forbes warned that some identity thieves have begun sending emails purporting to be from shipping services. These messages ask the recipient to download a file or click a link to a website to track a package. If you click as instructed, malware programs could download instead, gaining access to your computer files.</li>
                        <li>Watch your network connection: The quality of your network connection could potentially determine your vulnerability level. Forbes noted that it’s not wise to enter personal information while accessing the internet through an unsecured connection. This is especially common when you’re out and about, logging on through a mobile device connected to public Wi-Fi. If you’re not careful, a thief could gain access to your information through the shared Wi-Fi access.</li>
                        <li>Make sure sites are what they seem: How do you know you’re on a real online store instead of a mock-up made by identity thieves? Experts Exchange CEO Gene Richardson told Mashable that customers should always check the encryption certificate of the sites they’re shopping on. If there’s a padlock icon and green text in the address bar, it’s a good indication that the site has been verified by a reputable entity.</li>
                        <li>Seek professional protection: While you can take any and all of the above steps to defend your personal data online, there is no way to guarantee that your personal information will remain secure indefinitely. A professional identity theft protections service like Identity Guard can help you protect your identity throughout the season and after it ends.</li>
                    </ul>

                    <h4>Will insurance grow too?</h4>
                    <p>One corollary to the seemingly dark future of IoT crime is the possible rise of smarter protections. Better cyberinsurance, specifically, could arrive and let businesses and individuals alike mitigate at least some of the uncertainty.</p>
                    <p>The kind of "disaster" Clark said might not be that far removed from what's happening, but it could lead to better protections instead of a flight from connectivity. Business Insurance said that the WannaCry ransomware, a much-publicized recent strain of malware, might lead to more cyberinsurance use, although this is not a certainty.</p>
                    <p>In the end, businesses may feel the need to have recovery measures ready. Identity Guard Business Solutions can be a source for identity theft protection solutions you can implement.</p>
                </div>
            {{> resource-article-component }}
        </div>
</section>