<script src="../assets/js/app.js"></script>
<footer class="main-nav">
    <nav class="row expanded callout secondary side-content-pad">
        <div class="small-12 medium-12 large-12 columns">
            <div tabindex="0" class="main-nav__desktop-logo center">
                <a href="../">
                  <img src="../assets/img/svg/mf-logo-footer.svg" alt="Desktop Logo">
                </a>
            </div>
        </div>
        <div class="small-12 medium-12 large-12 columns sectionpad-sm-top sectionpad-sm-bottom">
            <div class="small-12 medium-6 large-6 columns">
                <ul class="menu vertical column2">
                    <li>
                        <a href="../ui-ux/" class="nav-link">
                            <img src="../assets/img/svg/ux-color-icon.svg" alt="ux color icon" class="color-icon">UI / UX DESIGN & DEVELOPMENT
                        </a>
                    </li>
                    <li><a href="../design/" class="nav-link">
                        <img src="../assets/img/svg/design-color-icon.svg" alt="design color icon" class="color-icon">DESIGN
                        </a>
                    </li>
                    <li>
                        <a href="../illustration/" class="nav-link">
                            <img src="../assets/img/svg/illustration-color-icon.svg" alt="illustration color icon" class="color-icon">ILLUSTRATION
                        </a>
                    </li>
                </ul>
            </div>
            <div class="small-12 medium-6 large-6 columns">
                <ul class="menu vertical column2">
                    <li>
                        <a href="../web-development/" class="nav-link">
                            <img src="../assets/img/svg/webdev-color-icon.svg" alt="web development color icon" class="color-icon">WEB DEVELOPMENT
                        </a>
                    </li>
                    <li>
                        <a href="../branding/" class="nav-link">
                            <img src="../assets/img/svg/branding-color-icon.svg" alt="branding color icon" class="color-icon">BRANDING
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow" href="../fine-arts/" class="nav-link">
                            <img src="../assets/img/svg/fine-arts-color-icon.svg" alt="fine arts color icon" class="color-icon">FINE ARTS
                        </a>
                    </li>
                </ul>
            </div>
            <div id="copyright" class="small-12 medium-12 large-12 columns center">
            </div>
        </div>
    </nav>
</footer>