<section class="sectionpad-lrg-top sectionpad-lrg-bottom" aria-label="featured resources">
    <div style = "background-color: #fff;" class="row box-shadow">
        <div class="small-12 medium-12 columns">
            <div class="row">
                <div class="small-12 medium-12 columns">
                    <div class="row small-up-1 medium-up-2 large-up-4">
                        <h4 class="featured-header">Featured</h4> 
                        <h4 class="show-for-medium resource-header">Resource Center</h4> 
                        <article class="column">
                            <div class="card news-card">
                                <div class="image">
                                    <img src="/assets/img/resource-center/feature.png">
                                </div>
                                        
                                <div class="card-section featured">  
                                    <div class="news-card-date">
                                        <h5 class="news-card-title"><a href="#">Our Partnership with IBM Watson</a></h5>
                                        <p class="news-card-description">Technology is changing everything about how we live and creating more opportunities for fraud, financial harm and crime. Innovation is the only way to help protect organizations from constantly evolving threats.</p>
                                    </div>
                                    <div class="news-card-author">
                                        <div class="news-card-author-name">
                                            <a href="/resource-center/article-page/">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <h4 class="show-for-small-only resource-header">Resource Center</h4> 
                        <article class="column">
                            <div class="card news-card">
                                <div class="image">
                                    <img src="/assets/img/resource-center/article.png">   
                                </div>         
                                <div class="card-section">
                                    <div class="news-card-date">Sunday, 16th April</div>
                                    <div class="news-card-article">
                                        <h5 class="news-card-title"><a href="#">How to Keep a Balanced Approach to Data Breach Response</a></h5>
                                        <p class="news-card-description">There are many technological and policy-related ways to prepare for and respond to a data breach.
                                            </p>
                                    </div>
                                    <div class="news-card-author">
                                        <div class="news-card-author-name">
                                            <a href="/resource-center/article-page/">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="column">
                            <div class="card news-card">
                                <div class="image">
                                    <img src="/assets/img/resource-center/article.png">   
                                </div>             
                                <div class="card-section">
                                    <div class="news-card-date">Sunday, 16th April</div>
                                    <div class="news-card-article">
                                        <h5 class="news-card-title"><a href="#">How to Keep a Balanced Approach to Data Breach Response</a></h5>
                                        <p class="news-card-description">There are many technological and policy-related ways to prepare for and respond to a data breach.
                                            </p>
                                    </div>
                                    <div class="news-card-author">
                                        <div class="news-card-author-name">
                                            <a href="/resource-center/article-page/">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="column">
                            <div class="card news-card">
                                <div class="image">
                                    <img src="/assets/img/resource-center/article.png">   
                                </div>             
                                <div class="card-section">
                                    <div class="news-card-date">Sunday, 16th April</div>
                                    <div class="news-card-article">
                                        <h5 class="news-card-title"><a href="#">How to Keep a Balanced Approach to Data Breach Response</a></h5>
                                        <p class="news-card-description">There are many technological and policy-related ways to prepare for and respond to a data breach.
                                            </p>
                                    </div>
                                    <div class="news-card-author">
                                        <div class="news-card-author-name">
                                            <a href="/resource-center/article-page/">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
    