<div id="faq-center-navbar" class="row column top-margin-lrg bottom-margin-sm">
    <ul class="faq-center-nav">
        <li id="faq-nav-all" class="faq-nav-item is-active">
            <a>
                All
            </a>
        </li>
        <li id="faq-nav-about" class="faq-nav-item">
            <a>
                ABOUT
            </a>
        </li>
        <li id="faq-nav-enrollment" class="faq-nav-item">
            <a>
                ENROLLEMENT
            </a>
        </li>
        <li id="faq-nav-members" class="faq-nav-item">
            <a>
                MEMBERS
            </a>
        </li>
    </ul>
</div>
  
  