<div id="faq" class="Layout LayoutFAQ LayoutFAQ--identityTheft">
        <div class="Layout-wrap boxpad-left-med boxpad-right-med">
           <div class="u-content u-wrap">
              <div id="faq-about" aria-hidden="false">
                <!-- GENERAL -->
              <p class="Heading" id="mobile-app-faq">ABOUT</p>
              <ul class="Layout-faq" aria-label="About Questions - Accordion Control Group Buttons">
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">What is Identity Guard?</button></h3>
                        <div id="about-content-1" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="about-accordion-control-1">
                                <p>Identity Guard is a proactive privacy and identity theft protection service created by Intersections, Inc. We deliver premium solutions to help busy families and individuals take control over their personal and private information. As the need for information protection grows, we continue to provide comprehensive products that will enable consumers to react and help protect their personal information from evolving technological threats.</p>
                                <p>Depending on the service level, our products involve a variety of features that monitor many data points to help detect fraud which may include credit monitoring and alerts, dark web monitoring, real-time credit monitoring, a proprietary predictive risks assessment, online protection and more. If we find certain activity that may indicate fraud, we will alert you so you can promptly respond. To learn more visit About Us.</p>
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-2" aria-controls="about-content-2" aria-expanded="false">Why choose Identity Guard?</button></h3>
                        <div id="about-content-2" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="about-accordion-control-2">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-3" aria-controls="about-content-3" aria-expanded="false">How do I contact customer service?</button></h3>
                        <div id="about-content-3" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="about-accordion-control-3">
                          Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-4" aria-controls="about-content-4" aria-expanded="false">What is your privacy policy?</button></h3>
                        <div id="about-content-4" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="about-accordion-control-4">
                          Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-5" aria-controls="about-content-5" aria-expanded="false">What is your refund policy?</button></h3>
                        <div id="about-content-5" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="about-accordion-control-5">
                          Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-6" aria-controls="about-content-6" aria-expanded="false">Our official refund policy is located here.</button></h3>
                        <div id="about-content-6" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="about-accordion-control-6">
                        Content goes here.
                        </div>
                </li>

              </ul>
              <!-- /GENERAL -->  
                </div>
                <div id="faq-enrollment" aria-hidden="false">
              <!-- BREACH READINESS -->
              <p class="Heading" id="mobile-app-faq">HOW TO ENROLL</p>
              <ul class="Layout-faq" aria-label="Enrollment Questions - Accordion Control Group Buttons">
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="enrollment-accordion-control-1" aria-controls="enrollment-content-1" aria-expanded="false">What information will I need to enroll?</button></h3>
                        <div id="enrollment-content-1" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="enrollment-accordion-control-1">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="enrollment-accordion-control-2" aria-controls="enrollment-content-2" aria-expanded="false">Do you need my Social Security Number to enroll?</button></h3>
                        <div id="enrollment-content-2" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="enrollment-accordion-control-2">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="enrollment-accordion-control-3" aria-controls="enrollment-content-3" aria-expanded="false">How long will it take to enroll?</button></h3>
                        <div id="enrollment-content-3" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="enrollment-accordion-control-3">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="enrollment-accordion-control-4" aria-controls="enrollment-content-4" aria-expanded="false">Is the information I enter during enrollment secure?</button></h3>
                        <div id="enrollment-content-4" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="enrollment-accordion-control-4">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="enrollment-accordion-control-5" aria-controls="enrollment-content-5" aria-expanded="false">After I enroll, how soon does coverage start?</button></h3>
                        <div id="enrollment-content-5" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="enrollment-accordion-control-5">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="enrollment-accordion-control-6" aria-controls="enrollment-content-6" aria-expanded="false">How do I enroll my family members?</button></h3>
                        <div id="enrollment-content-6" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="enrollment-accordion-control-6">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="enrollment-accordion-control-7" aria-controls="enrollment-content-7" aria-expanded="false">What information do I need to enroll my family members?</button></h3>
                        <div id="enrollment-content-7" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="enrollment-accordion-control-7">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="enrollment-accordion-control-8" aria-controls="enrollment-content-8" aria-expanded="false">Can I enroll family members who don’t live at the same address?</button></h3>
                        <div id="enrollment-content-8" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="enrollment-accordion-control-8">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="enrollment-accordion-control-9" aria-controls="enrollment-content-9" aria-expanded="false">How can I add adult children (over 18 years old)?</button></h3>
                        <div id="enrollment-content-9" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="enrollment-accordion-control-9">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="enrollment-accordion-control-10" aria-controls="enrollment-content-10" aria-expanded="false">What is proof of guardianship and how do I provide that to enroll children?</button></h3>
                        <div id="enrollment-content-10" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="enrollment-accordion-control-10">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="enrollment-accordion-control-11" aria-controls="enrollment-content-11" aria-expanded="false">What is proof of guardianship and how do I provide that to enroll children?</button></h3>
                        <div id="enrollment-content-11" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="enrollment-accordion-control-11">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="enrollment-accordion-control-12" aria-controls="enrollment-content-12" aria-expanded="false">If I’m having trouble enrolling, how can I get help?</button></h3>
                        <div id="enrollment-content-12" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="enrollment-accordion-control-12">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->

              </ul>
              <!-- /BREACH READINESS --> 
                </div>
                
                <div id="faq-members" aria-hidden="false">

              <!-- BREACH RESPONSE -->
              <p class="Heading" id="mobile-app-faq">MEMBERS</p>
              <ul class="Layout-faq" aria-label="Breach Response Questions - Accordion Control Group Buttons">
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="members-accordion-control-1" aria-controls="members-content-1" aria-expanded="false">How do I update my account information?</button></h3>
                        <div id="members-content-1" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="members-accordion-control-1">
                        Content goes here.
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="members-accordion-control-2" aria-controls="members-content-2" aria-expanded="false">How do I cancel my account?</button></h3>
                        <div id="members-content-2" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="members-accordion-control-2">
                        Content goes here.            
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="members-accordion-control-3" aria-controls="members-content-3" aria-expanded="false">What should I do if I forgot my User ID or password?</button></h3>
                        <div id="members-content-3" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="members-accordion-control-3">
                        Content goes here.        
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="members-accordion-control-4" aria-controls="members-content-4" aria-expanded="false">What type of impact will a security freeze have on my current Identity Guard credit monitoring service/membership?</button></h3>
                        <div id="members-content-4" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="members-accordion-control-4">
                        Content goes here.            
                        </div>
                </li>
                <!-- /single-faq -->
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="members-accordion-control-5" aria-controls="members-content-5" aria-expanded="false">How can I see the alerts on my family members or children?</button></h3>
                        <div id="members-content-5" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="members-accordion-control-5">
                        Content goes here.            
                        </div>
                </li>
                <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="members-accordion-control-6" aria-controls="members-content-6" aria-expanded="false">How do I remove a family member from my account?</button></h3>
                        <div id="members-content-6" class="Layout-faqItemContent" aria-hidden="true" role="region" aria-labelledby="members-accordion-control-6">
                        Content goes here.            
                        </div>
                </li>
                

              </ul>
              <!-- /BREACH RESPONSE --> 
                </div>
           </div>
        </div>
     </div>
     
     