<!doctype html>
<html class="no-js" lang="en">	
	<head>
  		<meta charset="utf-8">
  		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Cache-Control" content="max-age=604800, public">
      <meta http-equiv="Access-Control-Allow-Origin" content="https://www.iartsinteractive.com/*">
      <link rel="icon" href="https://www.michaelfugate.com/assets/img/icons/favicon.ico" type="image/x-icon"/>
      <link rel="shortcut icon" href="https://www.michaelfugate.com/assets/img/icons/favicon.ico" type="image/x-icon"/>

      <link rel="icon" href="https://www.michaelfugate.com/assets/img/icons/mf-favicon.png" type="image/x-icon"/>
      <link rel="shortcut icon" href="https://www.michaelfugate.com/assets/img/icons/mf-favicon.png" type="image/x-icon"/>

      <link rel="icon" href="https://www.michaelfugate.com/assets/img/icons/mf-favicon.png">
      <link rel="icon" href="https://www.michaelfugate.com/assets/img/icons/mf-favicon-32x32.png" sizes="32x32">
      <link rel="icon" href="https://www.michaelfugate.com/assets/img/icons/mf-favicon-192x192.png" sizes="192x192">
      <link rel="apple-touch-icon-precomposed" href="https://www.michaelfugate.com/assets/img/icons/mf-favicon-180x180.png">

      <title>{{title}}</title>
      <meta name="description" content="An artistic, creative Senior UI, UX designer and developer with more than 18 years of extensive experience in Interactive media, Web Design, Web Development, Fine Arts and Design. Winner of numerous awards for the design and development of custom high profile secure WCAG and Section 508 compliant websites and applications.">
      <link rel="canonical" href="{{canonical-url}}">

      <meta property="og:title" content="Michael Fugate | An artistic, creative Senior UI, UX designer, web developer, interactive media artist, graphic designer, illustrator and fine artist with more than 18 years of experience.">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://www.michaelfugate.com">
      <meta property="og:site_name" content="Michael Fugate">
      <meta property="og:description" content="An artistic, creative Senior UI, UX designer and developer with more than 18 years of extensive experience in Interactive media, Web Design, Web Development, Fine Arts and Design. Winner of numerous awards for the design and development of custom high profile secure WCAG and Section 508 compliant websites and applications.">
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="An artistic, creative Senior UI, UX designer, web developer, interactive media artist, graphic designer, illustrator and fine artist with more than 18 years of experience.">
      <meta name="twitter:description" content="Michael Fugate - An artistic, creative Senior UI, UX designer and developer with more than 18 years of extensive experience in Interactive media, Web Design, Web Development, Fine Arts and Design. Winner of numerous awards for the design and development of custom high profile secure WCAG and Section 508 compliant websites and applications.">

      <link rel="shortcut icon" type="image/x-icon" href="#">
      <script src="./assets/preloader/preloader.js"></script>
      <link rel="stylesheet" href="./assets/css/app.css">
      <meta class="foundation-mq">
   
	</head>
	<body>