<section class="row bottom-margin-xlrg" aria-label="">  
    <div class="large-12 columns">  
        <div class="row top-margin-xlrg bottom-margin-xlrg">
            <div class="small-12 medium-12 large-7 columns">
                <div class="row">
                    <div class="small-12 medium-12 large-12 columns">
                    {{> whitepaper-thankyou-column-widget }}
                    </div>
                </div>
            </div>
            <div class="small-12 medium-12 large-5 columns contact-links">          
                    {{> whitepaper-thankyou-download-column-widget }}
            </div>
        </div>
    </div>
</section>
          