<div class="pad-all-xlrg bottom-margin-sm box-shadow-no-border" style="background-color: #fff; border: 1px solid #cacaca;">           
    <div class="row">
        <div class="small-12 medium-12 columns center">
            <a href="/assets/img/eBook-6_Steps_to_Data_Breach_Response_Plan.pdf" target="_blank"><img style="padding-right: 10px;" src="/assets/img/6Steps-bookcover.png"></a>
            <button tabindex="0" href="/assets/img/eBook-6_Steps_to_Data_Breach_Response_Plan.pdf" class="button"><strong>Download Now!</strong></button>
        </div>
    </div>
</div>
     