.video-component {
    .video-text {
        position: relative;
        
        .vertical-center {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}