<section data-id="#" id="shadowbox-overlay">        
    <div class="overlay-content box-shadow-normal">
        <div class="closebtn" title="Close Overlay">close (x)</div>
        <div class="content center">
            
        </div>
    </div>
    <div class="overlay" title="Overlay">TEST</div>       
</section>