<section class="global-1column-banner callout large primary" style="background-image: url('{{global-1col-banner.bg-image}}'); background-size: cover; background-repeat: no-repeat; border: none; background-color: none;" aria-label="">   
    <div class="content-container">
        <div class="about-the-article">
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <div class="article-image center" style="margin-bottom: 3rem;">
                            <h2>{{global-1col-banner.title}}
                            </h2>
                            <p>{{global-1col-banner.content}} 
                                    {{#ifequal global-1col-banner.footnote ''}}
                                    {{else}}
                                        <sup>{{ global-1col-banner.footnote }}</sup>
                                    {{/ifequal}}                    
                        </p>
                            <button tabindex="0" href="{{global-1col-banner.button-link}}" class="{{global-1col-banner.button-class}}">{{global-1col-banner.button-content}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  