.nav-homepage{

  a {
    text-align: left;
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
      text-align: left;
      color: #fff;
      text-decoration: none;
    }
  }

  .sticky {

    position: fixed;
    top: 0;
    width: 100%;
    height: 155px;
    z-index: 100;

    #hide {
      display:none;
    }

  }

}