<section id="contact-component" class="sectionpad-lrg-top sectionpad-lrg-bottom" aria-label="contact information">

    <div class="row small-up-1 pad-all-med">
        {{#each contact-list}}
        <div class="small-12 medium-12 large-12 columns sectionpad-sm-top sectionpad-sm-bottom">
       
            <div class="center">
                <a href="{{social-media-link}}" target="_blank">
                    <div class="image">
                        <img src="{{img-url}}">
                    </div>
                </a>
            </div>
        </div>
        {{/each}}
       
    </div>
    <hr/>
</section>

    