<div id="compare-plans-3tier" class="row">
    <div class="small-12 medium-12 large-12 columns no-side-padding">
        <div class="bottom-margin-xlrg box-shadow-normal">
        <!--<div class="bottom-margin-xlrg box-shadow-normal" style="background-color: #fff; border: 1px solid #cacaca;">-->
            <h2 class="plans-header">Compare Plans</h2>
            <p class="plans-sub-header">Choose the solution that best fits your organization's needs:</p>
            <div id="plan" class="Layout LayoutPLAN LayoutPLAN--identityTheft">
                <div class="Layout-wrap boxpad-left-sm boxpad-right-med">
                    <div class="u-content u-wrap">
                        <!-- Column Headings -->
                        <!-- Feature Row 1 -->
                        <ul class="Layout-plan" aria-label="Compare Plans - Accordion Control Group Buttons">
                            <li class="Layout-planItem Collapsible">
                                <div class="row show-for-large">
                                    <div class="small-12 medium-12 large-3 columns plan-column1">
                                        <span style="display:none;" aria-hidden="true">blank content cell hidden from view</span>
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column2 center">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 1 Plan</span>
                                        <span class="plan-column-header"><strong>tier 1</strong></span>
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 2 Plan</span>
                                        <span class="plan-column-header"><strong>tier 2</strong></span>
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 3 Plan</span>
                                        <span class="plan-column-header"><strong>tier 3</strong></span>
                                    </div>
                                </div>
                            </li>
                            <li class="Layout-planItem Collapsible">
                                <div class="row">
                                    <div class="small-12 medium-12 large-3 columns no-border no-padding plan-column1">
                                        <h3 class="Layout-planItemTitle">
                                            <span class="Layout-planItemTitleLink">Business Data Monitoring</span>
                                        </h3>
                                    </div>
                                    <div aria-hidden="false" style="padding: 10px;" class="small-12 medium-12 large-3 columns plan-column2 center border-bottom">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 1 Plan</span>
                                        <span><strong>3 data points</strong></span>
                                    </div>
                                    <div aria-hidden="false" style="padding: 10px;" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 2 Plan</span>
                                        <span><strong>7 data points</strong></span>
                                    </div>
                                    <div aria-hidden="false" style="padding: 10px;" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 3 Plan</span>
                                        <span><strong>12 data points</strong></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="Layout-plan" aria-label="Compare Plans - Accordion Control Group Buttons">
                            <li class="Layout-planItem Collapsible is-closed">
                                <div class="row">
                                    <div class="small-12 medium-12 large-3 columns no-border no-padding plan-column1">
                                        <h3 class="Layout-planItemTitle">
                                            <span class="Layout-planItemTitleLink">Vulnerability Scanning</span>
                                        </h3>
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column2 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 1 Plan</span>
                                        Monthly-all findings
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 2 Plan</span>
                                        Monthly-all findings
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 3 Plan</span>
                                        Monthly-all findings
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="Layout-plan" aria-label="Compare Plans - Accordion Control Group Buttons">
                            <li class="Layout-planItem Collapsible is-closed">
                                <div class="row">
                                    <div class="small-12 medium-12 large-3 columns no-border no-padding plan-column1">
                                        <h3 class="Layout-planItemTitle">
                                            <span class="Layout-planItemTitleLink">Employee Training</span>
                                        </h3>
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column2 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 1 Plan</span>
                                        <strong>40</strong> licenses<br>
                                        1 training topic
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 2 Plan</span>
                                        <strong>100</strong> licenses<br>
                                        2 training topic
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 3 Plan</span>
                                        <strong>250</strong> licenses<br>
                                        3 training topic
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="Layout-plan" aria-label="Compare Plans - Accordion Control Group Buttons">
                            <li class="Layout-planItem Collapsible is-closed">
                                <div class="row">
                                    <div class="small-12 medium-12 large-3 columns no-border no-padding plan-column1">
                                        <h3 class="Layout-planItemTitle">
                                            <span class="Layout-planItemTitleLink">Anti Phishing App</span>
                                        </h3>
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column2 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 1 Plan</span>
                                        <img src="/assets/img/icons/red-checkmark.png" alt="" role="presentation" class="">
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 2 Plan</span>
                                        <img src="/assets/img/icons/red-checkmark.png" alt="" role="presentation" class="">
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 3 Plan</span>
                                        <img src="/assets/img/icons/red-checkmark.png" alt="" role="presentation" class="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="Layout-plan" aria-label="Compare Plans - Accordion Control Group Buttons">
                            <li class="Layout-planItem Collapsible is-closed">
                                <div class="row">
                                    <div class="small-12 medium-12 large-3 columns no-border no-padding plan-column1">
                                        <h3 class="Layout-planItemTitle">
                                            <span class="Layout-planItemTitleLink">Safe Browsing Web Extension</span>
                                        </h3>
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column2 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 1 Plan</span>
                                        <img src="/assets/img/icons/red-checkmark.png" alt="" role="presentation" class="">
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 2 Plan</span>
                                        <img src="/assets/img/icons/red-checkmark.png" alt="" role="presentation" class="">
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 3 Plan</span>
                                        <img src="/assets/img/icons/red-checkmark.png" alt="" role="presentation" class="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="Layout-plan" aria-label="Compare Plans - Accordion Control Group Buttons">
                            <li class="Layout-planItem Collapsible is-closed">
                                <div class="row">
                                    <div class="small-12 medium-12 large-3 columns no-border no-padding plan-column1">
                                        <h3 class="Layout-planItemTitle">
                                            <span class="Layout-planItemTitleLink">Data Breach Readiness Guide</span>
                                        </h3>
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column2 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 1 Plan</span>
                                        Online &amp; Offline
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 2 Plan</span>
                                        Online &amp; Offline
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 3 Plan</span>
                                        Online &amp; Offline
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="Layout-plan" aria-label="Compare Plans - Accordion Control Group Buttons">
                            <li class="Layout-planItem Collapsible is-closed">
                                <div class="row">
                                    <div class="small-12 medium-12 large-3 columns no-border no-padding plan-column1">
                                        <h3 class="Layout-planItemTitle">
                                            <span class="Layout-planItemTitleLink">Identity Theft Protection Enrollment Codes</span>
                                        </h3>
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column2 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 1 Plan</span>
                                        $35,000
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 2 Plan</span>
                                        $75,000
                                    </div>
                                    <div aria-hidden="false" class="small-12 medium-12 large-3 columns plan-column3 center border-bottom" style="padding: 10px;">
                                        <span class="top-margin-lrg hide-for-large" style="display:block; font-weight: 600;" aria-hidden="false">This Feature is included in our Tier 3 Plan</span>
                                        $150,000
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="Layout-plan" aria-label="Compare Plans - Accordion Control Group Buttons">
                            <li class="Layout-planItem Collapsible is-closed">
                                <div class="row">
                                    <div class="small-12 medium-12 large-3 columns plan-column1">
                                        <h3 class="Layout-planItemTitle">
                                            <span style="display:none;" aria-hidden="true">blank content cell hidden from view</span>
                                        </h3>
                                    </div>
                                    <div aria-hidden="false" style="padding: 10px;" class="small-12 medium-12 large-3 columns plan-column2 center">
                                        <span class="plan-column-header"><span class="hide-for-large"><strong> Tier 1 Plan: </strong></span><strong> $3,500</strong></span>
                                        <button tabindex="0" href="#" class="button top-margin-med">SELECT PLAN</button>
                                    </div>
                                    <div aria-hidden="false" style="padding: 10px;" class="small-12 medium-12 large-3 columns plan-column3 center">
                                        <span class="plan-column-header"><span class="hide-for-large"><strong> Tier 2 Plan: </strong></span><strong> $7,500</strong></span>
                                        <button tabindex="0" href="#" class="button top-margin-med">SELECT PLAN</button>
                                    </div>
                                    <div aria-hidden="false" style="padding: 10px;" class="small-12 medium-12 large-3 columns plan-column3 center">
                                        <span class="plan-column-header"><span class="hide-for-large"><strong> Tier 3 Plan: </strong></span><strong> $15,000</strong></span>
                                        <button tabindex="0" href="#" class="button top-margin-med">SELECT PLAN</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- Feature Row 2 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

