<div id="about-bottom" class="about-bottom row">
    <div class="small-12 medium-12 large-12 columns bottom-margin-xlrg">                
        
        <h5 class="news-card-title">Why Identity Guard</h5>
        
        <div class="news-card-description">
            <p>For over 20 years, protecting consumers’ identities has been our number one priority. We have partnered with some of the biggest names in the financial industry, protecting more than 47 million customers and resolving 130 thousand cases of identity fraud. As the threat of identity theft has grown – and our customers’ needs have changed – we’ve stayed ahead of the curve.</p>

            <p>Today, our award-winning services offer comprehensive solutions that extend beyond the basics - we also help protect your financial information‚ personal data‚ computer, privacy and much more. Our website has been recognized in the Online Trust Audit and Honor Roll by the Online Trust Alliance six years in a row for implementing the best practices in data security and privacy.</p>
        </div>

        <h5 class="news-card-title">Identity Guard & Intersections Inc.</h5>
        <div class="news-card-description"> 
        <p>Identity Guard is provided by Intersection Inc. (NASDAQ:INTX), a Delaware Corporation that has been a leader in the identity protection space since 1996. In the past 2 decades, Intersections Inc. has protected more than 47 million US consumers.</p>
        </div>
    </div>
    
    <div class="small-12 medium-12 large-12 columns">                
         
        <div class="row">
            <div class="small-12 medium-12 large-6 columns"> 

                <div class="card news-card"> 
                    
                    <div class="card-section">
                        
                        <div class="news-card-article">
                            <h5 class="news-card-title">Identity Guard & IBM Watson</h5>

                            <p>Identity Guard partnered with IBM Watson to bring identity protection into the 21st century. The massive proliferation of personal data online has made today’s consumer more susceptible than ever to data breaches, account hacks, and identity theft. By applying Watson and predictive analytics to mine data, evaluate risk, and generate customized guidance for consumers, Identity Guard has created state-of-the-art identity theft protection.</p>

                        </div>
                    </div>
                    <div class="category--tools" role="presentation"></div>
                </div>

            </div>
            <div class="small-12 medium-12 large-6 columns"> 

                <div class="card news-card"> 
                    
                    <div class="card-section">
                        
                        <div class="news-card-article">
                            <h5 class="news-card-title">Identity Guard & Megan Meier Foundation</h5>

                            <p>As part of our Social Media Monitoring that helps families detect, recognize, and deal with cyberbullying threats using Watson, Identity Guard provides direct access to the Megan Meier Foundation.</p>
                            <p>The Megan Meier Foundation was founded in December of 2007 by Tina Meier, mother of Megan Taylor Meier. Their mission is to support and inspire actions to end bullying, cyberbullying, and suicide through the empowerment of society to celebrate individuality and acceptance of others. </p>
                        </div>
                    </div>
                    <div class="category--tools" role="presentation"></div>
                </div>

            </div>
         </div>

    </div>

</div>