<section class="careers-component top-margin-xlrg bottom-margin-xlrg">   
    
    <div class="row">
        <div class="small-12 medium-7 large-7 columns">
            <h4 class="careers-title">{{careers.title}}</h4>
            <p>
                {{careers.content}}<a href="{{careers.content-link}}">{{careers.content-link-title}}</a>
            </p>
            <p><a href="{{careers.content2-link}}">{{careers.content2-link-title}}</a></p>
            <!--<a class="button" href="#">EXPLORE NOW</a>-->
        </div>
        <div class="small-12 medium-5 large-5 columns">
          
            <img src="{{careers.featured-image}}">
         
        </div>
    </div>
</section>
  