<section class="video-component">   
    <div class="row">
        <div class="small-12 medium-6 large-6 columns">
            <div class="vertical-center">
                <h4 class="separator-left">{{photo-component-banner.title}}</h4>
                <p>{{photo-component-banner.content}}</p>
                <!--<a class="button" href="#">EXPLORE NOW</a>-->
            </div>
        </div>
        <div class="small-12 medium-6 large-6 columns">
            <div>
                <img src="{{photo-component-banner.photo-src}}">
            </div>
        </div>
    </div>
</section>
  