<div class="row">
    <div class="small-12 medium-12 large-12 columns no-side-padding">
        <div id="form-container" class="pad-all-lrg bottom-margin-xlrg box-shadow-normal" style="background-color: #fff; border: 1px solid #cacaca;">
            <h2 class="header center">{{ contact.[0].title}}</h2>
            <p class="center">{{ contact.[0].description }}</p>
            <p class="center">{{ contact.[0].description2 }}</p>
            <span id="error-msg" class="center"><p>{{ contact.[0].required }}.</p></span>
            {{> whitepaper-form }}
        </div>
    </div>
</div>