<div id="form-container" class="pad-all-lrg bottom-margin-xlrg box-shadow-normal" style="background-color: #fff; border: 1px solid #cacaca;">
      <!--<h2 class="center">CONTACT US</h2>-->
      <h2 class="header center">GET THE GUIDE</h2>
      <span id="error-msg" class="center"><p>All fields required</p></span>         
        <div class="row">
            <div class="small-12 medium-12 large-12 columns center">
                  {{> whitepaper-form }}
            </div>
        </div>
</div>