<div class="pad-all-xlrg bottom-margin-sm box-shadow-no-border" style="background-color: #fff; border: 1px solid #cacaca;">           
    <div class="row">
        <div class="small-12 medium-12 columns">
            <p><strong>Is your data breach response plan ready to go?</strong> Despite enormous investments in prevention, breaches continue to occur with alarming regularity. A steady rise in data breaches has been recorded in each of the last six years, and 2017 will likely be no different.</p>
            <p><strong>Download our “6 Steps to a Data Breach Response Plan” guide.</strong><br>It will help you put a plan in place to help take care of your customers and minimize damage to your organization’s brand in the event a data breach occurs.</p>
            <img style="padding-right: 10px;" src="/assets/img/6-steps-guide.png">
        </div>
    </div>
</div>
     