<section class="row top-margin-xlrg bottom-margin-xlrg" aria-label="">  
    <div class="large-12 columns">  
        <div class="row">
            <div class="small-12 medium-12 large-7 columns contact-links">         
                    {{> whitepaper-column-widget }}
            </div>
            <div class="small-12 medium-12 large-5 columns contact-links">          
                    {{> complete-whitepaper-form-widget }}
            </div>
        </div>
    </div>
</section>
          