<div class="pad-all-lrg">           
    <div class="row">
        <div class="small-12 medium-12 large-12 columns center">
            <form id="6-steps-form" data-abide method="post" action="https://forms.identityguardbusiness-subscribe.com/wp-6stepsdatabreachplan/Whitepaper_Lead" pageid="21331240" siteid="497779" parentpageid="21331239">
                <input required="required" name="First_Name" id="control_COLUMN9" placeholder="First Name" class="" type="text">
                <input required="required" name="Last_Name" id="control_COLUMN7" placeholder="Last Name" class="" type="text">
                <input required="required" name="Email" id="control_EMAIL" placeholder="Work Email" class="" type="email">
             
                <div class="selectWrap">
                  <select required="required" name="Job_Function" id="control_COLUMN1"class="">
                    <option value="" class="placeholder" selected="selected" disabled="disabled" style="display: none;">-- Job Title --</option>
                    <option value="Broker/Consultant">Broker/Consultant</option>
                    <option value="Compliance/Privacy">Compliance/Privacy</option>
                    <option value="Human Resources">Human Resources</option>
                    <option value="Legal: Corporate">Legal: Corporate</option>
                    <option value="Legal: Law Firm">Legal: Law Firm</option>
                    <option value="Executive">Executive</option>
                    <option value="IT">IT</option>
                    <option value="Other">Other</option>
                  </select>
                  <span style="display: none;">Job Title</span>
                </div><!-- /.selectWrap -->
            
                <input required="required" name="Company" id="control_COLUMN2" placeholder="Company Name" class="" type="text">
                
                <div class="selectWrap">
                  <select required="required" name="State" id="control_COLUMN10" class="">
                    <option value="" class="placeholder" selected="selected" disabled="disabled" style="display: none;">-- State --</option>
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North Carolina">North Carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                    <option value="Canada">Canada</option>
                    <option value="Non-US">Non-US</option>
                  </select>
                  <span style="display: none;">State</span>
                </div><!-- /.selectWrap -->
                <div id="errorMessageContainerId" class="formErrorMessages"></div>
                <input id="6-steps-submit" type="submit" class="button top-margin-lrg" value="Download Now">
                <!--<input type="submit" class="defaultText buttonStyle" value="Submit">-->
                <input name="Lead Source" id="control_COLUMN6" value="Website" type="hidden">
                <input name="formSourceName" value="StandardForm" type="hidden">
                <!-- DO NOT REMOVE HIDDEN FIELD sp_exp -->
                <input name="sp_exp" value="yes" type="hidden">
              </form>
        </div>
    </div>
</div>



     