#about-bottom {

    margin: 0;
    padding-top: 2rem;
    padding-right: 10%;
    padding-bottom: 2rem;
    padding-left: 10%;
    border: none;
    border-radius: none;
    color: #0a0a0a;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#478bbd+0,ffffff+99&0.2+0,0+99 */
    background: -moz-linear-gradient(top, rgba(71,139,189,0.2) 0%, rgba(255,255,255,0) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33478bbd', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    background-size: cover;

    h4, .h4 {
        font-size: 1.0625rem;
        line-height: 1.0625rem;
    }

    p {
        font-size: 16px;
    }

    .main-header-title {
        line-height: 1.3;
        font-weight: normal;
        font-size: 25px;

        a {
            text-decoration: none;
            color: #0a0a0a;
            transition: color 0.5s ease;

            &:hover {
                text-decoration: underline;
                color: #0a0a0a;
            }
        }
    }

    .main-header-description {
        //color: $dark-gray;
        font-size: 19px;
        margin-bottom: 2rem;
    }

    .box-shadow {
        background: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 0;
        padding-top: 0;
    }

    .image {
        overflow: hidden;
        height: auto;
        max-height: 450px;
        position: relative;

        img{
            width: 100%;
            height: auto;
        }
    }

    .hr{
        border-bottom: 3px solid #D0021B;
        width: 100%;
        margin-bottom: 2rem;
    }

    .row{
        padding: 1rem;
    }
    
    .news-card {
        background-color: $white;
        font-weight: 400;
        margin-bottom: 1.6rem;
        border-radius: 0.125rem;
        box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);
        //height: 622px;

        img{
            width: 100%;
            height: auto;
            padding-top: 5%;
            padding-bottom: 5%;
        }
        
        .image-container {
            height: 110px;
            overflow: auto;
        }
    
        .card-section {
            background-color: inherit;
            min-height: rem-calc(112px);
        
            &.featured {
                background-color: $branding-color-light-grey;
                min-height: rem-calc(112px);
        
                .news-card-title {
                    line-height: 1.3;
                    font-weight: normal;
        
                    a {
                        text-decoration: none;
                        color: $branding-color-blue;
                        transition: color 0.5s ease;
            
                        &:hover {
                            text-decoration: underline;
                            color: $branding-color-blue;
                        }
                    }
                }
            }
        }
    
        .news-card-date {
            font-size: 1em;
            color: $dark-gray;
        }
    
        .news-card-article {
            background-color: inherit;
            padding: 5%;
            //max-height: 570px;
            //overflow: hidden;
    
            .news-card-title {
                line-height: 1.3;
                font-weight: normal;
                font-size: 25px;
                text-align: center;
    
                a {
                    text-decoration: none;
                    color: #0a0a0a;
                    transition: color 0.5s ease;
        
                    &:hover {
                        text-decoration: underline;
                        color: #0a0a0a;
                    }
                }
            }
    
            .news-card-description {
            color: $dark-gray;
            font-size: 19px;
            }
        }
    }
    .category{
        &--news {
            border-bottom: #D0021B 5px solid;
        }
  
        &--insights {
            border-bottom: #ECB319 5px solid;
        }
  
        &--tools{
            border-bottom: #2274B0 5px solid;
        }
    }
      
}