<section id="resource-article" class="row top-margin-xlrg bottom-margin-xlrg" aria-label="resources">
    <div class="large-12 columns">
        <div class="row column">
            <article>
                <div class="flexible-article-images-container">
                    <div class="large-12 columns">
                        <div class="row column">
                            <div class="flexible-article-content">
                                <h4>Why Identity Guard</h4>
                                <div class="flexible-article-image-flag-right">
                                    <div class="">
                                        <img src="/assets/img/about-us-flags.png" alt="">
                                    </div>
                                </div>
                                <p>For over 20 years, our company has partnered with some of the biggest names in the financial industry, protecting more than 47 million customers and resolving 130 thousand cases of identity fraud. Our website has been recognized in the Online Trust Audit and Honor Roll by the Online Trust Alliance six years in a row for implementing the best practices in data security and privacy; and our product, Total Protection, was “2015’s Best ID Protection Service” in Kiplinger Finance Magazine<sup>10</sup>.</p>
                                <p>As one of the leading providers of data breach response services, employee benefits programs and individual consumer products, we are committed to providing proven quality and trustworthy services to help organizations and individuals protect their most valuable assets.</p>
                                <p>We are proud to deliver products and services that meet the contemporary needs of organizations and consumers alike. From protecting the individual identities of employees to assisting a company preemptively prepare for a data breach, Identity Guard® strives to help all engaged in our services.</p>

                                <h4>Identity Guard<sup>®</sup> & Intersections Inc.</h4>
                                <p>Identity Guard® is provided by Intersection Inc. (NASDAQ:INTX), a Delaware Corporation that has been a leader in the identity protection space since 1996. In the past 2 decades, Intersections Inc. has protected more than 47 million US consumers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>