.callout.small.secondary
.callout.medium.secondary
.callout.large.secondary {

    background-color: #1d2e42;
}

.callout.small.secondary h1, 
.callout.small.secondary h2,
.callout.small.secondary h3,
.callout.small.secondary h4,
.callout.small.secondary h5,
.callout.small.secondary h6,

.callout.medium.secondary h1, 
.callout.medium.secondary h2,
.callout.medium.secondary h3,
.callout.medium.secondary h4,
.callout.medium.secondary h5,
.callout.medium.secondary h6,

.callout.large.secondary h1, 
.callout.large.secondary h2,
.callout.large.secondary h3,
.callout.large.secondary h4,
.callout.large.secondary h5,
.callout.large.secondary h6,{
    color: $white;
}

.social-link {
    transition-duration: 250ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    display: inline-block;
    margin: 0 10px;
    padding: 5px;
    vertical-align: middle;
    opacity: 1;
}

.social-link:hover {
    opacity: 0.5;
}