$about-the-author-text-transform: uppercase;
$about-the-author-separator-width: 5rem;
$about-the-author-separator-thickness: 0.125rem;

.global-3column-banner {

    color: #000;
    font-size: 20px;
    line-height: 1.3;

    .article-image {
        img {
            margin-bottom: 10px;
        }
    }

    &.gradient {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dce9f3+0,ffffff+67&1+0,0+67 */
        background: -moz-linear-gradient(top, rgba(220,233,243,1) 0%, rgba(255,255,255,0) 67%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(220,233,243,1) 0%,rgba(255,255,255,0) 67%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(220,233,243,1) 0%,rgba(255,255,255,0) 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dce9f3', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }

    h2 {
        font-size: 30px;
        font-family: "Open Sans SemiBold", sans-serif;
        line-height: 1.3;
        margin-bottom: 20px;

        &.percentage {
            font-size: 50px;
            font-family: "Open Sans SemiBold", sans-serif;
            line-height: 1.3;
            margin-bottom: 10px;
        }
    }

    p {
        font-size: 19px;
        line-height: 1.3;
        margin-bottom: 40px;
    }

    &.callout {
        background-color: #f8f9fa;
        color: #000;
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 0;

        &.callout.large {
            padding-top: 2rem;
            padding-right: 1rem;
            padding-bottom: 2rem;
            padding-left: 1rem;
        }

        &.primary {
            background-color: #f8f9fa;
            color: #000;
            font-size: 20px;
            line-height: 1.3;
        }
    }

}