#spinner {
    overflow: hidden;
}

input.input-large, .input-large {
    background: #eeeded;
    font-size: 21px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-align: center;
    width: auto;
}
.hidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}