.gradient1 {
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#478bbd+0,ffffff+99&0.2+0,0+99 */
    background: -moz-linear-gradient(top, rgba(71,139,189,0.2) 0%, rgba(255,255,255,0) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33478bbd', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    background-size: cover;

}

.gradient2 {
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#478bbd+0,ffffff+99&0.2+0,0+99 */
    background: -moz-linear-gradient(top, rgba(71,139,189,0.2) 0%, rgba(255,255,255,0) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33478bbd', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    background-size: cover;

}

.gradient3 {
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#478bbd+0,ffffff+99&0.2+0,0+99 */
    background: -moz-linear-gradient(top, rgba(71,139,189,0.2) 0%, rgba(255,255,255,0) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33478bbd', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    background-size: cover;

}

