<div id="contact-us" class="row top-margin-xlrg bottom-margin-xlrg">
    <div class="small-12 medium-12 large-12 columns">     

        <h5 class="main-header-title center">Hours:</h5>
        
        <div class="main-header-description center">
        <p>
        Monday – Friday : 8am -11pm (EST)</br>
        Saturday : 9am – 6pm (EST)</br>
        Sunday : Closed</br>
        </p>
        </div>

    </div>
    
    <div class="small-12 medium-12 large-12 columns">                
         
        <div class="row">
            <div class="small-12 medium-12 large-6 columns"> 

                <div class="card news-card"> 
                    
                    <div class="card-section">
                        
                        <div class="news-card-article">
                            <h5 class="news-card-title">Identity Guard Utilizing Watson</h5>

                            <img src="/assets/img/contact-us-watson.png">
                            <p>For account unlocks, alert information and membership questions, call <a href="tel:1-888-669-3238">1-855-443-7748</a> </p>

                            <p>Or send an email to: <a href="mailto:customersupport@identityguard.com">customersupport@identityguard.com</a> and we’ll respond in 24-48 hours.</p>
                        </div>
                    </div>
                    <div class="category--tools"></div>
                </div>

            </div>
            <div class="small-12 medium-12 large-6 columns"> 

                <div class="card news-card"> 
                    
                    <div class="card-section">
                        
                        <div class="news-card-article">
                            <h5 class="news-card-title">Identity Guard Classic</h5>

                            <img src="/assets/img/contact-us-idgclassic.png">
                            <p>For account unlocks, alert information and membership questions, call <a href="tel:1-800-452-2541">1-800-452-2541</a></p>

                            <p>Or send an email to: <a href="mailto:customersupport@identityguard.com">customersupport@identityguard.com</a> and we’ll respond in 24-48 hours.</p>
                        </div>
                    </div>
                    <div class="category--tools"></div>
                </div>

            </div>
         </div>

    </div>

    <div class="small-12 medium-12 large-12 columns bottom-margin-xlrg">                
        
        <h5 class="news-card-title">No account?</h5>
        
        <div class="news-card-description">
        <p>Or unsure which Identity Guard product you’re currently enrolled in? Give us a call with any questions at <a href="tel:1-877-505-7054">1-877-505-7054</a>
        To protect your privacy, please understand that we cannot answer questions regarding confidential information such as billing , account updates, or service cancellations via email.  We are committed to providing secure services to our members and updates to your account information can be done by logging into your account.</p>
        </div>

        <h5 class="news-card-title">Interested in partnerships, affiliate programs, data breach solutions or employee benefits?</h5>
        <div class="news-card-description"> 
        <p>For business related inquiries, please visit <a href="/">www.identityguardbusiness.com</a></p>
        </div>
    </div>
</div>