$caption-font-size: .9rem;
$news-card-label-background: $primary-color;
$news-card-label-background-hover: scale-color($news-card-label-background, $lightness: -15%);

/* ----- Resource Single Tag Header Layout ---- */

.alert-tag-static {
  
  &.red {
    background-color: $branding-color-red;
    font-size: .65em;
    color: $white;
    width: 30%;
  }

  &.green {
      background-color: $branding-color-green;
      font-size: .65em;
      color: $white;
      width: 35%;
  }

  &.yellow {
      background-color: $branding-color-yellow;
      font-size: .65em;
      color: $white;
      width: 60%;
  }
  
  &.show {
    display: block;
    //border: 1px solid #fff;
    border-radius: 5px;
    padding: 1px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
  }
  &.hide {
      display: none;
  }
}


.alert-tag {
  
  &.red {
    background-color: $branding-color-red;
    font-size: .65em;
    color: $white;
    width: 30%;
  }

  &.green {
      background-color: $branding-color-green;
      font-size: .65em;
      color: $white;
      width: 35%;
  }

  &.yellow {
      background-color: $branding-color-yellow;
      font-size: .65em;
      color: $white;
      width: 60%;
  }
  
  &.show {
    display: block;
    //border: 1px solid #fff;
    border-radius: 5px;
    padding: 1px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    text-transform: uppercase;
    z-index: 80;

    position: absolute;
    top: 15%;
    left: 7%;
  }
  &.hide {
      display: none;
  }
}

.breach-box {
 &.show {
     display: block;
     border: 1px solid #fff;
     border-radius: 5px;
     padding: 2px;
     padding-left: 2%;
     padding-right: 2%;
     text-align: center;
     width: 40%;
     margin: 0;
     margin-bottom: 20px;
     text-transform: uppercase;
 }
 &.hide {
     display: none;
 }
}


#resource-center,
#resource-center2,
#resource-article {

  .container{
    min-width: 1200px;
    margin: 0 auto;
    max-width: 1200px;
  }

  h4, .h4 {
    font-size: 1.44rem;
    line-height: 1.4625rem;
    margin-bottom: 1rem;
  }

  .about-the-author {
    background-color: $white;
    padding: 0;
    border: 1px solid $medium-gray;
    height: auto;
    max-height: 400px;

    p{
      font-size: 1rem;
    }

    p, h4 {
      margin-left: 1rem;
      margin-right: 1rem;
      max-height: 128px;
      overflow: hidden;
    }
  }

  .box-shadow {
    background: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 0;
    padding-top: 0;
  }

  .image {
    overflow: hidden;
    height: auto;
    max-height: 398px;
    position: relative;

    img{
      width: 100%;
      height: auto;
    }
  }

  .flexible-article-image-full {
    .thumbnail {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .caption {
      font-size: $caption-font-size;
    }
  }

  .caption {
    margin-top: 0;
    background: none;
  }
  
    .article-top-part{
      display: flex;
      justify-content: space-between;
      

      &--image{
        padding: 0;
        margin: 0 !important;
        img{
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
      &--text{
        width: 60%;
        margin-bottom: 2rem;

        p{
          padding: 2rem 0;
        }
      }
      
    }
    .date{
      padding: 1rem 0;

      &--card{
        padding: 0 0 10px 0;
        font-size: 12px;
      }
    }
    //blockquote
    blockquote{
      position: relative;
      border-left: none !important;
      margin: 4rem 2rem 4rem 2rem;
      color: #2274B0;
      font-size: 1.3rem;
      width: 75%;

      p{
        color: #2274B0;
      }

      &::before{
        position: absolute;
        content: open-quote;
        color: #D8D8D8;
        font-size: 4em;
        font-weight: 200;
        left: -30px;
        top: -20px;
      }

      .share-twitte{
        position: absolute;
        right:30px;
        bottom: -25px;
        font-size: 14px;
      }
    }
    
    ul{
      padding: 3rem 0;
    }

    .hr{
      border-bottom: 3px solid #D0021B;
      width: 100%;
      margin-bottom: 2rem;
    }

    .ad{
      padding-left: 40px;

      img {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
      }
    }
  
    .breadcrumbs{
      display: flex;
      color: #D0021B;
      margin-top: 1rem;

      a{
        color: #D0021B !important;
      }
  
      p{
        padding: 0;
        margin: 0;
        line-height: 0;
  
        &:after{
            content: "|";
            color: #333333;
            padding: 5px;
        }
      }
      p:last-child{
        &::after{
          content: " ";
        }
      }
      p:first-child{
        //padding: 0 5px 0 0px;
      }

      &--insights{
        color: #ECB319;
      }

      &--tools{
        color:#2274B0;
      }
      
      &--card{
        font-size: 14px;
      }
    }
  

  .flexible-article-content--title{
    font-size: 2.07rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
    line-height: 1.3;
  }

  .flexible-article-image-left {
    float: right;
    margin: 1rem 1.5rem 0 0;
    max-width: rem-calc(531);

    .caption {
      font-size: $caption-font-size;
    }

    @include breakpoint (small only) {
        float: none;
        max-width: 100%;
        margin: 0;

        .thumbnail {
          width:100%;

          img {
            width:100%;
          }
        }
    }
  }

  .flexible-article-image-right {
    float: right;
    //margin: 0 0 1rem 1.5rem;
    //max-width: rem-calc(200);
    display: inline;

    .caption {
      font-size: $caption-font-size;
    }

    @include breakpoint (small only) {
      float: none;
      max-width: 100%;
      margin: 0;

      .thumbnail {
        width:100%;

        img {
          width:100%;
        }
      }
    }
  }

  .flexible-article-image-flag-left {
    float: left;
    margin: 1rem 1.5rem 0 0;
    max-width: rem-calc(450);

    .caption {
      font-size: $caption-font-size;
    }

    @include breakpoint (small only) {
        float: none;
        max-width: 100%;
        margin: 0;

        .thumbnail {
          width:100%;

          img {
            width:100%;
          }
        }
    }
  }

  .flexible-article-image-flag-right {
    float: right;
    margin: 0 0 1rem 1.5rem;
    max-width: rem-calc(450);
    display: inline;

    .caption {
      font-size: $caption-font-size;
    }

    @include breakpoint (small only) {
      float: none;
      max-width: 100%;
      margin: 0;

      .thumbnail {
        width:100%;

        img {
          width:100%;
        }
      }
    }
  }

  /* ----- Resource Single Tag Header Layout ---- */

  .breach-box {
      &.show {
          display: block;
          border: 1px solid #fff;
          border-radius: 5px;
          padding: 2px;
          padding-left: 2%;
          padding-right: 2%;
          text-align: center;
          width: 20%;
          margin: 0 auto;
          margin-bottom: 20px;
          text-transform: uppercase;
      }
      &.hide {
          display: none;
      }
  }

  /* ----- Resource Multiple Tag Layout ---- */

  .article-tag {
      margin: 0 auto;
      width: 100%;
      font-size: .75rem;
      width: 30%;
      clear: both;
      margin-bottom: 5%;
      .breach-box {
          &.show {
              display: block;
              float: left;
              border: 1px solid $color-light-text;
              border-radius: 5px;
              padding: .4rem;
              text-align: center;
              width: auto;
              margin-left: 2px;
              margin-right: 2px;
              text-transform: uppercase;
          }
          &.hide {
              display: none;
          }
      }
  }

  /* ----- Resource Article Components Layout ---- */

  .resource-header {
    float: left; 
    width: 100%; 
    //padding-left: 1.4rem;
    text-align: center;
    text-transform: capitalize;
    color: #0a0a0a;
  }

  .news-card-tag {
    margin-bottom: 0.5rem;

    .label {
      border-radius: 0.125rem;
      background-color: $news-card-label-background;
      color: $white;

      a {
        background-color: inherit;
        color: #0a0a0a;
      }

      &:hover,
      &:focus {
        background-color: $news-card-label-background-hover;

        a {
          background-color: inherit;
          color: #0a0a0a;
        }
      }
    }
  }
  .all {
    display: none;
  }
  .news{
    border-bottom: #D0021B 5px solid;
    display: none;
  }
  .data-breaches{
    border-bottom: #D0021B 5px solid;
    display: none;
  }
  .loadmore-news-data-breaches{
    display: none;
  }
  .tools{
      border-bottom: #2274B0 5px solid;
      display: none;
  }
  .insights{
      border-bottom: #ECB319 5px solid;
      display: none;
  }
  .loadmore{
    display: none;
  }
  .loadmore-news{
    display: none;
  }
  .loadmore-insights{
    display: none;
  }
  .loadmore-tools{
    display: none;
  }
  .loadmore-container{
    text-align: center;
    padding: 30px 0;
    width: 100%;
  }
  .news-card {
    //display: none;
    background-color: $white;
    font-weight: 400;
    margin-bottom: 1.6rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.14);
    height: 386px;
    min-height: 355px;

    .image {
      overflow: hidden;
      max-height: 190px;
      position: relative;
    }

    .card-section {
      background-color: inherit;
      //min-height: rem-calc(270px);
      min-height: 5rem !important;

      &.featured {
        background-color: $branding-color-light-grey;
        min-height: rem-calc(270px);

        .news-card-title {
          line-height: 1.3;
          font-weight: normal;

          a {
            text-decoration: none;
            color: #0a0a0a;
            transition: color 0.5s ease;

            &:hover {
              text-decoration: underline;
              color: #0a0a0a;
            }
          }
        }
      }

      .news-card-date {
        font-size: 1em;
        color: $dark-gray;
      }

      .news-card-article {
        background-color: inherit;

        .news-card-title {
          line-height: 1.3;
          font-weight: normal;

          a {
            text-decoration: none;
            color: #0a0a0a;
            transition: color 0.5s ease;

            &:hover {
              text-decoration: underline;
              color: #0a0a0a;
            }
          }
        }

        .news-card-description {
          color: #0a0a0a;
          font-size: 12px;
          max-height: 40px;
          overflow: hidden;
          height: 40px;
        }
      }

      .news-card-author {
        overflow: hidden;
        padding-bottom: 1rem;

        .news-card-author-image {
          display: inline-block;
          vertical-align: middle;

          img {
            border-radius: 50%;
            margin-right: 0.6em;
          }
        }

        .news-card-author-name {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    .category{
      &--news{
        border-bottom: #D0021B 5px solid;
        //display: none;
      }

      &--insights{
        border-bottom: #ECB319 5px solid;
      }

      &--tools{
        border-bottom: #2274B0 5px solid;
      }
    }
  }
  .article-details{
    padding: 0 30px;
    width: 90%;
    float: right;
  }
  .social-nav{
    width: 8%;
    padding: 0 30px;
    list-style-type: none;
    float: left;
    position: fixed;
    display: block;
    margin: 0;
    li{
      width: 100%;
    }
  }
}

.mobile{
  display: none !important;
}
.destop{
  display: block !important;
}
