$caption-font-size: .9rem;
$news-card-label-background: $primary-color;
$news-card-label-background-hover: scale-color($news-card-label-background, $lightness: -15%);

.alert-tag-static {
  
  &.red {
    background-color: $branding-color-red;
    font-size: .65em;
    color: $white;
    width: 30%;
  }

  &.green {
      background-color: $branding-color-green;
      font-size: .65em;
      color: $white;
      width: 35%;
  }

  &.yellow {
      background-color: $branding-color-yellow;
      font-size: .65em;
      color: $white;
      width: 60%;
  }
  
  &.show {
    display: block;
    //border: 1px solid #fff;
    border-radius: 5px;
    padding: 1px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
  }
  &.hide {
      display: none;
  }
}

.alert-tag {
  
  &.red {
    background-color: $branding-color-red;
    font-size: .65em;
    color: $white;
    width: 30%;
  }

  &.green {
      background-color: $branding-color-green;
      font-size: .65em;
      color: $white;
      width: 35%;
  }

  &.yellow {
      background-color: $branding-color-yellow;
      font-size: .65em;
      color: $white;
      width: 50%;
  }

  &.show {
    display: block;
    //border: 1px solid #fff;
    border-radius: 5px;
    padding: 1px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    text-transform: uppercase;
    z-index: 80;

    position: absolute;
    top: 15%;
    left: 7%;
  }
  &.hide {
      display: none;
  }
  &.hide {
      display: none;
  }
}

.breach-box {
 &.show {
     display: block;
     //border: 1px solid #fff;
     border-radius: 5px;
     padding: 2px;
     padding-left: 2%;
     padding-right: 2%;
     text-align: center;
     width: 90%;
     margin: 0 auto;
     margin-bottom: 20px;
     text-transform: uppercase;
 }
 &.hide {
     display: none;
 }
}

#resource-center,
#resource-center2,
#resource-article {

  .container{
    max-width: 1200px;
    margin: 0 auto;
  }

  h4, .h4 {
    font-size: 1.1625rem;
    line-height: 1.1625rem;
  }

  .about-the-author {
    background-color: $white;
    padding: 0;
    border: 1px solid $medium-gray;
    height: auto;
  }

  .box-shadow {
    background: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 0;
    padding-top: 0;
  }

  .image {
    overflow: hidden;
    height: auto;
    max-height: 450px;
    position: relative;

    img{
      width: 100%;
      height: auto;
    }
  }

  .flexible-article-image-full {
    .thumbnail {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .caption {
      font-size: $caption-font-size;
    }
  }

  .flexible-article-content--title{
    //font-size: 2.07rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
    //line-height: 1.3;
  }

  .flexible-article-image-left {
    float: left;
    margin: 1rem 1.5rem 0 0;
    max-width: rem-calc(531);
    //display: none;

    .caption {
      font-size: $caption-font-size;
    }

    @include breakpoint (small only) {
      float: none;
      max-width: 100%;
      margin: 0;

      .thumbnail {
        width:100%;

        img {
          width:100%;
        }
      }
    }
  }

  .flexible-article-image-right {
    // float: right;
    // margin: 0 0 1rem 1.5rem;
    // max-width: rem-calc(200);
    // display: inline;
    float: none;
    margin: 0;
    max-width: 100%;
    display: block;

    .caption {
      font-size: $caption-font-size;
    }

    @include breakpoint (small only) {
      float: none;
      max-width: 100%;
      margin: 0;

      .thumbnail {
        width:100%;

        img {
          width:100%;
        }
      }
    }
  }

  .flexible-article-image-flag-left {
    float: left;
    margin: 1rem 1.5rem 0 0;
    max-width: rem-calc(450);

    .caption {
      font-size: $caption-font-size;
    }

    @include breakpoint (small only) {
        float: none;
        max-width: 100%;
        margin: 0;

        .thumbnail {
          width:100%;

          img {
            width:100%;
          }
        }
    }
  }

  .flexible-article-image-flag-right {
    float: right;
    margin: 0 0 1rem 1.5rem;
    max-width: rem-calc(450);
    display: inline;

    .caption {
      font-size: $caption-font-size;
    }

    @include breakpoint (small only) {
      float: none;
      max-width: 100%;
      margin: 0;

      .thumbnail {
        width:100%;

        img {
          width:100%;
        }
      }
    }
  }

  /* ----- Resource Single Tag Header Layout ---- */

  .breach-box {
      &.show {
          display: block;
          border: 1px solid #fff;
          border-radius: 5px;
          padding: 2px;
          padding-left: 2%;
          padding-right: 2%;
          text-align: center;
          width: 20%;
          margin: 0 auto;
          margin-bottom: 20px;
          text-transform: uppercase;
      }
      &.hide {
          display: none;
      }
  }

  /* ----- Resource Multiple Tag Layout ---- */

  .article-tag {
      margin: 0 auto;
      width: 100%;
      font-size: .75rem;
      width: 50%;
      clear: both;
      margin-bottom: 10%;
      .breach-box {
          &.show {
              display: block;
              float: left;
              border: 1px solid $color-light-text;
              border-radius: 5px;
              padding: .4rem;
              text-align: center;
              width: auto;
              margin-left: 2px;
              margin-right: 2px;
              text-transform: uppercase;
          }
          &.hide {
              display: none;
          }
      }
  }

  /* ----- Resource Article Components Layout ---- */


  .resource-header {
    float: left; 
    width: 50%; 
    padding-left: 1.4rem;
    text-transform: uppercase;
    color: $color-light-text;
  }

  .news{
    border-bottom: #D0021B 5px solid;
  }
  .tools{
      border-bottom: #2274B0 5px solid;
  }
  .insights{
      border-bottom: #ECB319 5px solid;
  }

  .news-card {
    background-color: $white;
    font-weight: 400;
    margin-bottom: 1.6rem;
    border-radius: 0.125rem;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);

    .image {
      overflow: hidden;
      max-height: 190px;
      position: relative;
    }

    .card-section {
      background-color: inherit;
      min-height: rem-calc(150px);

      &.featured {
        background-color: $branding-color-light-grey;
        min-height: rem-calc(150px);

        .news-card-title {
          line-height: 1.3;
          font-weight: normal;

          a {
            text-decoration: none;
            color: $branding-color-blue;
            transition: color 0.5s ease;

            &:hover {
              text-decoration: underline;
              color: $branding-color-blue;
            }
          }
        }
      }

      .news-card-date {
        font-size: 1em;
        color: $dark-gray;
      }

      .news-card-article {
        background-color: inherit;

        .news-card-title {
          line-height: 1.3;
          font-weight: normal;

          a {
            text-decoration: none;
            color: #0a0a0a;
            transition: color 0.5s ease;

            &:hover {
              text-decoration: underline;
              color: #0a0a0a;
            }
          }
        }

        .news-card-description {
          color: $dark-gray;
        }
      }

      .news-card-author {
        overflow: hidden;
        padding-bottom: 1.6rem;

        .news-card-author-image {
          display: inline-block;
          vertical-align: middle;

          img {
            border-radius: 50%;
            margin-right: 0.6em;
          }
        }

        .news-card-author-name {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .category{
      &--news{
        border-bottom: #D0021B 5px solid;
      }

      &--insights{
        border-bottom: #ECB319 5px solid;
      }

      &--tools{
        border-bottom: #2274B0 5px solid;
      }
    }
  }
}
.destop{
  display: none !important;
}
.mobile{
  display: block !important;
}