$caption-font-size: .9rem;
$news-card-label-background: $primary-color;
$news-card-label-background-hover: scale-color($news-card-label-background, $lightness: -15%);


.alert-tag-static {
  
    &.red {
      background-color: $branding-color-red;
      font-size: .65em;
      color: $white;
      width: 30%;
    }
  
    &.green {
        background-color: $branding-color-green;
        font-size: .65em;
        color: $white;
        width: 35%;
    }
  
    &.yellow {
        background-color: $branding-color-yellow;
        font-size: .65em;
        color: $white;
        width: 60%;
    }
    
    &.show {
      display: block;
      //border: 1px solid #fff;
      border-radius: 5px;
      padding: 1px;
      padding-left: 2%;
      padding-right: 2%;
      text-align: center;
      text-transform: uppercase;
      margin-top: 1rem;
    }
    &.hide {
        display: none;
    }
  }
  
  
  .alert-tag {
    
    &.red {
      background-color: $branding-color-red;
      font-size: .65em;
      color: $white;
      width: 30%;
    }
  
    &.green {
        background-color: $branding-color-green;
        font-size: .65em;
        color: $white;
        width: 35%;
    }
  
    &.yellow {
        background-color: $branding-color-yellow;
        font-size: .65em;
        color: $white;
        width: 60%;
    }
    
    &.show {
      display: block;
      //border: 1px solid #fff;
      border-radius: 5px;
      padding: 1px;
      padding-left: 2%;
      padding-right: 2%;
      text-align: center;
      text-transform: uppercase;
      z-index: 80;
  
      position: absolute;
      top: 15%;
      left: 7%;
    }
    &.hide {
        display: none;
    }
  }
  
  .breach-box {
   &.show {
       display: block;
       border: 1px solid #fff;
       border-radius: 5px;
       padding: 2px;
       padding-left: 2%;
       padding-right: 2%;
       text-align: center;
       width: 40%;
       margin: 0;
       margin-bottom: 20px;
       text-transform: uppercase;
   }
   &.hide {
       display: none;
   }
  }

  #resource-center,
  #resource-center2,
  #resource-article {

    .container{
        max-width: 1200px;
        margin: 0 auto;
    }

    h4, .h4 {
        font-size: 1.0625rem;
        line-height: 1.0625rem;
    }

    .about-the-author {
        background-color: $white;
        padding: 0;
        border: 1px solid $medium-gray;
        height: auto;

        p, h4, a,
        p.alert-tag-static {
          margin-left: 1rem;
        }
    }

    .cards-container{
        width: 100%;
    }

    .box-shadow {
        background: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 0;
        padding-top: 0;
      }

    .image {
        overflow: hidden;
        height: auto;
        max-height: 450px;
        position: relative;

        img{
            width: 100%;
            height: auto;
          }
      }

    .flexible-article-image-full {
        .thumbnail {
            width: 100%;

            img {
            width: 100%;
            }
        }

        .caption {
            font-size: $caption-font-size;
        }
    }

    .date{
        padding: 1rem 0;
  
        &--card{
          padding: 0 0 10px 0;
          font-size: 12px;
        }
    }

    .breadcrumbs{
        display: flex;
        color: #D0021B;
        margin-top: 1rem;
       
        a{
            color: #D0021B !important;  
        }
    
        p{
          padding: 0;
          margin: 0;
          line-height: 0;
    
          &:after{
              content: "|";
              color: #333333;
              padding: 5px;
          }
        }
        p:last-child{
          &::after{
            content: " ";
          }
        }
        p:first-child{
          //padding: 0 5px 0 0px;
        }

        &--insights{
            color: #ECB319;
          }
    
          &--tools{
            color:#2274B0;
          }
          
          &--card{
            font-size: 14px;
          }
        
        &--card{
          font-size: 14px;
        }
    }

    //blockquote
    blockquote{
        position: relative;
        border-left: none !important;
        margin: 4rem 2rem 4rem 2rem;
        color: #2274B0;
        color: #2274B0; 
        font-size: 1.3rem;
        width: 75%;

        p{
            color: #2274B0;
        }
  
        &::before{
          position: absolute;
          content: open-quote;
          color: #D8D8D8;
          font-size: 4em;
          font-weight: 200;
          left: -30px;
          top: -20px;
        }
  
        .share-twitte{
          position: absolute;
          right:0;
          bottom: -25px;
          font-size: 14px;
        }
    }

    .hr{
        border-bottom: 3px solid #D0021B;
        width: 100%;
        margin-bottom: 2rem;
      }

    .row{
        padding: 1rem;
    }

    .cat-topics{
        text-align: center;
        max-width: 1200px;
        margin: 0 auto 1rem auto;
        font-size: 12px;
        
        span{
            padding: 0 5px;
        }
        
        a{
            color: #333333 !important;
            
            &:hover{
                text-decoration: underline;
            }
        }


        &--title{
            color: #B1B1B1;           
            text-align: center;
            display: none;
        }

        &--news{
            text-align: center;     
            display: none;
            padding: 10px 0;
        }

        &--insights{
            text-align: center; 
            display: none;   
            padding: 10px 0;    
        }

        &--tools{
            text-align: center; 
            display: none;   
            padding: 10px 0;    
        }
    }
    .flexible-article-content--title{
        //font-size: 2.07rem;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
        //line-height: 1.3;
      }

    .flexible-article-image-left {
        float: left;
        margin: 1rem 1.5rem 0 0;
        max-width: rem-calc(200);
        //display: none;

        .caption {
            font-size: $caption-font-size;
        }

        @include breakpoint (small only) {
            float: none;
            max-width: 100%;
            margin: 0;

            .thumbnail {
                width:100%;
                img {
                    width:100%;
                }
            }
        }
    }

    .flexible-article-image-right {
        float: right;
        margin: 0 0 1rem 1.5rem;
        max-width: rem-calc(200);
        display: inline;

        .caption {
            font-size: $caption-font-size;
        }

        @include breakpoint (small only) {
            float: none;
            max-width: 100%;
            margin: 0;

            .thumbnail {
            width:100%;

                img {
                    width:100%;
                }
            }
        }
    }

    .flexible-article-image-flag-left {
        float: left;
        margin: 1rem 1.5rem 0 0;
        max-width: rem-calc(450);
    
        .caption {
          font-size: $caption-font-size;
        }
    
        @include breakpoint (small only) {
            float: none;
            max-width: 100%;
            margin: 0;
    
            .thumbnail {
              width:100%;
    
              img {
                width:100%;
              }
            }
        }
      }
    
      .flexible-article-image-flag-right {
        float: right;
        margin: 0 0 1rem 1.5rem;
        max-width: rem-calc(450);
        display: inline;
    
        .caption {
          font-size: $caption-font-size;
        }
    
        @include breakpoint (small only) {
          float: none;
          max-width: 100%;
          margin: 0;
    
          .thumbnail {
            width:100%;
    
            img {
              width:100%;
            }
          }
        }
      }

    /* ----- Resource Single Tag Header Layout ---- */

    .breach-box {
        &.show {
            display: block;
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 2px;
            padding-left: 2%;
            padding-right: 2%;
            text-align: center;
            width: 20%;
            margin: 0 auto;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        &.hide {
            display: none;
        }
    }

    /* ----- Resource Multiple Tag Layout ---- */

    .article-tag {
        margin: 0 auto;
        width: 100%;
        font-size: .75rem;
        width: 100%;
        clear: both;
        margin-bottom: 20%;

        .breach-box {
            &.show {
                display: block;
                float: left;
                border: 1px solid $color-light-text;
                border-radius: 5px;
                padding: .4rem;
                text-align: center;
                width: auto;
                margin-left: 2px;
                margin-right: 2px;
                text-transform: uppercase;
            }
            &.hide {
                display: none;
            }
        }
    }

    /* ----- Resource Article Components Layout ---- */

    .resource-header {
        float: left; 
        width: 100%; 
        padding-left: 1.4rem;
        text-transform: uppercase;
        color: $color-light-text;
    }
    
    .news-card-tag {
        margin-bottom: 0.5rem;
    
        .label {
        border-radius: 0.125rem;
        background-color: $news-card-label-background;
        color: $white;
    
            a {
                background-color: inherit;
                color: inherit;
            }
        
            &:hover,
            &:focus {
                background-color: $news-card-label-background-hover;
        
                a {
                background-color: inherit;
                color: inherit;
                }
            }
        }
    }

    .news{
        border-bottom: #D0021B 5px solid;
    }
    .tools{
        border-bottom: #2274B0 5px solid;
    }
    .insights{
        border-bottom: #ECB319 5px solid;
    }
    
    .news-card {
        background-color: $white;
        font-weight: 400;
        margin-bottom: 1.6rem;
        border-radius: 0.125rem;
        box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);
    
        .image {
            overflow: hidden;
            max-height: 190px;
            position: relative;
        }

        img{
        width: 100%;
        height: auto;
        }
        
        .image-container {
        height: 110px;
        overflow: auto;
        }
    
        .card-section {
        background-color: inherit;
        min-height: rem-calc(112px);
    
        &.featured {
            background-color: $branding-color-light-grey;
            min-height: rem-calc(112px);
    
            .news-card-title {
            line-height: 1.3;
            font-weight: normal;
    
                a {
                    text-decoration: none;
                    color: $branding-color-blue;
                    transition: color 0.5s ease;
        
                    &:hover {
                    text-decoration: underline;
                    color: $branding-color-blue;
                    }
                }
            }
        }
    
        .news-card-date {
            font-size: 1em;
            color: $dark-gray;
        }
    
        .news-card-article {
            background-color: inherit;
    
            .news-card-title {
                line-height: 1.3;
                font-weight: normal;
    
                a {
                    text-decoration: none;
                    color: #0a0a0a;
                    transition: color 0.5s ease;
        
                    &:hover {
                        text-decoration: underline;
                        color: #0a0a0a;
                    }
                }
            }
    
            .news-card-description {
            color: $dark-gray;
            }
        }
    
        .news-card-author {
            overflow: hidden;
            padding-bottom: 1.6rem;
    
            .news-card-author-image {
                display: inline-block;
                vertical-align: middle;
        
                img {
                    border-radius: 50%;
                    margin-right: 0.6em;
                }
            }
    
            .news-card-author-name {
                display: inline-block;
                vertical-align: middle;
            }
        }
        }
    }
    .category{
        &--news{
          border-bottom: #D0021B 5px solid;
        }
  
        &--insights{
          border-bottom: #ECB319 5px solid;
        }
  
        &--tools{
          border-bottom: #2274B0 5px solid;
        }
      }

      .article-details{
        padding: 0 30px;
        width: 100%;
        float: right;
        margin-top:20px;
      }
      .social-nav{
        width: 100%;
        padding: 0 30px;
        margin: 0;
        list-style-type: none;
        float: none;
        position: relative;
        text-align: center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        li{
            width: 20%;
            display: inline-block;
        }
      }
      
}

.mobile{
    display: block !important;
}
.destop{
    display: none !important;
}
