$caption-font-size: .9rem;
$news-card-label-background: $primary-color;
$news-card-label-background-hover: scale-color($news-card-label-background, $lightness: -15%);

.alert-tag-static {
  
  &.red {
    background-color: $branding-color-red;
    font-size: .65em;
    color: $white;
    width: 30%;
  }

  &.green {
      background-color: $branding-color-green;
      font-size: .65em;
      color: $white;
      width: 35%;
  }

  &.yellow {
      background-color: $branding-color-yellow;
      font-size: .65em;
      color: $white;
      width: 60%;
  }
  
  &.show {
    display: block;
    //border: 1px solid #fff;
    border-radius: 5px;
    padding: 1px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
  }
  &.hide {
      display: none;
  }
}

.alert-tag {
  
  &.red {
    background-color: $branding-color-red;
    font-size: .65em;
    color: $white;
    width: 30%;
  }

  &.green {
      background-color: $branding-color-green;
      font-size: .65em;
      color: $white;
      width: 35%;
  }

  &.yellow {
      background-color: $branding-color-yellow;
      font-size: .65em;
      color: $white;
      width: 50%;
  }

  &.show {
    display: block;
    //border: 1px solid #fff;
    border-radius: 5px;
    padding: 1px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    text-transform: uppercase;
    z-index: 80;

    position: absolute;
    top: 15%;
    left: 7%;
  }
  &.hide {
      display: none;
  }
  &.hide {
      display: none;
  }
}

.breach-box {
 &.show {
     display: block;
     //border: 1px solid #fff;
     border-radius: 5px;
     padding: 2px;
     padding-left: 2%;
     padding-right: 2%;
     text-align: center;
     width: 90%;
     margin: 0 auto;
     margin-bottom: 20px;
     text-transform: uppercase;
 }
 &.hide {
     display: none;
 }
}

#portfolio-component,
#portfolio-component2,
#portfolio-article {

  .portfolio-title {

    font-size: 30px;
    text-transform: uppercase;
    text-align: center;

    &.font-color-1 {
        color: $branding-font-header-color-1; //dark orange
    }

    &.font-color-2 {
        color: $branding-font-header-color-2;; //yellow
    }

    &.font-color-3 {
        color: $branding-font-header-color-3;; //dark blue
    }

    &.font-color-4 {
        color: $branding-font-header-color-4;; //light yellow
    }

    &.font-color-5 {
        color: $branding-font-header-color-5; //light yellow
    }

    &.font-color-6 {
        color: $branding-font-header-color-6; //light yellow
    }
  }

  .show {
    display: block;
  }
  
  .hide {
      display: none;
  }

  .container{
    max-width: 1200px;
    margin: 0 auto;
  }

  h4, .h4 {
    font-size: 1.1625rem;
    line-height: 1.1625rem;
  }

  .about-the-author {
    background-color: $white;
    padding: 0;
    border: 1px solid $medium-gray;
    height: auto;
  }

  .box-shadow {
    background: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 0;
    padding-top: 0;
  }

  .image {
    overflow: hidden;
    height: 400px;
    //max-height: 450px;
    position: relative;

    img{
      width: 100%;
      height: auto;
    }
  }

  .flexible-article-image-full {
    .thumbnail {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .caption {
      font-size: $caption-font-size;
    }
  }

  .flexible-article-content--title{
    //font-size: 2.07rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
    //line-height: 1.3;
  }

  .flexible-article-image-left {
    float: left;
    margin: 1rem 1.5rem 0 0;
    max-width: rem-calc(531);
    //display: none;

    .caption {
      font-size: $caption-font-size;
    }

    @include breakpoint (small only) {
      float: none;
      max-width: 100%;
      margin: 0;

      .thumbnail {
        width:100%;

        img {
          width:100%;
        }
      }
    }
  }

  .flexible-article-image-right {
    // float: right;
    // margin: 0 0 1rem 1.5rem;
    // max-width: rem-calc(200);
    // display: inline;
    float: none;
    margin: 0;
    max-width: 100%;
    display: block;

    .caption {
      font-size: $caption-font-size;
    }

    @include breakpoint (small only) {
      float: none;
      max-width: 100%;
      margin: 0;

      .thumbnail {
        width:100%;

        img {
          width:100%;
        }
      }
    }
  }

  .flexible-article-image-flag-left {
    float: left;
    margin: 1rem 1.5rem 0 0;
    max-width: rem-calc(450);

    .caption {
      font-size: $caption-font-size;
    }

    @include breakpoint (small only) {
        float: none;
        max-width: 100%;
        margin: 0;

        .thumbnail {
          width:100%;

          img {
            width:100%;
          }
        }
    }
  }

  .flexible-article-image-flag-right {
    float: right;
    margin: 0 0 1rem 1.5rem;
    max-width: rem-calc(450);
    display: inline;

    .caption {
      font-size: $caption-font-size;
    }

    @include breakpoint (small only) {
      float: none;
      max-width: 100%;
      margin: 0;

      .thumbnail {
        width:100%;

        img {
          width:100%;
        }
      }
    }
  }

  /* ----- Resource Single Tag Header Layout ---- */

  .breach-box {
      &.show {
          display: block;
          border: 1px solid #fff;
          border-radius: 5px;
          padding: 2px;
          padding-left: 2%;
          padding-right: 2%;
          text-align: center;
          width: 20%;
          margin: 0 auto;
          margin-bottom: 20px;
          text-transform: uppercase;
      }
      &.hide {
          display: none;
      }
  }

  /* ----- Resource Multiple Tag Layout ---- */

  .article-tag {
      margin: 0 auto;
      width: 100%;
      font-size: .75rem;
      width: 50%;
      clear: both;
      margin-bottom: 10%;
      .breach-box {
          &.show {
              display: block;
              float: left;
              border: 1px solid $color-light-text;
              border-radius: 5px;
              padding: .4rem;
              text-align: center;
              width: auto;
              margin-left: 2px;
              margin-right: 2px;
              text-transform: uppercase;
          }
          &.hide {
              display: none;
          }
      }
  }

  /* ----- Resource Article Components Layout ---- */


  .resource-header {
    float: left; 
    width: 50%; 
    padding-left: 1.4rem;
    text-transform: uppercase;
    color: $color-light-text;
  }

  .news-card {
    position: relative;
    background-color: $white;
    font-weight: 400;
    margin-bottom: 1.6rem;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);

    .image {
      overflow: hidden;
      position: relative;
      height: 400px;
      
    }


    .text {

      padding: 15px;
      padding-top: 10px;
      text-align: center;
      line-height: 22px;

      h2, h3 {

          color: white;
          font-size: 25px;
          text-align: center;
  
        }

      p {
          color: white;
          font-size: 18px;
          text-align: center;
          line-height: 25px;
      }
  
  }

    .card-overlay {

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      padding-top: 0%;
      padding-bottom: 0%;

      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf5418+0,f76b1c+100&0.9+0,0.9+100 */
      background: -moz-linear-gradient(top, rgba(191,84,24,0.9) 0%, rgba(247,107,28,0.9) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bf5418', endColorstr='#e6f76b1c',GradientType=0 ); /* IE6-9 */

      background-size: cover;
      
      overflow: hidden;
      width: 100%;
      height: 0%;
      transition: .5s ease;

      &.gradient1 {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3023ae+0,c86dd7+100&0.9+1,0.9+100 */
        background: -moz-linear-gradient(top, rgba(48,35,174,0.9) 0%, rgba(50,36,174,0.9) 1%, rgba(200,109,215,0.9) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(48,35,174,0.9) 0%,rgba(50,36,174,0.9) 1%,rgba(200,109,215,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(48,35,174,0.9) 0%,rgba(50,36,174,0.9) 1%,rgba(200,109,215,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63023ae', endColorstr='#e6c86dd7',GradientType=0 ); /* IE6-9 */
      }

      &.gradient2 {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#188e9b+0,6dd7c7+100&0.9+1,0.9+100 */
          background: -moz-linear-gradient(top, rgba(24,142,155,0.9) 0%, rgba(25,143,155,0.9) 1%, rgba(109,215,199,0.9) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(24,142,155,0.9) 0%,rgba(25,143,155,0.9) 1%,rgba(109,215,199,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(24,142,155,0.9) 0%,rgba(25,143,155,0.9) 1%,rgba(109,215,199,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6188e9b', endColorstr='#e66dd7c7',GradientType=0 ); /* IE6-9 */
      }

      &.gradient3 {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9f041b+0,f5515f+100&0.9+1,0.9+100 */
          background: -moz-linear-gradient(top, rgba(159,4,27,0.9) 0%, rgba(160,5,28,0.9) 1%, rgba(245,81,95,0.9) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(159,4,27,0.9) 0%,rgba(160,5,28,0.9) 1%,rgba(245,81,95,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(159,4,27,0.9) 0%,rgba(160,5,28,0.9) 1%,rgba(245,81,95,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e69f041b', endColorstr='#e6f5515f',GradientType=0 ); /* IE6-9 */
      }

      &.gradient4 {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3023ae+0,53a0fd+100&0.9+1,0.9+100 */
          background: -moz-linear-gradient(top, rgba(48,35,174,0.9) 0%, rgba(48,36,175,0.9) 1%, rgba(83,160,253,0.9) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(48,35,174,0.9) 0%,rgba(48,36,175,0.9) 1%,rgba(83,160,253,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(48,35,174,0.9) 0%,rgba(48,36,175,0.9) 1%,rgba(83,160,253,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63023ae', endColorstr='#e653a0fd',GradientType=0 ); /* IE6-9 */
      }

      &.gradient5 {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf5418+0,f76b1c+100&0.9+0,0.9+100 */
          background: -moz-linear-gradient(top, rgba(191,84,24,0.9) 0%, rgba(247,107,28,0.9) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bf5418', endColorstr='#e6f76b1c',GradientType=0 ); /* IE6-9 */            
      }

      &.gradient6 {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#034181+0,0776b7+100&0.9+1,0.9+100 */
          background: -moz-linear-gradient(top, rgba(3,65,129,0.9) 0%, rgba(3,66,130,0.9) 1%, rgba(7,118,183,0.9) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(3,65,129,0.9) 0%,rgba(3,66,130,0.9) 1%,rgba(7,118,183,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(3,65,129,0.9) 0%,rgba(3,66,130,0.9) 1%,rgba(7,118,183,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6034181', endColorstr='#e60776b7',GradientType=0 ); /* IE6-9 */
      }
    
    }

  .card-overlay2 {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding-top: 0%;
    padding-bottom: 0%;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf5418+0,f76b1c+100&0.9+0,0.9+100 */
    background: -moz-linear-gradient(top, rgba(191,84,24,0.9) 0%, rgba(247,107,28,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bf5418', endColorstr='#e6f76b1c',GradientType=0 ); /* IE6-9 */            
                
    background-size: cover;     

    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;

    &.gradient1 {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3023ae+0,c86dd7+100&0.9+1,0.9+100 */
        background: -moz-linear-gradient(top, rgba(48,35,174,0.9) 0%, rgba(50,36,174,0.9) 1%, rgba(200,109,215,0.9) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(48,35,174,0.9) 0%,rgba(50,36,174,0.9) 1%,rgba(200,109,215,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(48,35,174,0.9) 0%,rgba(50,36,174,0.9) 1%,rgba(200,109,215,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63023ae', endColorstr='#e6c86dd7',GradientType=0 ); /* IE6-9 */
    }

    &.gradient2 {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#188e9b+0,6dd7c7+100&0.9+1,0.9+100 */
        background: -moz-linear-gradient(top, rgba(24,142,155,0.9) 0%, rgba(25,143,155,0.9) 1%, rgba(109,215,199,0.9) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(24,142,155,0.9) 0%,rgba(25,143,155,0.9) 1%,rgba(109,215,199,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(24,142,155,0.9) 0%,rgba(25,143,155,0.9) 1%,rgba(109,215,199,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6188e9b', endColorstr='#e66dd7c7',GradientType=0 ); /* IE6-9 */
    }

    &.gradient3 {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9f041b+0,f5515f+100&0.9+1,0.9+100 */
        background: -moz-linear-gradient(top, rgba(159,4,27,0.9) 0%, rgba(160,5,28,0.9) 1%, rgba(245,81,95,0.9) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(159,4,27,0.9) 0%,rgba(160,5,28,0.9) 1%,rgba(245,81,95,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(159,4,27,0.9) 0%,rgba(160,5,28,0.9) 1%,rgba(245,81,95,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e69f041b', endColorstr='#e6f5515f',GradientType=0 ); /* IE6-9 */
    }

    &.gradient4 {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3023ae+0,53a0fd+100&0.9+1,0.9+100 */
        background: -moz-linear-gradient(top, rgba(48,35,174,0.9) 0%, rgba(48,36,175,0.9) 1%, rgba(83,160,253,0.9) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(48,35,174,0.9) 0%,rgba(48,36,175,0.9) 1%,rgba(83,160,253,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(48,35,174,0.9) 0%,rgba(48,36,175,0.9) 1%,rgba(83,160,253,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63023ae', endColorstr='#e653a0fd',GradientType=0 ); /* IE6-9 */
    }

    &.gradient5 {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf5418+0,f76b1c+100&0.9+0,0.9+100 */
        background: -moz-linear-gradient(top, rgba(191,84,24,0.9) 0%, rgba(247,107,28,0.9) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bf5418', endColorstr='#e6f76b1c',GradientType=0 ); /* IE6-9 */            
    }

    &.gradient6 {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#034181+0,0776b7+100&0.9+1,0.9+100 */
        background: -moz-linear-gradient(top, rgba(3,65,129,0.9) 0%, rgba(3,66,130,0.9) 1%, rgba(7,118,183,0.9) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(3,65,129,0.9) 0%,rgba(3,66,130,0.9) 1%,rgba(7,118,183,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(3,65,129,0.9) 0%,rgba(3,66,130,0.9) 1%,rgba(7,118,183,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6034181', endColorstr='#e60776b7',GradientType=0 ); /* IE6-9 */
    }

}

    .card-section {
      background-color: inherit;
      min-height: rem-calc(150px);

      &.featured {
        background-color: $branding-color-light-grey;
        min-height: rem-calc(150px);

        .news-card-title {
          line-height: 1.3;
          font-weight: normal;

          a {
            text-decoration: none;
            color: $branding-color-blue;
            transition: color 0.5s ease;

            &:hover {
              text-decoration: underline;
              color: $branding-color-blue;
            }
          }
        }
      }

      .news-card-date {
        font-size: 1em;
        color: $dark-gray;
      }

      .news-card-article {
        background-color: inherit;

        .news-card-title {
          line-height: 1.3;
          font-weight: normal;

          a {
            text-decoration: none;
            color: #0a0a0a;
            transition: color 0.5s ease;

            &:hover {
              text-decoration: underline;
              color: #0a0a0a;
            }
          }
        }

        .news-card-description {
          color: $dark-gray;
        }
      }

      .news-card-author {
        overflow: hidden;
        padding-bottom: 1.6rem;

        .news-card-author-image {
          display: inline-block;
          vertical-align: middle;

          img {
            border-radius: 50%;
            margin-right: 0.6em;
          }
        }

        .news-card-author-name {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    .news-card:hover .card-overlay {
      height: 100%;
      padding-top: 8%;
      padding-bottom: 10%;
    }
  }
}
.destop{
  display: none !important;
}
.mobile{
  display: block !important;
}




/* ----- Mobile Display Layout ---- */

@media (min-width: 640px) { 
 
  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 300px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 300px;
      }
    }
  }
}

@media (min-width: 650px) { 

  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 290px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 290px;
      }
    }
  }

}

@media (min-width: 660px) {

  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 290px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 290px;
      }
    }
  }

}

@media (min-width: 670px) { 
 
  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 340px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 340px;
      }
    }
  }

}


@media (min-width: 700px) { 
 
  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 340px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 340px;
      }
    }
  }

}

@media (min-width: 720px) { 

  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 340px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 340px;
      }
    }
  }

}

@media (min-width: 760px) {

  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 340px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 340px;
      }
    }
  }

}


@media (min-width: 770px) {
 
  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 340px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 340px;
      }
    }
  }

}


@media (min-width: 780px) { 
 
  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 350px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 350px;
      }
    }
  }

}


@media (min-width: 800px) {
 
  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 360px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 360px;
      }
    }
  }

}


@media (min-width: 820px) {
 
  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 380px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 380px;
      }
    }
  }

}

@media (min-width: 870px) {

  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 400px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 400px;
      }
    }
  }

}

@media (min-width: 890px) {

  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 400px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 400px;
      }
    }
  }

}

@media (min-width: 900px) {
 
  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 420px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 420px;
      }
    }
  }

}

@media (min-width: 940px) {

  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 420px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 420px;
      }
    }
  }

}

@media (min-width: 960px) {

  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 440px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 440px;
      }
    }
  }

}

@media (min-width: 1000px) {

  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 460px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 460px;
      }
    }
  }

}

@media (min-width: 1050px) {
  
  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 480px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 480px;
      }
    }
  }
  
}

@media (min-width: 1060px) {
  
  #portfolio-component,
  #portfolio-component2,
  #portfolio-article {

    .image {

      height: 480px;
  
      img{
        width: 100%;
        height: auto;
      }
    }

    .news-card {
      .image {
        height: 480px;
      }
    }
  }

}