$caption-font-size: .9rem;
$news-card-label-background: $primary-color;
$news-card-label-background-hover: scale-color($news-card-label-background, $lightness: -15%);

#portfolio-component,
#portfolio-component2,
#portfolio-article {

    .column {
        display: none;
    }

    #button {
        &.column {
            display: block;
        }
    }

    .portfolio-title {

        font-size: 30px;
        text-transform: uppercase;
        text-align: center;

        &.font-color-1 {
            color: $branding-font-header-color-1; //dark orange
        }

        &.font-color-2 {
            color: $branding-font-header-color-2;; //yellow
        }

        &.font-color-3 {
            color: $branding-font-header-color-3;; //dark blue
        }

        &.font-color-4 {
            color: $branding-font-header-color-4;; //light yellow
        }

        &.font-color-5 {
            color: $branding-font-header-color-5; //light yellow
        }

        &.font-color-6 {
            color: $branding-font-header-color-6; //light yellow
        }
    }

    .show {
        display: block;
    }
    .hide {
        display: none;
    }

    .container{
        max-width: 1200px;
        margin: 0 auto;
    }

    h4, .h4 {
        font-size: 1.0625rem;
        line-height: 1.0625rem;
    }

    .cards-container{
        width: 100%;
    }

    .box-shadow {
        background: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 0;
        padding-top: 0;
    }

    .image {
        overflow: hidden;
        height: 300px;
        //max-height: 450px;
        position: relative;

        img{
            width: 100%;
            height: auto;
        }
    }

    .hr {
        border-bottom: 3px solid #D0021B;
        width: 100%;
        margin-bottom: 2rem;
    }

    .row {
        padding: 1rem;
    }

    .flexible-article-image-left {
        float: left;
        margin: 1rem 1.5rem 0 0;
        max-width: rem-calc(200);
        //display: none;

        .caption {
            font-size: $caption-font-size;
        }

        @include breakpoint (small only) {
            float: none;
            max-width: 100%;
            margin: 0;

            .thumbnail {
                width:100%;
                img {
                    width:100%;
                }
            }
        }
    }

    .flexible-article-image-right {
        float: right;
        margin: 0 0 1rem 1.5rem;
        max-width: rem-calc(200);
        display: inline;

        .caption {
            font-size: $caption-font-size;
        }

        @include breakpoint (small only) {
            float: none;
            max-width: 100%;
            margin: 0;

            .thumbnail {
                width:100%;

                img {
                    width:100%;
                }
            }
        }
    }

    .flexible-article-image-flag-left {
        float: left;
        margin: 1rem 1.5rem 0 0;
        max-width: rem-calc(450);
    
        .caption {
          font-size: $caption-font-size;
        }
    
        @include breakpoint (small only) {
            float: none;
            max-width: 100%;
            margin: 0;
    
            .thumbnail {
              width:100%;
    
              img {
                width:100%;
              }
            }
        }
    }
    
    .flexible-article-image-flag-right {
        float: right;
        margin: 0 0 1rem 1.5rem;
        max-width: rem-calc(450);
        display: inline;
    
        .caption {
          font-size: $caption-font-size;
        }
    
        @include breakpoint (small only) {
            float: none;
            max-width: 100%;
            margin: 0;
        
            .thumbnail {
                width:100%;
        
                img {
                    width:100%;
                }
            }
        }
    }

    /* ----- Resource Single Tag Header Layout ---- */

    .breach-box {
        &.show {
            display: block;
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 2px;
            padding-left: 2%;
            padding-right: 2%;
            text-align: center;
            width: 20%;
            margin: 0 auto;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        &.hide {
            display: none;
        }
    }

    /* ----- Resource Multiple Tag Layout ---- */

    .article-tag {
        margin: 0 auto;
        width: 100%;
        font-size: .75rem;
        width: 100%;
        clear: both;
        margin-bottom: 20%;

        .breach-box {
            &.show {
                display: block;
                float: left;
                border: 1px solid $color-light-text;
                border-radius: 5px;
                padding: .4rem;
                text-align: center;
                width: auto;
                margin-left: 2px;
                margin-right: 2px;
                text-transform: uppercase;
            }
            &.hide {
                display: none;
            }
        }
    }

    /* ----- Resource Article Components Layout ---- */

    .resource-header {
        float: left; 
        width: 100%; 
        padding-left: 1.4rem;
        text-transform: uppercase;
        color: $color-light-text;
    }
    
    .news-card-tag {
        margin-bottom: 0.5rem;
    
        .label {
        border-radius: 0.125rem;
        background-color: $news-card-label-background;
        color: $white;
    
            a {
                background-color: inherit;
                color: inherit;
            }
        
            &:hover,
            &:focus {
                background-color: $news-card-label-background-hover;
        
                a {
                background-color: inherit;
                color: inherit;
                }
            }
        }
    }
    
    .news-card {
        position: relative;
        background-color: $white;
        font-weight: 400;
        margin-bottom: 1.6rem;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);
        cursor: pointer;
        

        .image {
            //overflow: hidden;
            height: 300px;
            position: relative;
        }

        .text {

            padding: 15px;
            padding-top: 20px;
            text-align: center;
            line-height: 22px;
      
            h2, h3 {
      
                color: white;
                font-size: 25px;
                text-align: center;
        
              }
      
            p {
                color: white;
                font-size: 18px;
                text-align: center;
                line-height: 25px;
            }
        
        }

        .card-overlay {

            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            padding-top: 0%;
            padding-bottom: 0%;
            
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf5418+0,f76b1c+100&0.9+0,0.9+100 */
            background: -moz-linear-gradient(top, rgba(191,84,24,0.9) 0%, rgba(247,107,28,0.9) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bf5418', endColorstr='#e6f76b1c',GradientType=0 ); /* IE6-9 */            
                        
            background-size: cover;     

            overflow: hidden;
            width: 100%;
            height: 0%;
            transition: .5s ease;

            &.gradient1 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3023ae+0,c86dd7+100&0.9+1,0.9+100 */
                background: -moz-linear-gradient(top, rgba(48,35,174,0.9) 0%, rgba(50,36,174,0.9) 1%, rgba(200,109,215,0.9) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(48,35,174,0.9) 0%,rgba(50,36,174,0.9) 1%,rgba(200,109,215,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(48,35,174,0.9) 0%,rgba(50,36,174,0.9) 1%,rgba(200,109,215,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63023ae', endColorstr='#e6c86dd7',GradientType=0 ); /* IE6-9 */
            }
      
            &.gradient2 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#188e9b+0,6dd7c7+100&0.9+1,0.9+100 */
                background: -moz-linear-gradient(top, rgba(24,142,155,0.9) 0%, rgba(25,143,155,0.9) 1%, rgba(109,215,199,0.9) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(24,142,155,0.9) 0%,rgba(25,143,155,0.9) 1%,rgba(109,215,199,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(24,142,155,0.9) 0%,rgba(25,143,155,0.9) 1%,rgba(109,215,199,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6188e9b', endColorstr='#e66dd7c7',GradientType=0 ); /* IE6-9 */
            }
      
            &.gradient3 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9f041b+0,f5515f+100&0.9+1,0.9+100 */
                background: -moz-linear-gradient(top, rgba(159,4,27,0.9) 0%, rgba(160,5,28,0.9) 1%, rgba(245,81,95,0.9) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(159,4,27,0.9) 0%,rgba(160,5,28,0.9) 1%,rgba(245,81,95,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(159,4,27,0.9) 0%,rgba(160,5,28,0.9) 1%,rgba(245,81,95,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e69f041b', endColorstr='#e6f5515f',GradientType=0 ); /* IE6-9 */
            }
      
            &.gradient4 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3023ae+0,53a0fd+100&0.9+1,0.9+100 */
                background: -moz-linear-gradient(top, rgba(48,35,174,0.9) 0%, rgba(48,36,175,0.9) 1%, rgba(83,160,253,0.9) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(48,35,174,0.9) 0%,rgba(48,36,175,0.9) 1%,rgba(83,160,253,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(48,35,174,0.9) 0%,rgba(48,36,175,0.9) 1%,rgba(83,160,253,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63023ae', endColorstr='#e653a0fd',GradientType=0 ); /* IE6-9 */
            }
      
            &.gradient5 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf5418+0,f76b1c+100&0.9+0,0.9+100 */
                background: -moz-linear-gradient(top, rgba(191,84,24,0.9) 0%, rgba(247,107,28,0.9) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bf5418', endColorstr='#e6f76b1c',GradientType=0 ); /* IE6-9 */            
            }
      
            &.gradient6 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#034181+0,0776b7+100&0.9+1,0.9+100 */
                background: -moz-linear-gradient(top, rgba(3,65,129,0.9) 0%, rgba(3,66,130,0.9) 1%, rgba(7,118,183,0.9) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(3,65,129,0.9) 0%,rgba(3,66,130,0.9) 1%,rgba(7,118,183,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(3,65,129,0.9) 0%,rgba(3,66,130,0.9) 1%,rgba(7,118,183,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6034181', endColorstr='#e60776b7',GradientType=0 ); /* IE6-9 */
            }
        
        }

        .card-overlay2 {

            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            padding-top: 0%;
            padding-bottom: 0%;
            
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf5418+0,f76b1c+100&0.9+0,0.9+100 */
            background: -moz-linear-gradient(top, rgba(191,84,24,0.9) 0%, rgba(247,107,28,0.9) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bf5418', endColorstr='#e6f76b1c',GradientType=0 ); /* IE6-9 */            
                        
            background-size: cover;     

            overflow: hidden;
            width: 100%;
            height: 100%;
            transition: .5s ease;

            &.gradient1 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3023ae+0,c86dd7+100&0.9+1,0.9+100 */
                background: -moz-linear-gradient(top, rgba(48,35,174,0.9) 0%, rgba(50,36,174,0.9) 1%, rgba(200,109,215,0.9) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(48,35,174,0.9) 0%,rgba(50,36,174,0.9) 1%,rgba(200,109,215,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(48,35,174,0.9) 0%,rgba(50,36,174,0.9) 1%,rgba(200,109,215,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63023ae', endColorstr='#e6c86dd7',GradientType=0 ); /* IE6-9 */

                &:hover,
                &:focus {
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#271d8e+0,864a91+100&0.9+1,0.9+100 */
                    background: -moz-linear-gradient(top, rgba(39,29,142,0.9) 0%, rgba(40,29,142,0.9) 1%, rgba(134,74,145,0.9) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(39,29,142,0.9) 0%,rgba(40,29,142,0.9) 1%,rgba(134,74,145,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(39,29,142,0.9) 0%,rgba(40,29,142,0.9) 1%,rgba(134,74,145,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6271d8e', endColorstr='#e6864a91',GradientType=0 ); /* IE6-9 */
                }

            }

            &.gradient2 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#188e9b+0,6dd7c7+100&0.9+1,0.9+100 */
                background: -moz-linear-gradient(top, rgba(24,142,155,0.9) 0%, rgba(25,143,155,0.9) 1%, rgba(109,215,199,0.9) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(24,142,155,0.9) 0%,rgba(25,143,155,0.9) 1%,rgba(109,215,199,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(24,142,155,0.9) 0%,rgba(25,143,155,0.9) 1%,rgba(109,215,199,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6188e9b', endColorstr='#e66dd7c7',GradientType=0 ); /* IE6-9 */
            
                &:hover,
                &:focus {
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#136d77+0,4c9688+100&0.9+1,0.9+100 */
                    background: -moz-linear-gradient(top, rgba(19,109,119,0.9) 0%, rgba(20,109,119,0.9) 1%, rgba(76,150,136,0.9) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(19,109,119,0.9) 0%,rgba(20,109,119,0.9) 1%,rgba(76,150,136,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(19,109,119,0.9) 0%,rgba(20,109,119,0.9) 1%,rgba(76,150,136,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6136d77', endColorstr='#e64c9688',GradientType=0 ); /* IE6-9 */
                }
            }

            &.gradient3 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9f041b+0,f5515f+100&0.9+1,0.9+100 */
                background: -moz-linear-gradient(top, rgba(159,4,27,0.9) 0%, rgba(160,5,28,0.9) 1%, rgba(245,81,95,0.9) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(159,4,27,0.9) 0%,rgba(160,5,28,0.9) 1%,rgba(245,81,95,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(159,4,27,0.9) 0%,rgba(160,5,28,0.9) 1%,rgba(245,81,95,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e69f041b', endColorstr='#e6f5515f',GradientType=0 ); /* IE6-9 */
            
                &:hover,
                &:focus {
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#84030a+0,b73e40+100&0.9+1,0.9+100 */
                    background: -moz-linear-gradient(top, rgba(132,3,10,0.9) 0%, rgba(133,4,11,0.9) 1%, rgba(183,62,64,0.9) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(132,3,10,0.9) 0%,rgba(133,4,11,0.9) 1%,rgba(183,62,64,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(132,3,10,0.9) 0%,rgba(133,4,11,0.9) 1%,rgba(183,62,64,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e684030a', endColorstr='#e6b73e40',GradientType=0 ); /* IE6-9 */
                }
            }

            &.gradient4 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3023ae+0,53a0fd+100&0.9+1,0.9+100 */
                background: -moz-linear-gradient(top, rgba(48,35,174,0.9) 0%, rgba(48,36,175,0.9) 1%, rgba(83,160,253,0.9) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(48,35,174,0.9) 0%,rgba(48,36,175,0.9) 1%,rgba(83,160,253,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(48,35,174,0.9) 0%,rgba(48,36,175,0.9) 1%,rgba(83,160,253,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e63023ae', endColorstr='#e653a0fd',GradientType=0 ); /* IE6-9 */
            
                &:hover,
                &:focus {
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#281e91+0,3f7dbf+100&0.9+1,0.9+100 */
                    background: -moz-linear-gradient(top, rgba(40,30,145,0.9) 0%, rgba(40,31,145,0.9) 1%, rgba(63,125,191,0.9) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(40,30,145,0.9) 0%,rgba(40,31,145,0.9) 1%,rgba(63,125,191,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(40,30,145,0.9) 0%,rgba(40,31,145,0.9) 1%,rgba(63,125,191,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6281e91', endColorstr='#e63f7dbf',GradientType=0 ); /* IE6-9 */
                }
            }

            &.gradient5 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf5418+0,f76b1c+100&0.9+0,0.9+100 */
                background: -moz-linear-gradient(top, rgba(191,84,24,0.9) 0%, rgba(247,107,28,0.9) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(191,84,24,0.9) 0%,rgba(247,107,28,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bf5418', endColorstr='#e6f76b1c',GradientType=0 ); /* IE6-9 */            
            
                &:hover,
                &:focus {
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b3f14+0,bf4c16+100&0.9+0,0.9+100 */
                    background: -moz-linear-gradient(top, rgba(155,63,20,0.9) 0%, rgba(191,76,22,0.9) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(155,63,20,0.9) 0%,rgba(191,76,22,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(155,63,20,0.9) 0%,rgba(191,76,22,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e69b3f14', endColorstr='#e6bf4c16',GradientType=0 ); /* IE6-9 */
                }
            }

            &.gradient6 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#034181+0,0776b7+100&0.9+1,0.9+100 */
                background: -moz-linear-gradient(top, rgba(3,65,129,0.9) 0%, rgba(3,66,130,0.9) 1%, rgba(7,118,183,0.9) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(3,65,129,0.9) 0%,rgba(3,66,130,0.9) 1%,rgba(7,118,183,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(3,65,129,0.9) 0%,rgba(3,66,130,0.9) 1%,rgba(7,118,183,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6034181', endColorstr='#e60776b7',GradientType=0 ); /* IE6-9 */
            
                &:hover,
                &:focus {
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#023060+0,044e7c+100&0.9+1,0.9+100 */
                    background: -moz-linear-gradient(top, rgba(2,48,96,0.9) 0%, rgba(2,48,96,0.9) 1%, rgba(4,78,124,0.9) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(2,48,96,0.9) 0%,rgba(2,48,96,0.9) 1%,rgba(4,78,124,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(2,48,96,0.9) 0%,rgba(2,48,96,0.9) 1%,rgba(4,78,124,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6023060', endColorstr='#e6044e7c',GradientType=0 ); /* IE6-9 */
                }
            }
        
        }

        img {
            width: 100%;
            height: auto;
        }
        
        .image-container {
            height: 300px;
            overflow: auto;
        }

        .card-section {
            background-color: inherit;
            min-height: rem-calc(112px);
        
            &.featured {
                background-color: $branding-color-light-grey;
                min-height: rem-calc(112px);
        
                .news-card-title {
                    line-height: 1.3;
                    font-weight: normal;
        
                    a {
                        text-decoration: none;
                        color: $branding-color-blue;
                        transition: color 0.5s ease;
            
                        &:hover {
                            text-decoration: underline;
                            color: $branding-color-blue;
                        }
                    }
                }
            }
        
            .news-card-date {
                font-size: 1em;
                color: $dark-gray;
            }
    
            .news-card-article {
                background-color: inherit;
        
                .news-card-title {
                    line-height: 1.3;
                    font-weight: normal;
        
                    a {
                        text-decoration: none;
                        color: #0a0a0a;
                        transition: color 0.5s ease;
            
                        &:hover {
                            text-decoration: underline;
                            color: #0a0a0a;
                        }
                    }
                }
        
                .news-card-description {
                color: $dark-gray;
                }
            }
    
            .news-card-author {
                overflow: hidden;
                padding-bottom: 1.6rem;
        
                .news-card-author-image {
                    display: inline-block;
                    vertical-align: middle;
            
                    img {
                        border-radius: 50%;
                        margin-right: 0.6em;
                    }
                }
        
                .news-card-author-name {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }

    .news-card:hover .card-overlay {
        height: 100%;
        padding-top: 8%;
        padding-bottom: 10%;
    }

    .article-details{
        padding: 0 30px;
        width: 100%;
        float: right;
        margin-top:20px;
    }

    .social-nav {
        width: 100%;
        padding: 0 30px;
        margin: 0;
        list-style-type: none;
        float: none;
        position: relative;
        text-align: center;

        li {
            width: 20%;
            display: inline-block;
        }
    }    
}

.mobile{
    display: block !important;
}
.destop{
    display: none !important;
}
