<section class="column-portfolio-component portfolio-background-image-1 ">
    <div class="portfolio-border-top" role="presentation">
        <span role="presentation">Component Header Design</span>
    </div>   

    {{> portfolio-landing-page-component }}

    <div class="portfolio-border-bottom" role="presentation">
        <span role="presentation">Component Footer Design</span>
    </div> 
</section>
      
  