<div class="row available-plans-3options">
        <div class="small-12 medium-12 large-12 columns no-side-padding">
            <div id="form-container" class="pad-all-lrg " style="background-color: #fff;">
                <h2 class="main-header center">{{available-plans.main-header}}</h2>
                <div class="selector_row">
                    <span style="padding-right: 1rem;">{{available-plans.button-title}}</span>
                    <div class="plan-toggle">
                        <div class="plan-toggle--essentials">{{available-plans.essentials-button-text}}</div>
                        <div class="plan-toggle--gold plan-toggle--checked">{{available-plans.gold-button-text}}</div>
                        <div class="plan-toggle--total">{{available-plans.total-button-text}}</div>
                    </div>
                </div>
                <div class="plan-rows">
                    <div class="available-plan-essentials row plans-row ">
                        <p class="small-12 plans-description">{{available-plans.essentials-button-desc}}</p>
                        
                        {{#each available-plans-essentials}}
                            {{#ifequal column '3'}}
                                <div class="small-12 medium-4 large-4 columns">
                            {{/ifequal}}
                            {{#ifequal column '2'}}
                                <div class="small-12 medium-6 large-6 columns">
                            {{/ifequal}}
                            {{#ifequal column '1'}}
                                <div class="small-12 columns">
                            {{/ifequal}}
                            <div class="plan box-shadow-normal {{top-tab-class}}">
                                {{#ifequal top-tab-class 'recommended'}}
                                <div class="top-tab">Recommended</div>
                                {{/ifequal}}
                                <p class="header center">{{header}}</p>
                                <h2 class="header-title center">{{header-title}}</h2>
                                <p class="price center">{{price}}</p>
                                <div class="plan-content-container">
                                    <p class="plan-content">{{plan-content}}</p>
                                    <ul class="plan-list">
                                        {{#each content-list}}
                                        <li>{{item}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div class="links center">
                                    {{#ifequal member-link 'value'}}
                                        <a class="center" href="/plans/value-family">Show me more</a>
                                        <br />
                                    {{/ifequal}}
                                    {{#ifequal show-me-link 'value'}}
                                        <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=vrvrbld2t2&plan_code=valuefam">Start My Membership</a>
                                    {{/ifequal}}
    
    
                                    {{#ifequal member-link 'total'}}
                                        <a class="center" href="/plans/total-family">Show me more</a>
                                        <br />
                                    {{/ifequal}}
                                    {{#ifequal show-me-link 'total'}}
                                        <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=peroobylxk&plan_code=totalfam">Start My Membership</a>
                                    {{/ifequal}}
    
    
                                    {{#ifequal member-link 'premier'}}
                                        <a class="center" href="/plans/premier-family">Show me more</a>
                                        <br />
                                    {{/ifequal}}
                                    {{#ifequal show-me-link 'premier'}}
                                        <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=kw2iptcaol&plan_code=premierfam">Start My Membership</a>
                                    {{/ifequal}}
                                </div>
                            </div>
                        </div>
                     
                        {{/each}}
                    </div>
                    <div class="available-plan-gold row plans-row checked ">
                        <p class="small-12 plans-description">{{available-plans.gold-button-desc}}</p>
               
                        
                        {{#each available-plans-gold}}
                            {{#ifequal column '3'}}
                                <div class="small-12 medium-4 large-4 columns">
                            {{/ifequal}}
                            {{#ifequal column '2'}}
                                <div class="small-12 medium-6 large-6 columns">
                            {{/ifequal}}
                            {{#ifequal column '1'}}
                                <div class="small-12 columns">
                            {{/ifequal}}
                            <div class="plan box-shadow-normal {{top-tab-class}}">
                                {{#ifequal top-tab-class 'recommended'}}
                                <div class="top-tab">Recommended</div>
                                {{/ifequal}}
                                <p class="header center">{{header}}</p>
                                <h2 class="header-title center">{{header-title}}</h2>
                                <p class="price center">{{price}}</p>
                                <div class="plan-content-container">
                                    <p class="plan-content">{{plan-content}}</p>
                                    <ul class="plan-list">
                                        {{#each content-list}}
                                        <li>{{item}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
    
                                <div class="links center">
                                    {{#ifequal member-link2 'value2'}}
                                        <a class="center" href="/plans/value">Show me more</a>
                                        <br />
                                    {{/ifequal}}
                                    {{#ifequal show-me-link2 'value2'}}
                                        <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=a8wsgmphtv&plan_code=valueind">Start My Membership</a>
                                    {{/ifequal}}
    
    
                                    {{#ifequal member-link2 'total2'}}
                                        <a class="center" href="/plans/total">Show me more</a>
                                        <br />
                                    {{/ifequal}}
                                    {{#ifequal show-me-link2 'total2'}}
                                        <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=9wtbpufxyn&plan_code=totalind">Start My Membership</a>
                                    {{/ifequal}}
    
    
                                    {{#ifequal member-link2 'premier2'}}
                                        <a class="center" href="/plans/premier">Show me more</a>
                                        <br />
                                    {{/ifequal}}
                                    {{#ifequal show-me-link2 'premier2'}}
                                        <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=mrb7y6rgam&plan_code=premierind">Start My Membership</a>
                                    {{/ifequal}}
                                </div>
                            </div>
                        </div>
                     
                        {{/each}}
                    </div>
                    <div class="available-plan-total row plans-row ">
                        <p class="small-12 plans-description">{{available-plans.total-button-desc}}</p>
                        
                        {{#each available-plans-total}}
                            {{#ifequal column '3'}}
                                <div class="small-12 medium-4 large-4 columns">
                            {{/ifequal}}
                            {{#ifequal column '2'}}
                                <div class="small-12 medium-6 large-6 columns">
                            {{/ifequal}}
                            {{#ifequal column '1'}}
                                <div class="small-12 columns">
                            {{/ifequal}}
                            <div class="plan box-shadow-normal {{top-tab-class}}">
                                {{#ifequal top-tab-class 'recommended'}}
                                <div class="top-tab">Recommended</div>
                                {{/ifequal}}
                                <p class="header center">{{header}}</p>
                                <h2 class="header-title center">{{header-title}}</h2>
                                <p class="price center">{{price}}</p>
                                <div class="plan-content-container">
                                    <p class="plan-content">{{plan-content}}</p>
                                    <ul class="plan-list">
                                        {{#each content-list}}
                                        <li>{{item}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div class="links center">
                                    {{#ifequal member-link3 'value3'}}
                                        <a class="center" href="/plans/value-family">Show me more</a>
                                        <br />
                                    {{/ifequal}}
                                    {{#ifequal show-me-link3 'value3'}}
                                        <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=vrvrbld2t2&plan_code=valuefam">Start My Membership</a>
                                    {{/ifequal}}
    
    
                                    {{#ifequal member-link3 'total3'}}
                                        <a class="center" href="/plans/total-family">Show me more</a>
                                        <br />
                                    {{/ifequal}}
                                    {{#ifequal show-me-link3 'total3'}}
                                        <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=peroobylxk&plan_code=totalfam">Start My Membership</a>
                                    {{/ifequal}}
    
    
                                    {{#ifequal member-link3 'premier3'}}
                                        <a class="center" href="/plans/premier-family">Show me more</a>
                                        <br />
                                    {{/ifequal}}
                                    {{#ifequal show-me-link3 'premier3'}}
                                        <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=kw2iptcaol&plan_code=premierfam">Start My Membership</a>
                                    {{/ifequal}}
                                </div>
                            </div>
                        </div>
                        
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>