<div class="row available-plans">
    <div class="small-12 medium-12 large-12 columns no-side-padding">
        <div id="form-container" class="pad-all-lrg " style="background-color: #fff;">
            <h2 class="main-header center">{{available-plans.main-header}}</h2>
            <div class="selector_row">
                <span style="padding-right: 1rem;">{{available-plans.button-title}}</span>
                <div class="plan-toggle">
                    <div class="plan-toggle--fam">{{available-plans.family-button-text}}</div>
                    <div class="plan-toggle--ind plan-toggle--checked">{{available-plans.individual-button-text}}</div>
                </div>
            </div>
            <div class="plan-rows">
                <div class="available-plan-fam row plans-row ">
                    <p class="small-12 plans-description">{{available-plans.family-button-desc}}</p>
                    
                    {{#each available-plans-family}}
                        {{#ifequal column '3'}}
                            <div class="small-12 medium-4 large-4 columns">
                        {{/ifequal}}
                        {{#ifequal column '2'}}
                            <div class="small-12 medium-6 large-6 columns">
                        {{/ifequal}}
                        {{#ifequal column '1'}}
                            <div class="small-12 columns">
                        {{/ifequal}}
                        <div class="plan box-shadow-normal {{top-tab-class}}">
                            {{#ifequal top-tab-class 'recommended'}}
                            <div class="top-tab">Recommended</div>
                            {{/ifequal}}
                            <p class="header center">{{header}}</p>
                            <h2 class="header-title center">{{header-title}}</h2>
                            <p class="price center">{{price}}</p>
                            <div class="plan-content-container">
                                <p class="plan-content">{{plan-content}}</p>
                                <ul class="plan-list">
                                    {{#each content-list}}
                                    <li>{{item}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="links center">
                                {{#ifequal member-link2 'value2'}}
                                    <!-- display: none; (hides the normal link)-->
                                    <a class="center" href="/plans/value-family" style="display: none;">Show me more</a>

                                    <!-- display: block; (shows the shadowbox link)-->
                                    <a data-id="{{data-id}}" class="shadowbox-btn center" style="display: block;">Show me more</a>
                                     
                                    <br />
                                {{/ifequal}}
                                {{#ifequal show-me-link2 'value2'}}
                                    <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=vrvrbld2t2&plan_code=valuefam">Start My Membership</a>
                                {{/ifequal}}


                                {{#ifequal member-link2 'total2'}}

                                    <!-- display: none; (hides the normal link)-->
                                    <a class="center" href="/plans/total-family" style="display: none;">Show me more</a>

                                    <!-- display: block; (shows the shadowbox link)-->
                                    <a data-id="{{data-id}}" class="shadowbox-btn center" style="display: block;">Show me more</a>
                                    
                                    <br />
                                {{/ifequal}}
                                {{#ifequal show-me-link2 'total2'}}
                                    <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=peroobylxk&plan_code=totalfam">Start My Membership</a>
                                {{/ifequal}}


                                {{#ifequal member-link2 'premier2'}}

                                    <!-- display: none; (hides the normal link)-->
                                    <a class="center" href="/plans/premier-family" style="display: none;">Show me more</a>

                                    <!-- display: block; (shows the shadowbox link)-->
                                    <a data-id="{{data-id}}" class="shadowbox-btn center" style="display: block;">Show me more</a>
                                      
                                    <br />
                                {{/ifequal}}
                                {{#ifequal show-me-link2 'premier2'}}
                                    <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=kw2iptcaol&plan_code=premierfam">Start My Membership</a>
                                {{/ifequal}}
                            </div>
                        </div>
                    </div>
                 
                    {{/each}}
                </div>
                <div class="available-plan-ind row plans-row checked ">
                    <p class="small-12 plans-description">{{available-plans.individual-button-desc}}</p>
           
                    
                    {{#each available-plans-individual}}
                        {{#ifequal column '3'}}
                            <div class="small-12 medium-4 large-4 columns">
                        {{/ifequal}}
                        {{#ifequal column '2'}}
                            <div class="small-12 medium-6 large-6 columns">
                        {{/ifequal}}
                        {{#ifequal column '1'}}
                            <div class="small-12 columns">
                        {{/ifequal}}
                        <div class="plan box-shadow-normal {{top-tab-class}}">
                            {{#ifequal top-tab-class 'recommended'}}
                            <div class="top-tab">Recommended</div>
                            {{/ifequal}}
                            <p class="header center">{{header}}</p>
                            <h2 class="header-title center">{{header-title}}</h2>
                            <p class="price center">{{price}}</p>
                            <div class="plan-content-container">
                                <p class="plan-content">{{plan-content}}</p>
                                <ul class="plan-list">
                                    {{#each content-list}}
                                    <li>{{item}}</li>
                                    {{/each}}
                                </ul>
                            </div>

                            <div class="links center">
                                {{#ifequal member-link 'value'}}
                                    <!-- display: none; (hides the normal link)-->
                                    <a class="center" href="/plans/value" style="display: none;">Show me more</a>

                                    <!-- display: block; (shows the shadowbox link)-->
                                    <a data-id="{{data-id}}" class="shadowbox-btn center" style="display: block;">Show me more</a>
                                                            
                                    <br />
                                {{/ifequal}}
                                {{#ifequal show-me-link 'value'}}
                                    <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=a8wsgmphtv&plan_code=valueind">Start My Membership</a>
                                {{/ifequal}}


                                {{#ifequal member-link 'total'}}

                                    <!-- display: none; (hides the normal link)-->
                                    <a class="center" href="/plans/total" style="display: none;">Show me more</a>

                                     <!-- display: block; (shows the shadowbox link)-->
                                    <a data-id="{{data-id}}" class="shadowbox-btn center" style="display: block;">Show me more</a>
                                                                          
                                    <br />
                                {{/ifequal}}
                                {{#ifequal show-me-link 'total'}}
                                    <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=9wtbpufxyn&plan_code=totalind">Start My Membership</a>
                                {{/ifequal}}


                                {{#ifequal member-link 'premier'}}

                                    <!-- display: none; (hides the normal link)-->
                                    <a class="center" href="/plans/premier" style="display: none;">Show me more</a>

                                    <!-- display: block; (shows the shadowbox link)-->
                                    <a data-id="{{data-id}}" class="shadowbox-btn center" style="display: block;">Show me more</a>
                                                                      
                                    <br />
                                {{/ifequal}}
                                {{#ifequal show-me-link 'premier'}}
                                    <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=mrb7y6rgam&plan_code=premierind">Start My Membership</a>
                                {{/ifequal}}
                            </div>
                        </div>
                    </div>
                 
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
