
<div class="row available-plans">
    <div class="small-12 medium-12 large-12 columns no-side-padding">
        <div id="form-container" class="pad-all-lrg " style="background-color: #fff;">
            <h2 class="main-header center">{{available-plans.main-header}}</h2>
            <div class="selector_row">
                <span style="padding-right: 1rem;">{{available-plans.button-title}}</span>
                <div class="plan-toggle">
                    <div class="plan-toggle--fam">PRODUCT 2</div>
                    <div class="plan-toggle--ind plan-toggle--checked">PRODUCT 1</div>
                </div>
            </div>
            <div class="plan-rows">
                <div class="available-plan-fam row plans-row ">
                    <p class="small-12 plans-description">{{available-plans.family-button-desc}}</p>
               
                    
                    {{#each available-plans-family}}
                    <div class="small-12 medium-4 large-4 columns">
                        <div class="plan box-shadow-normal {{top-tab-class}}">
                            {{#ifequal top-tab-class 'recommended'}}
                            <div class="top-tab">Recommended</div>
                            {{/ifequal}}
                            <p class="header center">{{header}}</p>
                            <h2 class="header-title center">{{header-title}}</h2>
                            <p class="price center">{{price}}</p>
                           <div class="plan-content-container">
                                <p class="plan-content">{{plan-content}}</p>
                                <ul class="plan-list">
                                    {{#each content-list}}
                                    <li>{{item}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="links center">
                                {{#ifequal member-link2 'value2'}}
                                    <a class="center" href="/plans/value-family">Show me more</a>
                                    <br />
                                {{/ifequal}}
                                {{#ifequal show-me-link2 'value2'}}
                                    <a class="button button-green center" href="#">BUY NOW!</a>
                                {{/ifequal}}


                                {{#ifequal member-link2 'total2'}}
                                    <a class="center" href="/plans/total-family">Show me more</a>
                                    <br />
                                {{/ifequal}}
                                {{#ifequal show-me-link2 'total2'}}
                                    <a class="button button-green center" href="#">BUY NOW!</a>
                                {{/ifequal}}


                                {{#ifequal member-link2 'premier2'}}
                                    <a class="center" href="/plans/premier-family">Show me more</a>
                                    <br />
                                {{/ifequal}}
                                {{#ifequal show-me-link2 'premier2'}}
                                    <a class="button button-green center" href="#">BUY NOW!</a>
                                {{/ifequal}}
                            </div>
                        </div>
                    </div>
                 
                    {{/each}}
                </div>
                <div class="available-plan-ind row plans-row checked ">
                    <p class="small-12 plans-description">{{available-plans.individual-button-desc}}</p>
           
                    
                    {{#each available-plans-individual}}
                    <div class="small-12 medium-4 large-4 columns">
                        <div class="plan box-shadow-normal {{top-tab-class}}">
                            {{#ifequal top-tab-class 'recommended'}}
                            <div class="top-tab">Recommended</div>
                            {{/ifequal}}
                            <p class="header center">{{header}}</p>
                            <h2 class="header-title center">{{header-title}}</h2>
                            <p class="price center">{{price}}</p>
                            <div class="plan-content-container">
                                <p class="plan-content">{{plan-content}}</p>
                                <ul class="plan-list">
                                    {{#each content-list}}
                                    <li>{{item}}</li>
                                    {{/each}}
                                </ul>
                            </div>

                            <div class="links center">
                                {{#ifequal member-link 'value'}}
                                    <a class="center" href="/plans/value">Show me more</a>
                                    <br />
                                {{/ifequal}}
                                {{#ifequal show-me-link 'value'}}
                                    <a class="button button-green center" href="#">BUY NOW!</a>
                                {{/ifequal}}


                                {{#ifequal member-link 'total'}}
                                    <a class="center" href="/plans/total">Show me more</a>
                                    <br />
                                {{/ifequal}}
                                {{#ifequal show-me-link 'total'}}
                                    <a class="button button-green center" href="#">BUY NOW!</a>
                                {{/ifequal}}


                                {{#ifequal member-link 'premier'}}
                                    <a class="center" href="/plans/premier">Show me more</a>
                                    <br />
                                {{/ifequal}}
                                {{#ifequal show-me-link 'premier'}}
                                    <a class="button button-green center" href="#">BUY NOW!</a>
                                {{/ifequal}}
                            </div>
                        </div>
                    </div>
                 
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
