.notifications-component {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    background: none;
    
    .list-carousel {
        background: none;
        padding: 0;
        
        .content-container {
            overflow: hidden;
            
            .image_container {
                display: block;
                position: static;
                height: 35vh;
                
                .image_bg {
                    height: 35vh;
                    background-size: contain;
                    background-position: 50% 50%
                }
            }
            
            .list_container {
                padding: 0 0 3em;
                
                ul {
                    li {
                    
                        &:active {
                            background-color: transparent;
                        }
                        
                        &.active {
                            background-color: transparent;
                        }
                            
                        .content {
                            border-bottom: 0;
                            
                            strong {
                                text-transform: uppercase;
                                color: #2476ae;
                            }
                            
                            p {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}