.notifications-component {
    padding-top: 5rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    padding-left: 3rem;
    
    .list-carousel {
        .content-container {
            .image_container {
                position: absolute;
                float: left;
                width: 40%;
                height: 100%;
                
                .image_bg {
                    height: 100%;
                }
            }
            
            .list_container {
                float: right;
                width: 60%;
                margin-left: 0;
                padding: 3em 0;
            }
        }
    }
}