<!-- <div id="post-privacy" class="product-edit-mode"> -->
<div id="post-privacy">
  <div class="row">
    <div class="small-12 medium-5 large-4 xlarge-5 columns">
      <div class="article-image center">
          <img src="/assets/img/featured/premier-family.png">
      </div>
    </div>
    <div class="span10 central-content">
      <h1 class="title-simple">Enter Redemption Code</h1>
      <div id="maintenance" style="display: none;">
        <!-- <img class="img-responsive center-block" alt="We are undergoing maintenance" src="/idg_static/uploads/2016/07/robot.png"> -->
        <h2>Sorry. This service is currently unavailable. Please check back later.</h2>
        <h3>For additional information on enrollment, please contact customer service at: <strong>1-877-505-7054</strong></h3>
      </div>
      <div id="production">
        <p>Please enter your redemption code to begin the activation process of your complimentary Identity Guard® enrollment.</p>
        <!-- <p id="spinner" class="hideMe"><img src="/idg_static/themes/idg-marketing/img/spinner.gif" alt="loading..."></p> -->
        <p id="result"></p>
        <form class="suc_form" id="suc_activate" action="https://www.google.com/" data-err="404" method="post">
          <input type="hidden" id="SingleUseCode" name="SingleUseCode" value="false">
          <input type="hidden" id="EncodeString" name="EncodeString" value="">
          <label class="hidden" for="suc0">Enter your code:</label> 
          <input class="input-large input-large--short" type="text" id="suc0" maxlength="5" name="suc0" value=""> – 
          <input class="input-large input-large--short" type="text" id="suc1" maxlength="4" name="suc1" value=""> – 
          <input class="input-large input-large--short" type="text" id="suc2" maxlength="4" name="suc2" value="">
          <input class="button button-green center" id="enroll-submit" type="submit" value="Submit">
        </form>
        <p><strong>The enrollment process must be completed entirely in one session.</strong> For security and validation purposes, you may need to answer questions pertaining to your credit data. Please allow 5-10 minutes to complete the process.</p>
      </div>
    </div>
  </div>
  <div class="row ">
        <div class="product" id="tpr">
          <h2>Identity Guard<sup>®</sup> Total Protection<sup>®</sup> TPR</h2>
          <p>Total Protection<sup>®</sup> provides our most comprehensive protection with holistic features to mitigate fraud against identity and financial assets. It includes quarterly 3-bureau credit report and score updates, SSN monitoring, ID verification alerts, PC protection &amp; more.</p>
          <ul class="product-details">
            <li>
              <ul class="Layout-faq LayoutFAQ" aria-label="About Questions - Accordion Control Group Buttons">
                <li class="Layout-faqItem Collapsible is-closed">
                      <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">IDVerification™ Alerts</button></h3>
                      <div id="about-content-1" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                              <p>Every time you, or someone posing as you, update information to your current accounts—bank passwords or address changes, for example—or apply for a new credit card, cell phone, or other credit, we send you an ID Verification Alert. This way, you can confirm the activity is valid or take precautionary measures if you suspect identity theft.</p>
                      </div>
                </li>
                <li class="Layout-faqItem Collapsible is-closed">
                    <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">Online "Black Market" Monitoring</button></h3>
                    <div id="about-content-2" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                           <p>We monitor the dark web 24/7 to see if your personal information—like your SSN or credit card numbers—are detected on black market websites, secret chat rooms, and underground forums. If we find something, we send you a fast notification.</p>
                    </div>
                </li>
                <li class="Layout-faqItem Collapsible is-closed">
                    <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">$1 Million Identity Theft Insurance**</button></h3>
                    <div id="about-content-3" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                           <p>Our $1 million identity insurance covers certain losses due to identity theft to help you get your life back on track. Victims are reimbursed for costs associated with time taken off from work, certified mailings, application fees, attorney fees, etc.</p>
                    </div>
                </li>
                <li class="Layout-faqItem Collapsible is-closed">
                    <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">Victim Recovery Services</button></h3>
                    <div id="about-content-4" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                           <p>If you do become a victim of identity theft‚ as an Identity Guard member‚ you have access to highly trained experts who are 100% dedicated to making a stressful situation and recovery as easy as it can possibly be.</p>
                    </div>
                </li>
              </ul>
            </li>
          </ul>          
        </div>
        <div class="product" id="ptn">
          <h2>Identity Guard<sup>®</sup> Total Protection<sup>®</sup> PTN</h2>
          <p>Total Protection<sup>®</sup> provides our most comprehensive protection with holistic features to mitigate fraud against identity and financial assets. It includes quarterly 3-bureau credit report and score updates, SSN monitoring, ID verification alerts, PC protection &amp; more.</p>
          <ul class="product-details">
            <li>
                <ul class="Layout-faq LayoutFAQ" aria-label="About Questions - Accordion Control Group Buttons">
                    <li class="Layout-faqItem Collapsible is-closed">
                          <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">IDVerification™ Alerts</button></h3>
                          <div id="about-content-1" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                                  <p>Every time you, or someone posing as you, update information to your current accounts—bank passwords or address changes, for example—or apply for a new credit card, cell phone, or other credit, we send you an ID Verification Alert. This way, you can confirm the activity is valid or take precautionary measures if you suspect identity theft.</p>
                          </div>
                    </li>
                    <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">Online "Black Market" Monitoring</button></h3>
                        <div id="about-content-2" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                               <p>We monitor the dark web 24/7 to see if your personal information—like your SSN or credit card numbers—are detected on black market websites, secret chat rooms, and underground forums. If we find something, we send you a fast notification.</p>
                        </div>
                    </li>
                    <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">$1 Million Identity Theft Insurance**</button></h3>
                        <div id="about-content-3" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                               <p>Our $1 million identity insurance covers certain losses due to identity theft to help you get your life back on track. Victims are reimbursed for costs associated with time taken off from work, certified mailings, application fees, attorney fees, etc.</p>
                        </div>
                    </li>
                    <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">Victim Recovery Services</button></h3>
                        <div id="about-content-4" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                               <p>If you do become a victim of identity theft‚ as an Identity Guard member‚ you have access to highly trained experts who are 100% dedicated to making a stressful situation and recovery as easy as it can possibly be.</p>
                        </div>
                    </li>
                  </ul>
            </li>
          </ul>          
        </div>
        <div class="product" id="ksu">
          <h2>Identity Guard<sup>®</sup> Total Protection<sup>®</sup> KSU</h2>
          <p>Total Protection<sup>®</sup> provides our most comprehensive protection with holistic features to mitigate fraud against identity and financial assets. It includes quarterly 3-bureau credit report and score updates, SSN monitoring, ID verification alerts, PC protection &amp; more.</p>
          <ul class="product-details">
            <li>
                <ul class="Layout-faq LayoutFAQ" aria-label="About Questions - Accordion Control Group Buttons">
                    <li class="Layout-faqItem Collapsible is-closed">
                          <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">IDVerification™ Alerts</button></h3>
                          <div id="about-content-1" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                                  <p>Every time you, or someone posing as you, update information to your current accounts—bank passwords or address changes, for example—or apply for a new credit card, cell phone, or other credit, we send you an ID Verification Alert. This way, you can confirm the activity is valid or take precautionary measures if you suspect identity theft.</p>
                          </div>
                    </li>
                    <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">Online "Black Market" Monitoring</button></h3>
                        <div id="about-content-2" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                               <p>We monitor the dark web 24/7 to see if your personal information—like your SSN or credit card numbers—are detected on black market websites, secret chat rooms, and underground forums. If we find something, we send you a fast notification.</p>
                        </div>
                    </li>
                    <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">$1 Million Identity Theft Insurance**</button></h3>
                        <div id="about-content-3" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                               <p>Our $1 million identity insurance covers certain losses due to identity theft to help you get your life back on track. Victims are reimbursed for costs associated with time taken off from work, certified mailings, application fees, attorney fees, etc.</p>
                        </div>
                    </li>
                    <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">Victim Recovery Services</button></h3>
                        <div id="about-content-4" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                               <p>If you do become a victim of identity theft‚ as an Identity Guard member‚ you have access to highly trained experts who are 100% dedicated to making a stressful situation and recovery as easy as it can possibly be.</p>
                        </div>
                    </li>
                  </ul>
            </li>
          </ul>          
        </div>
        <div class="product" id="est">
          <h2>Identity Guard<sup>®</sup> Total Protection<sup>®</sup> EST</h2>
          <p>Total Protection<sup>®</sup> provides our most comprehensive protection with holistic features to mitigate fraud against identity and financial assets. It includes quarterly 3-bureau credit report and score updates, SSN monitoring, ID verification alerts, PC protection &amp; more.</p>
          <ul class="product-details">
            <li>
                <ul class="Layout-faq LayoutFAQ" aria-label="About Questions - Accordion Control Group Buttons">
                    <li class="Layout-faqItem Collapsible is-closed">
                          <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">IDVerification™ Alerts</button></h3>
                          <div id="about-content-1" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                                  <p>Every time you, or someone posing as you, update information to your current accounts—bank passwords or address changes, for example—or apply for a new credit card, cell phone, or other credit, we send you an ID Verification Alert. This way, you can confirm the activity is valid or take precautionary measures if you suspect identity theft.</p>
                          </div>
                    </li>
                    <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">Online "Black Market" Monitoring</button></h3>
                        <div id="about-content-2" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                               <p>We monitor the dark web 24/7 to see if your personal information—like your SSN or credit card numbers—are detected on black market websites, secret chat rooms, and underground forums. If we find something, we send you a fast notification.</p>
                        </div>
                    </li>
                    <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">$1 Million Identity Theft Insurance**</button></h3>
                        <div id="about-content-3" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                               <p>Our $1 million identity insurance covers certain losses due to identity theft to help you get your life back on track. Victims are reimbursed for costs associated with time taken off from work, certified mailings, application fees, attorney fees, etc.</p>
                        </div>
                    </li>
                    <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">Victim Recovery Services</button></h3>
                        <div id="about-content-4" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                               <p>If you do become a victim of identity theft‚ as an Identity Guard member‚ you have access to highly trained experts who are 100% dedicated to making a stressful situation and recovery as easy as it can possibly be.</p>
                        </div>
                    </li>
                  </ul>
            </li>
          </ul>          
        </div>
        <div class="product" id="dtg">
          <h2>Identity Guard<sup>®</sup> Total Protection<sup>®</sup> DTG</h2>
          <p>Total Protection<sup>®</sup> provides our most comprehensive protection with holistic features to mitigate fraud against identity and financial assets. It includes quarterly 3-bureau credit report and score updates, SSN monitoring, ID verification alerts, PC protection &amp; more.</p>
          <ul class="product-details">
            <li>
                <ul class="Layout-faq LayoutFAQ" aria-label="About Questions - Accordion Control Group Buttons">
                    <li class="Layout-faqItem Collapsible is-closed">
                          <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">IDVerification™ Alerts</button></h3>
                          <div id="about-content-1" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                                  <p>Every time you, or someone posing as you, update information to your current accounts—bank passwords or address changes, for example—or apply for a new credit card, cell phone, or other credit, we send you an ID Verification Alert. This way, you can confirm the activity is valid or take precautionary measures if you suspect identity theft.</p>
                          </div>
                    </li>
                    <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">Online "Black Market" Monitoring</button></h3>
                        <div id="about-content-2" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                               <p>We monitor the dark web 24/7 to see if your personal information—like your SSN or credit card numbers—are detected on black market websites, secret chat rooms, and underground forums. If we find something, we send you a fast notification.</p>
                        </div>
                    </li>
                    <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">$1 Million Identity Theft Insurance**</button></h3>
                        <div id="about-content-3" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                               <p>Our $1 million identity insurance covers certain losses due to identity theft to help you get your life back on track. Victims are reimbursed for costs associated with time taken off from work, certified mailings, application fees, attorney fees, etc.</p>
                        </div>
                    </li>
                    <li class="Layout-faqItem Collapsible is-closed">
                        <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">Victim Recovery Services</button></h3>
                        <div id="about-content-4" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                               <p>If you do become a victim of identity theft‚ as an Identity Guard member‚ you have access to highly trained experts who are 100% dedicated to making a stressful situation and recovery as easy as it can possibly be.</p>
                        </div>
                    </li>
                  </ul>
            </li>
          </ul>          
        </div>
        <div class="product" id="cpx">
            <h2>Identity Guard<sup>®</sup> Total Protection<sup>®</sup> DTG</h2>
            <p>Total Protection<sup>®</sup> provides our most comprehensive protection with holistic features to mitigate fraud against identity and financial assets. It includes quarterly 3-bureau credit report and score updates, SSN monitoring, ID verification alerts, PC protection &amp; more.</p>
            <ul class="product-details">
              <li>
                  <ul class="Layout-faq LayoutFAQ" aria-label="About Questions - Accordion Control Group Buttons">
                      <li class="Layout-faqItem Collapsible is-closed">
                            <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">IDVerification™ Alerts</button></h3>
                            <div id="about-content-1" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                                    <p>Every time you, or someone posing as you, update information to your current accounts—bank passwords or address changes, for example—or apply for a new credit card, cell phone, or other credit, we send you an ID Verification Alert. This way, you can confirm the activity is valid or take precautionary measures if you suspect identity theft.</p>
                            </div>
                      </li>
                      <li class="Layout-faqItem Collapsible is-closed">
                          <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">Online "Black Market" Monitoring</button></h3>
                          <div id="about-content-2" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                                 <p>We monitor the dark web 24/7 to see if your personal information—like your SSN or credit card numbers—are detected on black market websites, secret chat rooms, and underground forums. If we find something, we send you a fast notification.</p>
                          </div>
                      </li>
                      <li class="Layout-faqItem Collapsible is-closed">
                          <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">$1 Million Identity Theft Insurance**</button></h3>
                          <div id="about-content-3" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                                 <p>Our $1 million identity insurance covers certain losses due to identity theft to help you get your life back on track. Victims are reimbursed for costs associated with time taken off from work, certified mailings, application fees, attorney fees, etc.</p>
                          </div>
                      </li>
                      <li class="Layout-faqItem Collapsible is-closed">
                          <h3 class="Layout-faqItemTitle" role="header"><button class="Layout-faqItemTitleLink js-toggle" id="about-accordion-control-1" aria-controls="about-content-1" aria-expanded="false">Victim Recovery Services</button></h3>
                          <div id="about-content-4" class="Layout-faqItemContent" aria-hidden="false" role="region" aria-labelledby="about-accordion-control-1">
                                 <p>If you do become a victim of identity theft‚ as an Identity Guard member‚ you have access to highly trained experts who are 100% dedicated to making a stressful situation and recovery as easy as it can possibly be.</p>
                          </div>
                      </li>
                    </ul>
              </li>
            </ul>          
          </div>
  </div>
</div>