

@media (min-width: 900px) {
  .mobile-app-filter-menu {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0;
    width: 100%;
    text-align: center;
    border-top: 2px solid $medium-gray;
    border-bottom: 2px solid $medium-gray;
    

    li {
      width: 15%;
      padding: 5px;
      text-align: center;
      display: inline-block;
      
      a {
        color: $dark-gray;
        text-align: center;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-decoration:none;

        &:hover,
        &:focus {
            //color: $branding-font-color-1;
            color: $branding-font-header-color-5;
            text-decoration:none;
            
        }
      }

      &.is-active {
        a {
          //color: $branding-font-color-1;
          color: $branding-font-header-color-5;
          font-size: 25px;
          padding: 10px;
          padding-left: 20px;
          padding-right: 20px;
          font-weight: bold;
          text-decoration:none;
          text-align: center;

          &:hover,
          &:focus {
            color: $branding-font-header-color-5;
            text-decoration:none;
        }
        }
      }
    }

    &.font-color-2 {
      border-top: 2px solid $branding-font-header-color-1;
      border-bottom: 2px solid $branding-font-header-color-1;
      
      li {

        width: 15%;
        padding: 5px;
        text-align: center;
        display: inline-block;

        a {
          color: $dark-gray;
          padding: 10px;
          padding-left: 20px;
          padding-right: 20px;
          text-decoration:none;
          text-align: center;

          &:hover,
          &:focus {
            color: $branding-font-header-color-1;
            text-decoration:none;
          }
        }

        &.is-active {
          a {
            color: $branding-font-header-color-1;
            font-size: 25px;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: bold;
            text-decoration:none;
            text-align: center;

            &:hover,
            &:focus {
              color: $branding-font-header-color-1;
              text-decoration:none;
            }
          }
        }
      }
    }

    &.font-color-2 {
      border-top: 2px solid $branding-font-header-color-2;
      border-bottom: 2px solid $branding-font-header-color-2;
      
      li {
        
        width: 15%;
        padding: 5px;
        text-align: center;
        display: inline-block;
        
        a {
          color: $dark-gray;
          padding: 10px;
          padding-left: 20px;
          padding-right: 20px;
          text-decoration:none;
          text-align: center;

          &:hover,
          &:focus {
            color: $branding-font-header-color-2;
            text-decoration:none;
          }
        }

        &.is-active {
          a {
            color: $branding-font-header-color-2;
            font-size: 25px;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: bold;
            text-decoration:none;
            text-align: center;

            &:hover,
            &:focus {
              color: $branding-font-header-color-2;
              text-decoration:none;
            }
          }
        }
      }
    }

    &.font-color-3 {
      border-top: 2px solid $branding-font-header-color-3;
      border-bottom: 2px solid $branding-font-header-color-3;
      
      li {
        
        width: 15%;
        padding: 5px;
        text-align: center;
        display: inline-block;
        
        a {
          color: $dark-gray;
          padding: 10px;
          padding-left: 20px;
          padding-right: 20px;
          text-decoration:none;
          text-align: center;

          &:hover,
          &:focus {
            color: $branding-font-header-color-3;
            text-decoration:none;
          }
        }

        &.is-active {
          a {
            color: $branding-font-header-color-3;
            font-size: 25px;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: bold;
            text-decoration:none;
            text-align: center;

            &:hover,
            &:focus {
              color: $branding-font-header-color-3;
              text-decoration:none;
            }
          }
        }
      }
    }

    &.font-color-4 {
      border-top: 2px solid $branding-font-header-color-4;
      border-bottom: 2px solid $branding-font-header-color-4;
      
      li {

        width: 15%;
        padding: 5px;
        text-align: center;
        display: inline-block;
        
        a {
          color: $dark-gray;
          padding: 10px;
          padding-left: 20px;
          padding-right: 20px;
          text-decoration:none;
          text-align: center;

          &:hover,
          &:focus {
            color: $branding-font-header-color-4;
            text-decoration:none;
          }
        }

        &.is-active {
          a {
            color: $branding-font-header-color-4;
            font-size: 25px;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: bold;
            text-decoration:none;
            text-align: center;

            &:hover,
            &:focus {
              color: $branding-font-header-color-4;
              text-decoration:none;
            }
          }
        }
      }
    }

    &.font-color-5 {
      border-top: 2px solid $branding-font-header-color-5;
      border-bottom: 2px solid $branding-font-header-color-5;
      
      li {

        width: 15%;
        padding: 5px;
        text-align: center;
        display: inline-block;
        
        a {
          color: $dark-gray;
          padding: 10px;
          padding-left: 20px;
          padding-right: 20px;
          text-decoration:none;
          text-align: center;

          &:hover,
          &:focus {
            color: $branding-font-header-color-5;
            font-weight: bold;
            text-decoration:none;
          }
        }

        &.is-active {
          a {
            color: $branding-font-header-color-5;
            font-size: 25px;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: bold;
            text-decoration:none;
            text-align: center;

            &:hover,
            &:focus {
              color: $branding-font-header-color-5;
              font-weight: bold;
              text-decoration:none;
            }

          }
        }
      }
    }

    &.font-color-6 {
      border-top: 2px solid $branding-font-header-color-6;
      border-bottom: 2px solid $branding-font-header-color-6;
      
      li {
        
        width: 15%;
        padding: 5px;
        text-align: center;
        display: inline-block;
        
        a {
          color: $dark-gray;
          padding: 10px;
          padding-left: 20px;
          padding-right: 20px;
          text-decoration:none;
          text-align: center;

          &:hover,
          &:focus {
            color: $branding-font-header-color-6;
            font-weight: bold;
            text-decoration:none;
          }
        }

        &.is-active {
          a {
            color: $branding-font-header-color-6;
            font-size: 25px;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: bold;
            text-decoration:none;
            text-align: center;

            &:hover,
            &:focus {
              color: $branding-font-header-color-6;
              font-weight: bold;
              text-decoration:none;
            }
          }
        }
      }
    }
  }
}