<section class="email-signup-form callout large primary" style="background-color: #F0F0F0;" aria-label="">   
    <div class="content-container center"><!-- old background color: ##dce9f3-->

        <form data-abide novalidate id="email-signup" class="subscription-form" method="post" action="{{email-signup-form.form-link}}" pageId="21799284" siteId="523918" parentPageId="21799282" >
            <div class="row">
                <h2 class="center">{{email-signup-form.title}}</h2>
                <div style="width: 100%;">
                    <p class="center">{{email-signup-form.content}}</p>
                </div>
            </div>
            <div class="row">
                <div class="small-7 columns">
                <input name="Email" id="control_EMAIL" class="input-text subscription-input" placeholder="{{email-signup-form.form-place-holder}}" size="21" type="email" maxlength="80" required="" minlength="2">
                </div>
                <div class="small-5 columns">
                    <input class="signup expanded large button" type="submit" value="{{email-signup-form.button-content}}">
                    <input type="hidden" name="Source" id="control_COLUMN3" value="web">
                    <input type="hidden" name="formSourceName" value="StandardForm">
                    <!-- DO NOT REMOVE HIDDEN FIELD sp_exp -->
                    <input type="hidden" name="sp_exp" value="yes">
                </div>
            </div>
            <div data-abide-error id="error-email-signup" class="alert callout" style="display: none;">
                <p><i class="fi-alert"></i> {{email-signup-form.error-content}}</p>
            </div>
        </form>
        
    </div>
</section>