<section id="content-ordered-list-component" class="content-shadow">
        <div class="row">
                <div class="small-12 medium-12 large-12 columns no-side-padding">
                    <div class="pad-all-xxlrg bottom-margin-xlrg box-shadow-normal" style="background-color: #fff; border: 1px solid #cacaca;">
                        <div class="row">
                            <div class="small-12 medium-12 large-12 columns">
                                <h2>Why You Should Choose Identity Guard<sup>®</sup>?</h2>
                                <p class="">For the last 20 years, our company has helped protect over 47 million identities. As the trusted partner of leading financial institutions, credit unions, member associations, health care insurers, educational institutions and more, we’ve handled all kinds of breaches ranging from small to over 40 million impacted individuals.</p>
                                <ol class="custom-counter multi-column-2">
                                        <li>The only online one-stop solution for data breach service</li>
                                        <li>Buy online and be up and running with a full data breach response in minutes</li>
                                        <li>Dedicated breach team has handled breaches of all sizes</li>
                                        <li>Award winning products and services</li>
                                        <li>In-depth monitoring and prompt alerts are based on information gathered in real-time for your customers</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>