<section class="top-margin-xlrg bottom-margin-xlrg hero-banner-tab-nav">
    <div class="slug center">{{hero-banner-tab.[0].slug}}</div>
    <h2 class="main-header center bottom-margin-xlrg">{{hero-banner-tab.[0].main-header}}</h2>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns no-side-padding">
             <ul class="subnav-hero-subnav">
                {{#each hero-banner-tab-nav-links}}
                <li id="{{ id }}" class="{{ class }}">
                    <button class="{{ class }}">
                        <div style="height: 58px;"><img src="{{icon}}"></div>
                        <div>{{ title }}</div>
                    </button>
                </li>
                {{/each}}
            </ul>   
        </div>
    </div>
    <div id="hero-banner-image" class="row" class="subnav-hero-section" style="height: 445px; background-image: url('{{ hero-banner-tab.[0].img-src1 }}');">
        <!-- Banner Images: Keep the above Div Image Path and Add the Different Image Paths to the URL attribute below and the Javascript will control the display -->
        <span id="caption-image1" url="{{ hero-banner-tab.[0].img-src1 }}" style="display: none;"></span>
        <span id="caption-image2" url="{{ hero-banner-tab.[0].img-src2 }}" style="display: none;"></span>
        <span id="caption-image3" url="{{ hero-banner-tab.[0].img-src3 }}" style="display: none;"></span>
        <span id="caption-image4" url="{{ hero-banner-tab.[0].img-src4 }}" style="display: none;"></span>
        <span id="caption-image5" url="{{ hero-banner-tab.[0].img-src5 }}" style="display: none;"></span>
        <span id="caption-image6" url="{{ hero-banner-tab.[0].img-src6 }}" style="display: none;"></span>

        <div class="caption">
            <div class="caption_inner">
                {{#each hero-banner-tab-nav}}
                <h2 id="{{ id }}" class="hero-header" style="display: {{ display-style }};">{{ title }}</h2>
                <p id="{{ id2 }}" style="display: {{ display-style }};">{{ description }}
                {{#ifequal footnote ''}}
                {{else}}
                    <sup>{{ footnote }}</sup>
                {{/ifequal}}

                {{#ifequal description2 ''}}
                {{else}}
                    {{ description2 }}
                {{/ifequal}}
                {{#ifequal footnote2 ''}}
                {{else}}
                    <sup>{{ footnote2 }}</sup>
                {{/ifequal}}
                </p>
                {{/each}}
            </div>
        </div>
    </div>
</section>