<section id="howto-banner-tab-nav" class="bottom-margin-xlrg box-shadow-no-border">
    <div id="howto-banner-image" class="row" style="height: 384px; background-image: url('/assets/img/hero-banners/howto-repair-hero-banner.png');">
        <!-- Banner Images: Keep the above Div Image Path and Add the Different Image Paths to the URL attribute below and the Javascript will control the display -->
        <span id="caption-image1" url="/assets/img/hero-banners/howto-repair-hero-banner.png" style="display: none;"></span>
        <span id="caption-image2" url="/assets/img/hero-banners/howto-repair-hero-banner.png" style="display: none;"></span>
        <span id="caption-image3" url="/assets/img/hero-banners/howto-repair-hero-banner.png" style="display: none;"></span>
        <span id="caption-image4" url="/assets/img/hero-banners/howto-repair-hero-banner.png" style="display: none;"></span>
        <span id="caption-image5" url="/assets/img/hero-banners/howto-repair-hero-banner.png" style="display: none;"></span>
        <div class="caption">
            <h2 id="caption1" class="hero-header" style="display: block;">How To Get Repaired Today: Step 1</h2>
            <p id="caption1b" style="display: block;">Choose your product tier and click on “Select Plan” </p>
            <h2 id="caption2" class="hero-header" style="display: none;">How To Get Repaired Today: Step 2</h2>
            <p id="caption2b" style="display: none;">Choose your product tier and click on “Select Plan” </p>
            <h2 id="caption3" class="hero-header" style="display: none;">How To Get Repaired Today: Step 3</h2>
            <p id="caption3b" style="display: none;">Choose your product tier and click on “Select Plan” </p>
            <h2 id="caption4" class="hero-header" style="display: none;">How To Get Repaired Today: Step 4</h2>
            <p id="caption4b" style="display: none;">Choose your product tier and click on “Select Plan” </p>
            <h2 id="caption5" class="hero-header" style="display: none;">Offer a New Benefit</h2>
            <p id="caption5b" style="display: none;">Differentiate your offerings with the first identity protection service to partner with IBM Watson to help protect with advanced AI.</p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns no-side-padding" style="background-color: #fff; border-radius: 5px;">
            <ul class="subnav-hero-subnav">
                <li id="link1" class="is-active">
                    <button class="is-active">
                        <h2>Step 1</h2>
                    </button>
                </li>
                <li id="link2" class="">
                    <button class="">
                        <h2>Step 2</h2>
                    </button>
                </li>
                <li id="link3" class="">
                    <button class="">
                        <h2>Step 3</h2>
                    </button>
                </li>
                <li id="link4" class="">
                    <button class="">
                        <h2>Step 4</h2>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>

