<section class="homepage-header">
    <div class="no-pad no-margin">
        <div class="small-12 medium-12 large-12 columns no-pad no-margin">
          <div class="content-container">
            <div class="small-12 medium-8 large-7 columns slideRightFadeIn">
                <h1>{{ global-header.title }}</h1>
                <p class="content">{{ global-header.content1 }}</p>
                <p class="content">{{ global-header.content2 }}</p>
                {{> homepage-open-button }}  
            </div>
            <div class="small-12 medium-4 large-5 columns">
                  
            </div>
          </div>
        </div>
    </div> 
</section>