$about-the-author-text-transform: uppercase;
$about-the-author-separator-width: 5rem;
$about-the-author-separator-thickness: 0.125rem;

.global-2column-banner {

    color: #000;
    font-size: 20px;
    line-height: 1.3;

    h2 {
        font-size: 25px;
        font-family: "Open Sans SemiBold", sans-serif;
        line-height: 1.3;
    }

    p {
        line-height: 1.3;
    }

    &.callout {
        background-color: #f8f9fa;
        color: #000;
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 0;

        &.callout.large {
            padding-top: 2rem;
            padding-right: 1rem;
            padding-bottom: 2rem;
            padding-left: 1rem;

            &.dark-bg {
                color: $branding-color-white;
            }
        }

        &.primary {
            background-color: #f8f9fa;
            color: #000;
            font-size: 20px;
            line-height: 1.3;
        }
    }

    &.dark-bg {
        color: $branding-color-white;
    }
}