<section id="global-2column-value-plan" class="callout large primary {{value-plan-2col-banner.additional-classes}}" style="color: {{value-plan-2col-banner.font-color}}; background-color: {{value-plan-2col-banner.bg-color}}; background-image: url('{{value-plan-2col-banner.bg-image}}');" aria-label="">   
        <div class="content-container">
            <div class="about-the-article bottom-border">
                <div class="row">
                    <div class="small-12 medium-12 large-4 xlarge-5 columns">
                        <div class="article-image center" style="margin-bottom: 3rem;">
                            <img src="{{value-plan-2col-banner.left-image}}">
                        </div>
                    </div>
                    <div class="small-12 medium-12 large-8 xlarge-7 columns pad-all-xlrg">
                        <h2>{{value-plan-2col-banner.title}}</h2>
                        <p>{{value-plan-2col-banner.content}}</p>
                        <p>{{value-plan-2col-banner.content2}}</p>
                        <p><strong>{{value-plan-2col-banner.plan-price}}</strong></p>
                        <p>
                            {{#ifequal value-plan-2col-banner.button-link ''}}
    
                            {{else}}
                                <a class="{{value-plan-2col-banner.button-class}}" href="{{value-plan-2col-banner.button-link}}" target="_blank">{{value-plan-2col-banner.button-text}}</a>
                            {{/ifequal}}
    
                            {{#ifequal value-plan-2col-banner.button-link2 ''}}
                            
                            {{else}}
                                <a class="{{value-plan-2col-banner.button-class2}}" href="{{value-plan-2col-banner.button-link2}}">{{value-plan-2col-banner.button-text2}}</a>
                            {{/ifequal}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
      