<section id="partners-container left">
    <div class="pad-all-lrg" style="background-color: none; border: none;">            
            <div class="row">
                <h4 class="left-margin-med bottom-margin-sm">Offer a Vital Protection Service</h4>
            </div>
        <div class="row">
            <div class="small-12 medium-7 large-7 columns">
                <p>Partnering with Identity Guard® can help you demonstrate how much you care for your customers. No matter how big or small your organization is, you can help protect people from the wide-reaching threat of identity theft.</p>
                <p>You can provide customers, employees and their families with comprehensive protection. Connect with the Partner Team today to start your journey.</p>
            </div>
            <div class="small-12 medium-5 large-5 columns">
                <div class="partners-module" style="background-color: none;">
                    <div class="row" >
                        <div class="small-12 columns bottom-margin-xlrg">
                            <p><img src="/assets/img/icons/alert-mark.png"><span class="highlight">2 out of 5</span> Americans have been a victim of identity theft or knows someone who has been a victim<sup>[1]</sup></p>
                            <p><img src="/assets/img/icons/alert-mark.png"><span class="highlight">41 Million</span> U.S. adults have already had their identities stolen<sup>[2]</sup></p>
                            <p><img src="/assets/img/icons/alert-mark.png">Over the last 6 years, losses from identity fraud are estimated to exceed <span class="highlight">$107 billion</span><sup>[3]</sup></p>
                            <p><img src="/assets/img/icons/alert-mark.png"><span class="highlight">1 in 5 victims</span> don’t discover identity theft for 2 years or more after the incident<sup>[4]</sup></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="partners-container" class="row">
    <div class="pad-all-lrg" style="background-color: none; border: none;">            
            <div class="row">
                <h4 class="left-margin-med bottom-margin-sm">Offer a Vital Protection Service</h4>
            </div>
        <div class="row">
            <div class="small-12 medium-5 large-5 columns">
                <div class="partners-module" style="background-color: none;">
                    <div class="row" >
                        <div class="small-12 columns bottom-margin-xlrg">
                            <p><img src="/assets/img/icons/alert-mark.png"><span class="highlight">2 out of 5</span> Americans have been a victim of identity theft or knows someone who has been a victim<sup>[1]</sup></p>
                            <p><img src="/assets/img/icons/alert-mark.png"><span class="highlight">41 Million</span> U.S. adults have already had their identities stolen<sup>[2]</sup></p>
                            <p><img src="/assets/img/icons/alert-mark.png">Over the last 6 years, losses from identity fraud are estimated to exceed <span class="highlight">$107 billion</span><sup>[3]</sup></p>
                            <p><img src="/assets/img/icons/alert-mark.png"><span class="highlight">1 in 5 victims</span> don’t discover identity theft for 2 years or more after the incident<sup>[4]</sup></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-7 large-7 columns">
                <p>Partnering with Identity Guard® can help you demonstrate how much you care for your customers. No matter how big or small your organization is, you can help protect people from the wide-reaching threat of identity theft.</p>
                <p>You can provide customers, employees and their families with comprehensive protection. Connect with the Partner Team today to start your journey.</p>
            </div>
        </div>
    </div>
</section>