<section class="value-plan-3column-banner callout large primary" aria-label="">   
    <div class="content-container">
        <div class="row">
            <div class="small-12 medium-12 large-12 columns center">
                <h2>{{ value-plan3-column-banner-title.title }}</h2>
            </div>
        </div>

        <div class="row small-up-1 medium-up-2">
            {{#each value-plan3-column-banner}}
            <div class="column">
                <div class="article-image center">
                    <img src="{{ image }}">
                    <p class="title"><strong>{{ title }}<sup>{{ title-trademark }}</sup>{{ title2 }}<sup>{{ title2-trademark }}</sup>{{ title3 }}</strong></p>
                    <p class="content-left" style="margin-bottom: 10%;">{{ description }}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
  