<ul class="sticky-social-bar">
        <li class="social-icon">
            <a href="https://www.facebook.com/sharer/sharer.php?u=www.identityguardbusiness.com/resource-center/" class="" target="_blank">
                <img class="facebook" src="/assets/img/resource-center/icons/facebook-button.png" alt="">
            </a>
        </li>
        <li class="social-icon">
            <a href="https://twitter.com/home?status=www.identityguardbusiness.com/resource-center/" class="" target="_blank">
                <img class="twitter" src="/assets/img/resource-center/icons/twitter-button.png" alt="">
            </a>
        </li>
        <li class="social-icon">
            <a href="https://www.linkz" class="" target="_blank">
                <img src="/assets/img/resource-center/icons/linkedin-button.png" alt="">
            </a>
        </li>
        <li class="social-icon">
            <a href="https://www.youtube.com/user/IdentityGuardTV" class="" target="_blank">
                <img src="/assets/img/resource-center/icons/email-button.png" alt="">
            </a>
        </li>
</ul>
      
      