<section class="global-2column-banner callout large primary {{global-2col-banner.additional-classes}}" style="background-image: url('{{global-2col-banner.bg-image}}'); background-size: cover; background-repeat: no-repeat;" aria-label="">   
    <div class="content-container">
        <div class="about-the-article">
            <div class="row">
                <div class="small-12 medium-12 large-4 xlarge-3 columns">
                    <div class="article-image center" style="margin-bottom: 3rem;">
                        <img src="{{global-2col-banner.left-image}}">
                    </div>
                </div>
                <div class="small-12 medium-12 large-8 xlarge-9 columns top-padding-xlrg">
                    <h2>{{global-2col-banner.title}}</h2>
                    <p>{{global-2col-banner.content}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
  