<section aria-labelledby="main-heading">

  <div class="show-for-small-only fullscreen-image-hero {{ orbit-image-carousel.[2].height-type }}" style="background-color: {{ orbit-image-carousel.[1].background-color }}; background-image: url('{{ orbit-image-carousel-slides.[0].img-src }}'); background-size: cover; background-repeat: no-repeat;">
    <div class="mobile orbit-caption {{ orbit-image-carousel-slides.[0].text-color }}">
      <h1>{{ orbit-image-carousel-slides.[0].caption1 }}<br />{{ orbit-image-carousel-slides.[0].caption1b }}</h1>
      <h2>{{ orbit-image-carousel-slides.[0].caption2 }}</h2>
      <h2>{{ orbit-image-carousel-slides.[0].caption2b }}</h2>
      <button tabindex="0" href="{{ orbit-image-carousel-slides.[0].buttonLink }}" class="{{ orbit-image-carousel-slides.[0].buttonClass }}">{{ orbit-image-carousel-slides.[0].buttonText }}</button>
    </div>
  </div>

  <div class="show-for-medium-only fullscreen-image-hero {{ orbit-image-carousel.[2].height-type }}" style="background-color: {{ orbit-image-carousel.[1].background-color }}; background-image: url('{{ orbit-image-carousel-slides.[0].img-src }}'); background-size: cover; background-repeat: no-repeat;">
    <div class="mobile orbit-caption {{ orbit-image-carousel-slides.[0].text-color }}">
      <h1>{{ orbit-image-carousel-slides.[0].caption1 }}<br />{{ orbit-image-carousel-slides.[0].caption1b }}</h1>
      <h2>{{ orbit-image-carousel-slides.[0].caption2 }}</h2>
      <h2>{{ orbit-image-carousel-slides.[0].caption2b }}</h2>
      <button tabindex="0" href="{{ orbit-image-carousel-slides.[0].buttonLink }}" class="{{ orbit-image-carousel-slides.[0].buttonClass }}">{{ orbit-image-carousel-slides.[0].buttonText }}</button>
    </div>
  </div>

  <div class="show-for-large fullscreen-image-hero {{ orbit-image-carousel.[2].height-type }}" style="background-color: {{ orbit-image-carousel.[1].background-color }}; background-image: url('{{ orbit-image-carousel-slides.[0].img-src }}'); background-size: cover; background-repeat: no-repeat;">
    <div class="orbit-caption {{ orbit-image-carousel-slides.[0].text-color }}">
      <h1>{{ orbit-image-carousel-slides.[0].caption1 }}<br />{{ orbit-image-carousel-slides.[0].caption1b }}</h1>
      <h2>{{ orbit-image-carousel-slides.[0].caption2 }}</h2>
      <h2>{{ orbit-image-carousel-slides.[0].caption2b }}</h2>
      <button tabindex="0" href="{{ orbit-image-carousel-slides.[0].buttonLink }}" class="{{ orbit-image-carousel-slides.[0].buttonClass }}">{{ orbit-image-carousel-slides.[0].buttonText }}</button>
    </div>
  </div>
</div>
</section>

  
  
  