<section id="multi-box-component-2" class="{{ multi-box-top-layout.[0].container-shadow }}" style="background-color: {{ multi-box-top-layout.[0].background-color }}; border: {{ multi-box-top-layout.[0].border }};">
    <h2 class="header center bottom-margin-lrg">{{ multi-box-top-layout.[0].main-title }}</h2>
    <p class="center bottom-margin-xlrg">{{ multi-box-top-layout.[0].main-content }}</p>
    <div class="row small-up-1 {{ multi-box-top-layout.[0].column-number }}">
        {{#each multi-box-top}}
        <div class="column">
            <div class="row">
                    <div class="small-12 medium-12 large-12 columns">
                    <div class="multi-box-shadow" style="background-color: {{ background-color }}; border: {{ border }}; {{ min-height }}">
                        <div class="inner-box"> 
                            <div class="image" style="display: {{ image-display }};">
                                <img src="{{ image-src }}" alt="{{ image-alt-tag }}">
                            </div>
                            <span class="large-title" style="display: {{ large-title-display }};">{{ large-title }}</span>
                            <span class="small-title" style="display: {{ small-title-display }};">{{ small-title }}</span>
                            <span style="display: {{ content-display }};">{{ content }}</span>
                            <span class="small-title" style="display: {{ link-display }};"><a href="{{ link-url }}">{{ link-text }}</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each }}
    </div>
    <p class="center">{{ multi-box-top-layout.[0].footer-content1 }}</p>
    <p class="center">{{ multi-box-top-layout.[0].footer-content2 }}</p>
    <p class="center">{{ multi-box-top-layout.[0].footer-content3 }}</p>
</section>