$about-the-author-text-transform: uppercase;
$about-the-author-separator-width: 5rem;
$about-the-author-separator-thickness: 0.125rem;

.global-1column-banner {

    color: #fff;
    font-size: 20px;
    line-height: 1.3;

    h2 {
        font-size: 44px;
        font-family: "Open Sans SemiBold", sans-serif;
        line-height: 1.3;
        margin-bottom: 20px;

    }

    p {
        line-height: 1.3;
    }

    &.callout {
        background-color: #f8f9fa;
        color: #000;
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 0;

        &.callout.large {
            padding-top: 5rem;
            padding-right: 3rem;
            padding-bottom: 5rem;
            padding-left: 3rem;
        }

        &.primary {
            background-color: #f8f9fa;
            color: #fff;
            font-size: 20px;
            line-height: 1.3;
        }
    }

}