<section class="column-portfolio-component portfolio-background ">   

    <div class="row portfolio-content ">
       
        <div class="small-12 medium-7 large-8 columns pad-all-lrg animation-left">
            <h4 class="portfolio-title">{{portfolio-1.title}}</h4>
            <p>
                <strong>{{portfolio-1.highlight1}}</strong> {{portfolio-1.content1}}
            </p>
            <p>
                {{portfolio-1.content2}}
            </p>
            <p>
                <strong>{{portfolio-1.highlight3}}</strong> {{portfolio-1.content3}}
            </p>
            <div class="box-shadow-no-border-pad-all">
                <div class="bottom-margin-lrg"><strong>MICHAELFUGATE.COM - UX Design Process:</strong></div>
                    <button id="new-window" tabindex="0" href="../assets/pdfs/michael_fugate-ux-mood-board.pdf" class="button">
                        Mood Board (PDF - 17mb file) 
                        <svg width="10px" height="10px" viewBox="0 0 10 10" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                            <title>arrow-button-left</title>
                            <defs></defs>
                            <g id="branding--homepage3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Desktop-HD" transform="translate(-710.000000, -770.000000)" fill="#FFFFFF">
                                    <path d="M719.812901,774.356019 L715.99441,770.21405 C715.730437,769.92865 715.303085,769.92865 715.039787,770.21405 C714.775814,770.506769 714.775814,770.967801 715.039787,771.253202 L717.821965,774.268203 L710.675122,774.268203 C710.30178,774.268203 710,774.597512 710,775 C710,775.402488 710.30178,775.731797 710.675122,775.731797 L717.821965,775.731797 L715.039787,778.746798 C714.775814,779.032199 714.775814,779.500549 715.039787,779.78595 C715.303085,780.07135 715.730437,780.07135 715.99441,779.78595 L719.812901,775.643981 C719.97493,775.46835 720.025564,775.226857 719.988432,775 C720.025564,774.773143 719.97493,774.53165 719.812901,774.356019 L719.812901,774.356019 Z" id="arrow-button-left"></path>
                                </g>
                            </g>
                        </svg>
                    </button>
                    <button id="new-window" tabindex="0" href="../assets/pdfs/michael_fugate-ux-wireframes.pdf" class="button">
                        Wireframes (PDF) 
                        <svg width="10px" height="10px" viewBox="0 0 10 10" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                            <title>arrow-button-left</title>
                            <defs></defs>
                            <g id="branding--homepage3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Desktop-HD" transform="translate(-710.000000, -770.000000)" fill="#FFFFFF">
                                    <path d="M719.812901,774.356019 L715.99441,770.21405 C715.730437,769.92865 715.303085,769.92865 715.039787,770.21405 C714.775814,770.506769 714.775814,770.967801 715.039787,771.253202 L717.821965,774.268203 L710.675122,774.268203 C710.30178,774.268203 710,774.597512 710,775 C710,775.402488 710.30178,775.731797 710.675122,775.731797 L717.821965,775.731797 L715.039787,778.746798 C714.775814,779.032199 714.775814,779.500549 715.039787,779.78595 C715.303085,780.07135 715.730437,780.07135 715.99441,779.78595 L719.812901,775.643981 C719.97493,775.46835 720.025564,775.226857 719.988432,775 C720.025564,774.773143 719.97493,774.53165 719.812901,774.356019 L719.812901,774.356019 Z" id="arrow-button-left"></path>
                                </g>
                            </g>
                        </svg>
                    </button>
                    <button id="new-window" tabindex="0" href="../assets/pdfs/michael_fugate-ux-website-redesign.pdf" class="button">
                        Design Process (PDF - 36mb file) 
                        <svg width="10px" height="10px" viewBox="0 0 10 10" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                            <title>arrow-button-left</title>
                            <defs></defs>
                            <g id="branding--homepage3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Desktop-HD" transform="translate(-710.000000, -770.000000)" fill="#FFFFFF">
                                    <path d="M719.812901,774.356019 L715.99441,770.21405 C715.730437,769.92865 715.303085,769.92865 715.039787,770.21405 C714.775814,770.506769 714.775814,770.967801 715.039787,771.253202 L717.821965,774.268203 L710.675122,774.268203 C710.30178,774.268203 710,774.597512 710,775 C710,775.402488 710.30178,775.731797 710.675122,775.731797 L717.821965,775.731797 L715.039787,778.746798 C714.775814,779.032199 714.775814,779.500549 715.039787,779.78595 C715.303085,780.07135 715.730437,780.07135 715.99441,779.78595 L719.812901,775.643981 C719.97493,775.46835 720.025564,775.226857 719.988432,775 C720.025564,774.773143 719.97493,774.53165 719.812901,774.356019 L719.812901,774.356019 Z" id="arrow-button-left"></path>
                                </g>
                            </g>
                        </svg>
                    </button>
                    <button id="new-window" tabindex="0" href="https://bitbucket.org/fugateml/mfugate-example-sketch-file/raw/48a19a7411825f55ecec3ae24daa8b01fba80ca7/michael_fugate-website-resdesign.sketch" class="button">
                        Download Sketch file (60mb file) 
                        <svg width="10px" height="10px" viewBox="0 0 10 10" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                            <title>arrow-button-left</title>
                            <defs></defs>
                            <g id="branding--homepage3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Desktop-HD" transform="translate(-710.000000, -770.000000)" fill="#FFFFFF">
                                    <path d="M719.812901,774.356019 L715.99441,770.21405 C715.730437,769.92865 715.303085,769.92865 715.039787,770.21405 C714.775814,770.506769 714.775814,770.967801 715.039787,771.253202 L717.821965,774.268203 L710.675122,774.268203 C710.30178,774.268203 710,774.597512 710,775 C710,775.402488 710.30178,775.731797 710.675122,775.731797 L717.821965,775.731797 L715.039787,778.746798 C714.775814,779.032199 714.775814,779.500549 715.039787,779.78595 C715.303085,780.07135 715.730437,780.07135 715.99441,779.78595 L719.812901,775.643981 C719.97493,775.46835 720.025564,775.226857 719.988432,775 C720.025564,774.773143 719.97493,774.53165 719.812901,774.356019 L719.812901,774.356019 Z" id="arrow-button-left"></path>
                                </g>
                            </g>
                        </svg>
                    </button>
            </div>
        </div>

        <div class="small-12 medium-5 large-4 columns top-margin-xlrg animation-right">
           
            <img src="{{portfolio-1.img-src}}">
      
        </div>
    </div>
</section>
  