<section class="column-portfolio-component portfolio-background ">   

    <div class="row portfolio-content ">
       
        <div class="small-12 medium-7 large-8 columns pad-all-lrg animation-left">
            <h4 class="portfolio-title">{{portfolio-1.title}}</h4>
            <p>
                <strong>{{portfolio-1.highlight1}}</strong> {{portfolio-1.content1}}
            </p>
            <p>
                {{portfolio-1.content2}}
            </p>
            <p>
                <strong>{{portfolio-1.highlight3}}</strong> {{portfolio-1.content3}}
            </p>
            {{> global-solid-button}}
        </div>

        <div class="small-12 medium-5 large-4 columns top-margin-xlrg animation-right">
           
            <img src="{{portfolio-1.img-src}}">
      
        </div>
    </div>
</section>
  