.homepage-header {
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 18px;
    width: 100%;
    min-height: 560px;
    height: 560px;
    text-align: left;
    color: #fff;
    z-index: 50;
    //margin-top: -8%;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 140px;
      z-index: 100;
  
      #hide {
        display:none;
      }
  
    }

    opacity: 1;
    background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes HeaderFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: HeaderFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

    p {
      font-size: rem-calc(18px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
    
    .content {
        font-size: rem-calc(18px);
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }

    .header-content {
      font-size: rem-calc(18px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
  }


    .header-container {
      width: 100%;

      p {

          width: 100%;
      }

    }

    img {
      width: 100%;
    }

    .content-container {

      overflow: hidden;
      height: 450px;
      margin-top: 15%;
      z-index: 100;

    }

  
    h1{
      font-size: 32px;
      font-weight: 400;
      font-family: 'Open Sans',sans-serif;
      width: 100%;
      text-align: left;
      color: $branding-color-8;
    }

    a{
      //color: #fff;
    }
    a:hover,
    a:focus {
      //color: #fff;
      text-decoration: underline;
    }
  }

  /* ----- Max Header width on normal xlarge SCSS is 1585px ---- */

  @media (min-width: 1070px) { // X-Large Up
    .homepage-header {
      
      padding-top: 2%;
      padding-left: 3%;
      padding-right: 0%;
      padding-bottom: 40px;
      
      min-height: 620px;
      height: 620px;

      opacity: 1;
      background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
      background-size: cover; background-repeat: no-repeat;

      @keyframes HeaderFadeInOut {
        0% {
          opacity: 1;
          background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
          background-size: cover; background-repeat: no-repeat;
        }
        50% {
          opacity: 1;
          background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
          background-size: cover; background-repeat: no-repeat;
        }
  
        70% {
          opacity: 1;
          background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
          background-size: cover; background-repeat: no-repeat;
        }
  
        100% {
          opacity: 1;
          background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
          background-size: cover; background-repeat: no-repeat;
        }
      }
        
        animation-name: HeaderFadeInOut;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 10s;
        animation-direction: alternate;
    }
  }
  

@media (min-width: 1080px) { // X-Large Up
  .homepage-header {
      
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 20px;
    
    min-height: 620px;
    height: 620px;

    opacity: 1;
    background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes HeaderFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: HeaderFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

    p {
      font-size: 20px;
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }

    h1{
      font-size: 30px;
      font-weight: 400;
      font-family: 'Open Sans',sans-serif;
      width: 100%;
      text-align: left;
      color: $branding-color-8;
    }
  }
}

@media (min-width: 1100px) { // X-Large Up
  .homepage-header {
    
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 18px;
    
    min-height: 600px;
    height: 600px;

    opacity: 1;
    background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes HeaderFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: HeaderFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;
  }
}

@media (min-width: 1120px) { // X-Large Up
  .homepage-header {
    
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 18px;

    min-height: 620px;
    height: 620px;
  }
}

@media (min-width: 1140px) { // X-Large Up
  .homepage-header {
    
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 18px;

    min-height: 640px;
    height: 640px;
  }
}

@media (min-width: 1160px) { // X-Large Up
  .homepage-header {
    min-height: 660px;
    height: 660px;
  }
}

@media (min-width: 1180px) { // 1620 Highest Banner Resolution supported
  .homepage-header {
    
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 18px;

    min-height: 680px;
    height: 680px;
  }
}

@media (min-width: 1200px) { // 1620 Highest Banner Resolution supported
  .homepage-header {
    min-height: 680px;
    height: 680px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 170px;
      z-index: 100;
  
      #hide {
        display:none;
      }
  
    }

    opacity: 1;
    background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes HeaderFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: HeaderFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;
  }
}
