.homepage-header{
  padding-top: 30%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 40px;
  font-size: 15px;
  width: 100%;
  min-height: 670px;
  height: 670px;
  text-align: left;
  color: #fff;
  z-index: 50;

  a {
    text-align: left;
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
      text-align: left;
      color: #fff;
      text-decoration: none;
    }
  }

  .sticky {

    position: fixed;
    top: 0;
    width: 100%;
    height: 155px;
    z-index: 100;

    #hide {
      display:none;
    }

  }
  
  .button {

    &.hollow {

      &.theme-white {

        margin-right: 10px;

        svg {
          g {
              fill: $branding-color-white;
              //fill: $branding-solid-color-button-text2;
          }
        }

      } 

    }

    &:hover,
    &:focus {

      &.hollow {

        &.theme-white {
  
          margin-right: 10px;
  
          svg {
            g {
                //fill: $branding-color-white;
                fill: $branding-solid-color-button-text2;
            }
          }
  
        } 
  
      }

    }

  }

  background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
  background-size: cover; background-repeat: no-repeat;
  
  p {
    font-size: rem-calc(15px);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }
  
  .content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
  }

  .header-content {
    font-size: rem-calc(15px);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

  .container {
    width: 100%;

    p {
        width: 100%;
      
    }

  }

  img {
    width: 100%;
  }

  .content-container {

    overflow: hidden;
    height: 355px;
    margin-top: 15%;
    z-index: 100;

  }

  h1{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    width: 100%;
    text-align: left;
    color: $branding-color-8;
  }

  a{
    //color: #fff;
  }
  a:hover,
  a:focus {
    //color: #fff;
    text-decoration: underline;
  }
}

/* ----- Max Header width on normal xlarge SCSS is 1585px ---- */

@media (min-width: 240px) { // X-Large Up
  .homepage-header {

    padding-top: 47%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 800px;
    height: 800px;

    background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 170px;
      z-index: 100;
  
      #hide {
        display:none;
      }
  
    }

    .content-container {

      overflow: hidden;
      height: 540px;
      margin-top: 15%;
      z-index: 100;
  
    }
 
  }

  
}

@media (min-width: 340px) { // X-Large Up
  .homepage-header {

    padding-top: 44%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 720px;
    height: 720px;

    background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 170px;
      z-index: 100;
  
      #hide {
        display:none;
      }
  
    }

    .content-container {

      overflow: hidden;
      height: 450px;
      margin-top: 15%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 370px) { // X-Large Up
  .homepage-header {

    padding-top: 32%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 650px;
    height: 650px;

    background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 160px;
      z-index: 100;
  
      #hide {
        display:none;
      }
  
    }

    .content-container {

      overflow: hidden;
      height: 400px;
      margin-top: 15%;
      z-index: 100;
  
    }
 

  }
}

@media (min-width: 410px) { // X-Large Up
  .homepage-header {

    padding-top: 24%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 620px;
    height: 620px;

    background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 160px;
      z-index: 100;
  
      #hide {
        display:none;
      }
  
    }

    .content-container {

      overflow: hidden;
      height: 390px;
      margin-top: 17%;
      z-index: 100;
  
    }

  }
}

@media (min-width: 440px) { // X-Large Up
  .homepage-header {

    padding-top: 25%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 620px;
    height: 620px;

    background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
    background-size: cover; background-repeat: no-repeat;


    .content-container {

      overflow: hidden;
      height: 390px;
      margin-top: 15%;
      z-index: 100;
  
    }

  }
}

@media (min-width: 460px) { // X-Large Up
  .homepage-header {

    padding-top: 18%;
    padding-left: 3%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 580px;
    height: 580px;

    background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 150px;
      z-index: 100;
  
      #hide {
        display:none;
      }
  
    }

    .content-container {

      overflow: hidden;
      height: 355px;
      margin-top: 16%;
      z-index: 100;
  
    }

  }
}

@media (min-width: 480px) { // X-Large Up
  .homepage-header {

    padding-top: 20%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 595px;
    height: 595px;

    background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 355px;
      margin-top: 14%;
      z-index: 100;
  
    }

  }
}

@media (min-width: 505px) { // X-Large Up
  .homepage-header {

    padding-top: 20%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 555px;
    height: 555px;

    background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 355px;
      margin-top: 13%;
      z-index: 100;
  
    }

  }
}


@media (min-width: 520px) { // X-Large Up
  .homepage-header {

    padding-top: 18%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 550px;
    height: 550px;

    background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 355px;
      margin-top: 15%;
      z-index: 100;
  
    }

  }
}


@media (min-width: 540px) { // X-Large Up
  .homepage-header {

    padding-top: 14%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 520px;
    height: 520px;

    background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
    background-size: cover; background-repeat: no-repeat;

  }
}

@media (min-width: 550px) { // X-Large Up
  .homepage-header {

    padding-top: 15%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 530px;
    height: 530px;

    background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
    background-size: cover; background-repeat: no-repeat;

  }
}

@media (min-width: 560px) { // X-Large Up
  .homepage-header {

    padding-top: 14%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 530px;
    height: 530px;

    background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 140px;
      z-index: 100;
  
      #hide {
        display:none;
      }
  
    }

  }
}

@media (min-width: 580px) { // X-Large Up
  .homepage-header {

    padding-top: 14%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 530px;
    height: 530px;

    background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
    background-size: cover; background-repeat: no-repeat;

  }
}