.homepage-header{
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 21px;
    width: 100%;
    min-height: 720px;
    height: 720px;
    text-align: left;
    color: #fff;
    z-index: 50;
    //margin-top: -8%;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 170px;
      z-index: 100;
  
      #hide {
        display:none;
      }
  
    }
 
    @keyframes HeaderFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: HeaderFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;
    
    p {
      font-size: rem-calc(20px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
    
    .content {
        font-size: rem-calc(20px);
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }

    .header-content {
      font-size: rem-calc(20px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
  }


    .header-container {
      width: 100%;

      p {

          width: 100%;
      }

    }

    img {
      width: 100%;
    }

    .content-container {

      overflow: hidden;
      height: 450px;
      margin-top: 15%;
      z-index: 100;

    }

  
    h1{
      font-size: 35px;
      font-weight: 400;
      font-family: 'Open Sans',sans-serif;
      width: 100%;
      text-align: left;
      color: $branding-color-8;
    }

    a{
      //color: #fff;
    }
    a:hover,
    a:focus {
      //color: #fff;
      text-decoration: underline;
    }
  }

  /* ----- Max Header width on normal xlarge SCSS is 1585px ---- */

  @media (min-width: 1250px) { // X-Large Up
    .homepage-header {
      min-height: 680px;
      height: 680px;

    }
  }
  

@media (min-width: 1440px) { // X-Large Up
  .homepage-header {
    min-height: 680px;
    height: 680px;
  }
}

@media (min-width: 1460px) { // X-Large Up
  .homepage-header {
    min-height: 685px;
    height: 685px;
  }
}

@media (min-width: 1480px) { // X-Large Up
  .homepage-header {
    min-height: 695px;
    height: 695px;
  }
}

@media (min-width: 1500px) { // X-Large Up
  .homepage-header {
    min-height: 700px;
    height: 700px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 185px;
      z-index: 100;
  
      #hide {
        display:none;
      }
  
    }
  }
}

@media (min-width: 1530px) { // X-Large Up
  .homepage-header {
    min-height: 720px;
    height: 720px;
  }
}

@media (min-width: 1580px) { // X-Large Up
  .homepage-header {
    min-height: 740px;
    height: 740px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 200px;
      z-index: 100;
  
      #hide {
        display:none;
      }
  
    }
  }
}

@media (min-width: 1620px) { // X-Large Up
  .homepage-header {
    min-height: 750px;
    height: 750px;
  }
}

@media (min-width: 1680px) { // 18000 Highest Banner Resolution supported
  .homepage-header {
    min-height: 780px;
    height: 780px;
  }
}
