.homepage-header{
  padding-top: 4%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 40px;
  font-size: 18px;
  width: 100%;
  min-height: 570px;
  height: 570px;
  text-align: left;
  color: #fff;
  z-index: 50;
  //margin-top: -8%;

  .sticky {

    position: fixed;
    top: 0;
    width: 100%;
    height: 155px;
    z-index: 100;

    #hide {
      display:none;
    }

  }

  //background-color: #234d89;
  background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
  background-size: cover; background-repeat: no-repeat;
  
  p {
    font-size: rem-calc(18px);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }
  
  .content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
  }

  .header-content {
    font-size: rem-calc(18px);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

  .container {
    width: 100%;

    p {
        width: 100%;
      
    }

  }

  img {
    width: 100%;
  }

  .content-container {

    overflow: hidden;
    height: 390px;
    margin-top: 15%;
    z-index: 100;

  }

  h1{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    width: 100%;
    text-align: left;
    color: $branding-color-8;
  }

  a{
    //color: #fff;
  }
  a:hover,
  a:focus {
    //color: #fff;
    text-decoration: underline;
  }
}

/* ----- Max Header width on normal xlarge SCSS is 1585px ---- */

@media (min-width: 640px) { // X-Large Up
  .homepage-header {

    padding-top: 12%;
    padding-left: 10%;
    padding-right: 0%;
    padding-bottom: 40px;
    width: 100%;
    min-height: 615px;
    height: 615px;

    font-size: 15px;
    line-height: 1.4;

    .medium-8 {
      -webkit-flex: 0 0 96.66667%;
      -ms-flex: 0 0 96.66667%;
      flex: 0 0 96.66667%;
      max-width: 96.66667%;
    }

    .medium-4 {
      -webkit-flex: 0 0 0%;
      -ms-flex: 0 0 0%;
      flex: 0 0 0%;
      max-width:0%;
    }

    p {
      font-size: rem-calc(15px);
      line-height: 1.4;
      text-rendering: optimizeLegibility;
    }

    h1{
      font-size: 25px;
      font-weight: 400;
      font-family: 'Open Sans',sans-serif;
      width: 100%;
      text-align: left;
      color: $branding-color-8;
    }

    //background-color: #234d89;
    background-image: url('../img/svg/mf-vector-logo-bg-med.svg'); 
    background-size: cover; background-repeat: no-repeat;

  }
  
}

@media (min-width: 650px) { // X-Large Up
  .homepage-header {

    padding-top: 12%;
    padding-left: 10%;
    padding-right: 0%;
    padding-bottom: 40px;
    width: 100%;
    min-height: 635px;
    height: 635px;

    font-size: 15px;
    line-height: 1.4;

    .medium-8 {
      -webkit-flex: 0 0 96.66667%;
      -ms-flex: 0 0 96.66667%;
      flex: 0 0 96.66667%;
      max-width: 96.66667%;
    }

    .medium-4 {
      -webkit-flex: 0 0 0%;
      -ms-flex: 0 0 0%;
      flex: 0 0 0%;
      max-width:0%;
    }

    p {
      font-size: rem-calc(15px);
      line-height: 1.4;
      text-rendering: optimizeLegibility;
    }

    h1{
      font-size: 25px;
      font-weight: 400;
      font-family: 'Open Sans',sans-serif;
      width: 100%;
      text-align: left;
      color: $branding-color-8;
    }

    //background-color: #234d89;
    background-image: url('../img/svg/mf-vector-logo-bg-med.svg'); 
    background-size: cover; background-repeat: no-repeat;

  }
  
}

@media (min-width: 660px) { // X-Large Up
  .homepage-header {

    padding-top: 12%;
    padding-left: 10%;
    padding-right: 0%;
    padding-bottom: 40px;
    width: 100%;
    min-height: 645px;
    height: 645px;

    font-size: 15px;
    line-height: 1.4;

    .medium-8 {
      -webkit-flex: 0 0 96.66667%;
      -ms-flex: 0 0 96.66667%;
      flex: 0 0 96.66667%;
      max-width: 96.66667%;
    }

    .medium-4 {
      -webkit-flex: 0 0 0%;
      -ms-flex: 0 0 0%;
      flex: 0 0 0%;
      max-width:0%;
    }

    p {
      font-size: rem-calc(15px);
      line-height: 1.4;
      text-rendering: optimizeLegibility;
    }

    h1{
      font-size: 25px;
      font-weight: 400;
      font-family: 'Open Sans',sans-serif;
      width: 100%;
      text-align: left;
      color: $branding-color-8;
    }

    //background-color: #234d89;
    background-image: url('../img/svg/mf-vector-logo-bg-med.svg'); 
    background-size: cover; background-repeat: no-repeat;

  }
  
}

@media (min-width: 670px) { // X-Large Up
  .homepage-header {

    padding-top: 12%;
    padding-left: 10%;
    padding-right: 0%;
    padding-bottom: 40px;
    width: 100%;
    min-height: 655px;
    height: 655px;

    font-size: 15px;
    line-height: 1.4;

    .medium-8 {
      -webkit-flex: 0 0 96.66667%;
      -ms-flex: 0 0 96.66667%;
      flex: 0 0 96.66667%;
      max-width: 96.66667%;
    }

    .medium-4 {
      -webkit-flex: 0 0 0%;
      -ms-flex: 0 0 0%;
      flex: 0 0 0%;
      max-width:0%;
    }

    p {
      font-size: rem-calc(15px);
      line-height: 1.4;
      text-rendering: optimizeLegibility;
    }

    h1{
      font-size: 25px;
      font-weight: 400;
      font-family: 'Open Sans',sans-serif;
      width: 100%;
      text-align: left;
      color: $branding-color-8;
    }

    //background-color: #234d89;
    background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
    background-size: cover; background-repeat: no-repeat;

  }
  
}


@media (min-width: 700px) { // X-Large Up
  .homepage-header {

    padding-top: 12%;
    padding-left: 10%;
    padding-right: 0%;
    padding-bottom: 40px;
    width: 100%;
    min-height: 655px;
    height: 655px;

    font-size: 15px;
    line-height: 1.4;

    .medium-8 {
      -webkit-flex: 0 0 96.66667%;
      -ms-flex: 0 0 96.66667%;
      flex: 0 0 96.66667%;
      max-width: 96.66667%;
    }

    .medium-4 {
      -webkit-flex: 0 0 0%;
      -ms-flex: 0 0 0%;
      flex: 0 0 0%;
      max-width:0%;
    }

    p {
      font-size: rem-calc(15px);
      line-height: 1.4;
      text-rendering: optimizeLegibility;
    }

    h1{
      font-size: 25px;
      font-weight: 400;
      font-family: 'Open Sans',sans-serif;
      width: 100%;
      text-align: left;
      color: $branding-color-8;
    }

    //background-color: #234d89;
    background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
    background-size: cover; background-repeat: no-repeat;

  }
  
}

@media (min-width: 720px) { // X-Large Up
  .homepage-header {

    padding-top: 12%;
    padding-left: 10%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 655px;
    height: 655px;

    background-image: url('../img/svg/mf-vector-logo-bg.svg');
    background-size: cover; background-repeat: no-repeat;

    p {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
    
    .content {
        font-size: rem-calc(15px);
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }
  
    .homepage-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

      h1{
        font-size: 30px;
        font-weight: 400;
        font-family: 'Open Sans',sans-serif;
        width: 100%;
        text-align: left;
        color: $branding-color-8;
      }

    }

  }
}

@media (min-width: 760px) { // X-Large Up
  .homepage-header {

    padding-top: 12%;
    padding-left: 10%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 670px;
    height: 670px;

    background-image: url('../img/svg/mf-vector-logo-bg.svg');
    background-size: cover; background-repeat: no-repeat;

    p {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
    
    .content {
        font-size: rem-calc(15px);
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }
  
    .homepage-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

      h1{
        font-size: 30px;
        font-weight: 400;
        font-family: 'Open Sans',sans-serif;
        width: 100%;
        text-align: left;
        color: $branding-color-8;
      }

    }

  }
}


@media (min-width: 770px) { // X-Large Up
  .homepage-header {

    padding-top: 11%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 665px;
    height: 665px;

    //background-color: #234d89;
    background-image: url('../img/svg/mf-vector-logo-bg.svg');
    background-size: cover; background-repeat: no-repeat;

    p {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
    
    .content {
        font-size: rem-calc(15px);
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }
  
    .homepage-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

      h1{
        font-size: 30px;
        font-weight: 400;
        font-family: 'Open Sans',sans-serif;
        width: 100%;
        text-align: left;
        color: $branding-color-8;
      }

    }

  }
}


@media (min-width: 770px) { // X-Large Up
  .homepage-header {

    padding-top: 15%;
    padding-left: 10%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 665px;
    height: 665px;

    //background-color: #234d89;
    background-image: url('../img/svg/mf-vector-logo-bg-small.svg');
    background-size: cover; background-repeat: no-repeat;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 190px;
      z-index: 100;
  
      #hide {
        display:none;
      }
  
    }

    p {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
    
    .content {
        font-size: rem-calc(15px);
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }
  
    .homepage-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

      h1{
        font-size: 30px;
        font-weight: 400;
        font-family: 'Open Sans',sans-serif;
        width: 100%;
        text-align: left;
        color: $branding-color-8;
      }

    }

  }
}


@media (min-width: 800px) { // X-Large Up
  .homepage-header {

    padding-top: 12%;
    padding-left: 10%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 650px;
    height: 650px;
    text-align: left;
    color: #fff;
    z-index: 50;

    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 135px;
      z-index: 100;
  
      #hide {
        display:none;
      }
  
    }

    p {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
    
    .content {
        font-size: rem-calc(15px);
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }
  
    .header-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

      h1{
        font-size: 30px;
        font-weight: 400;
        font-family: 'Open Sans',sans-serif;
        width: 100%;
        text-align: left;
        color: $branding-color-8;
      }
  }

  }
}

@media (min-width: 802px) { // X-Large Up
  .homepage-header {

    padding-top: 4%;
    padding-left: 2%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 525px;
    height: 525px;
    text-align: left;
    color: #fff;
    z-index: 50;

    @keyframes HeaderFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/mf-homepage-header-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: HeaderFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

    p {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
    
    .content {
        font-size: rem-calc(15px);
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }
  
    .header-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

      h1 {
        font-size: 30px;
        font-weight: 400;
        font-family: 'Open Sans',sans-serif;
        width: 100%;
        text-align: left;
        color: $branding-color-8;
      }
  }

  .content-container {

    overflow: hidden;
    height: 290px;
    margin-top: 15%;
    z-index: 100;

  }

  }
}


@media (min-width: 820px) { // X-Large Up
  .homepage-header {

    padding-top: 4%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 520px;
    height: 520px;

    p {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
    
    .content {
        font-size: rem-calc(15px);
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }
  
    .header-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

      h1{
        font-size: 30px;
        font-weight: 400;
        font-family: 'Open Sans',sans-serif;
        width: 100%;
        text-align: left;
        color: $branding-color-8;
      }
  }

  }
}

@media (min-width: 870px) { // X-Large Up
  .homepage-header {

    padding-top: 4%;
    padding-left: 2%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 540px;
    height: 540px;


    p {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
    
    .content {
        font-size: rem-calc(15px);
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }
  
    .header-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

      h1{
        font-size: 30px;
        font-weight: 400;
        font-family: 'Open Sans',sans-serif;
        width: 100%;
        text-align: left;
        color: $branding-color-8;
      }
  }

  }
}

@media (min-width: 890px) { // X-Large Up
  .homepage-header {

    padding-top: 4%;
    padding-left: 2%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 540px;
    height: 540px;
    text-align: left;
    color: #fff;
    z-index: 50;


    p {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
    
    .content {
        font-size: rem-calc(15px);
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }
  
    .header-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

      h1{
        font-size: 30px;
        font-weight: 400;
        font-family: 'Open Sans',sans-serif;
        width: 100%;
        text-align: left;
        color: $branding-color-8;
      }
  }

  }
}

@media (min-width: 900px) { // 1620 Highest Banner Resolution supported
  .homepage-header {

    padding-top: 3%;
    padding-left: 2%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 540px;
    height: 540px;
    text-align: left;
    color: #fff;
    z-index: 50;


    p {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
    
    .content {
        font-size: rem-calc(15px);
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }
  
    .header-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

      h1{
        font-size: 30px;
        font-weight: 400;
        font-family: 'Open Sans',sans-serif;
        width: 100%;
        text-align: left;
        color: $branding-color-8;
      }
    }

  }
}

@media (min-width: 940px) { // 1620 Highest Banner Resolution supported
  .homepage-header {

    padding-top: 3%;
    padding-left: 2%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    min-height: 560px;
    height: 560px;

  }
}

@media (min-width: 960px) { // 1620 Highest Banner Resolution supported
  .homepage-header {

    padding-top: 4%;
    padding-left: 2%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 20px;
    width: 100%;
    min-height: 570px;
    height: 570px;

  }
}

@media (min-width: 1000px) { // 1620 Highest Banner Resolution supported
  .homepage-header {

    padding-top: 3%;
    padding-left: 2%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 20px;
    width: 100%;
    min-height: 595px;
    height: 595px;

  }
}

@media (min-width: 1050px) { // 1620 Highest Banner Resolution supported
  .homepage-header {

    padding-top: 4%;
    padding-left: 3%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 20px;
    width: 100%;
    min-height: 605px;
    height: 605px;


    p {
      font-size: rem-calc(20px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }

    h1 {
      font-size: 30px;
      font-weight: 400;
      font-family: 'Open Sans',sans-serif;
      width: 100%;
      text-align: left;
      color: $branding-color-8;
    }
  }
  
}

@media (min-width: 1060px) { // 1620 Highest Banner Resolution supported
  .homepage-header {
      
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 0%;
    padding-bottom: 40px;
    font-size: 20px;
    
    min-height: 620px;
    height: 620px;


    p {
      font-size: 20px;
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }

    h1{
      font-size: 30px;
      font-weight: 400;
      font-family: 'Open Sans',sans-serif;
      width: 100%;
      text-align: left;
      color: $branding-color-8;
    }
  }
  
}