.nav-global {

  a {
    text-decoration: none;

    &:hover,
    &:focus {

      text-decoration: none;
    }
  }

  .sticky {

    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    //border: 1px solid #000000;
    //color: #000000;

    #hide {
      display:none;
    }

  }
  
}