<section id="resource-article" class="row top-margin-lrg" aria-label="resources">
    <div class="large-12 columns">
        <div class="row column">
            <article>
                <div class="flexible-article-images-container">
                    <div class="large-12 columns">
                        <div class="row column">
                            <div class="flexible-article-content top-margin-xlrg">
                                <div class="flexible-article-image-left">
                                    <div class="thumbnail">
                                        <img src="/assets/img/resource-center/feature-page-article.png" alt="">
                                    </div>
                                    <p class="caption">**Photo Caption Text Goes Here**</p>
                                </div>
                                <p>The Internet of Things seems to be growing at a fast rate as more and more devices are being adapted to include internet connectivity. Despite the years we've had to adapt to this concept, there have been ongoing security concerns, since adding these different technologies means exposing them to increasing possibilities for hacking. Whatever the actual risks are, there will probably be long-lasting questions about what bringing the IoT into existence means.</p>
                            </div>
                        </div>
                    </div>
                    <div class="large-12 columns">
                        <div class="row column">
                            <div class="flexible-article-content">
                                <h4>Compromising new devices</h4>
                                <div class="flexible-article-image-right">
                                    <div class="thumbnail">
                                        <img src="/assets/img/resource-center/ad.png" alt="">
                                    </div>
                                </div>
                                <p>Now there is some indication about what potential cybercriminals might be able to do with the capabilities of the Internet of Things, according to statistics from Fortinet. A blog post on the company's website mentioned an "army of things" based on the IoT framework already in place.</p>
                                <p>The statement used the Mirai botnet as a specific example, calling it the largest DDoS attack recorded. Another thing the report mentioned was the way that criminals may seek out the "the weakest link in the security chain," which may, in turn, mean mobile devices, specifically. The source noted nearly 11 unique application exploits per organization, and 36 percent of organizations saw a connection between ransomware and botnets.</p>

                                <h4>Following a pattern</h4>
                                <p>As with other security risks, the past can be instructive to trace the history of previous attacks leading up to the current state. In addition to the Mirai attack, ZDNet listed the Stuxnet attack, which targeted programmable logic controllers before the beginning of the IoT trends, as well as Brickerbot, a variation on a botnet that deactivated (or "bricked") devices.</p>
                                </p>Even though these don't reflect the specific strategies criminals could use in the future, it does seem like a possible hint toward the future. Another example came from Finland, where hackers managed to keep the heating systems for buildings from turning on, signifying an infrastructure risk for businesses or other offices.</p>  
                                
                                <h4>The IoT is growing</h4>
                                <p>The Internet of Things is still going to grow in popularity even as the security issues are glaring. The Pew Research Center recently said that 8.4 million connected devices are in use, and 85 percent of 1,201 survey subjects said that "objects and people" are likely to gain more connectivity within the next 10 years.</p>
                                <p>What's notable is that the respondents also produced some daunting predictions about the future of internet use, such as the impossibility of "disconnecting" and the idea that businesses might penalize people who try.</p>
                                <p>At the same time, another of the several "themes" the study unearthed was the idea that there will eventually be "dropouts" from connected life, and that the means to safeguard the Internet of Things will appear to help regulate it later on.</p>
                                <p>Even though these don't reflect the specific strategies criminals could use in the future, it does seem like a possible hint toward the future. Another example came from Finland, where hackers managed to keep the heating systems for buildings from turning on, signifying an infrastructure risk for businesses or other offices.</p>

                                <h4>Benefits dwarfing risks</h4>
                                <p>Pew featured comments from several specialists on the prospect of continuing connectivity. One of these respondents, MIT scientist David Clark, suggested something of what it would take to convince users to abandon the conveniences of the connected world.</p>
                                <p>"Unless we have a disaster that triggers a major shift in usage, the convenience and benefits of connectivity will continue to attract users," he said. "Evidence suggests that people value convenience today over possible future negative outcomes." What's notable is that the respondents also produced some daunting predictions about the future of internet use, such as the impossibility of "disconnecting" and the idea that businesses might penalize people who try.</p>         
                                
                                <h4>Will insurance grow too?</h4>

                                <p>One corollary to the seemingly dark future of IoT crime is the possible rise of smarter protections. Better cyberinsurance, specifically, could arrive and let businesses and individuals alike mitigate at least some of the uncertainty.</p>
                                <p>The kind of "disaster" Clark said might not be that far removed from what's happening, but it could lead to better protections instead of a flight from connectivity. Business Insurance said that the WannaCry ransomware, a much-publicized recent strain of malware, might lead to more cyberinsurance use, although this is not a certainty.</p>
                                <p>In the end, businesses may feel the need to have recovery measures ready. Identity Guard Business Solutions can be a source for identity theft protection solutions you can implement.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>