/*
* New Google Fonts can be found at: https://fonts.google.com/

* Step 1:   Search for the Font name that matches your Branding
* Step 2:   Select The Font
* Step 3:   Open the Font Menu of your selected Font
* Step 4:   Select the "Customize" Tab
* Step 5:   Select All the Font Styles you would like to use
* Step 6:   Select the "Embed" Tab

* Step 7:   Copy the URL (https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800) that is found in the link html tag 
            (<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800" rel="stylesheet">) and load this page in the browser.
            This will display the CSS needed for all of your selected fonts.
            This CSS code will be pasted below and reformatted to the below code setup.

* Step 8:   Copy each of the Src URLs for all of the different Font Styles below and load them in the browser
            This will download each Font to your local computer. Take the local downloaded fonts and 
            place them into the "src/fonts/" directory of this project.

* Step 9:   (Convert each Google "Woff2" Font Type to a True Type Font and download them to your local computer) Visit Font Convert Site: https://everythingfonts.com/woff2-to-ttf

* Step 10:  Visit Font Convert Site: https://www.fontsquirrel.com/tools/webfont-generator
            Take each newly created True Type Font and Convert them to the Web
            Supported Font Type Standards (True Type, Woff, Woff2, EOT Lite, SVG) and download them to your local computer

* Step 11:  Take the Web Supported Fonts generated and download them to your local computer. Take these final fonts and 
            replace the fonts in the "fonts" directory of this project.

* Step 11:  Update each of the Below Font CSS to point to the final local installed fonts 
            in the "fonts" directory of this project.
*/


@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans/open-sans-webfont.eot');
    src: url('../fonts/open-sans/open-sans-webfont.woff') format('woff'),
    url('../fonts/open-sans/open-sans-webfont.woff2') format('woff2'),
    url('../fonts/open-sans/open-sans-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/open-sans-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Open Sans Italic';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans/open-sans-italic-webfont.eot');
    src: url('../fonts/open-sans/open-sans-italic-webfont.woff') format('woff'),
    url('../fonts/open-sans/open-sans-italic-webfont.woff2') format('woff2'),
    url('../fonts/open-sans/open-sans-italic-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/open-sans-italic-webfont.svg') format('svg');
  }

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans/open-sans-light-webfont.eot');
    src: url('../fonts/open-sans/open-sans-light-webfont.woff') format('woff'),
    url('../fonts/open-sans/open-sans-light-webfont.woff2') format('woff2'),
    url('../fonts/open-sans/open-sans-light-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/open-sans-light-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Open Sans Light Italic';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/open-sans/open-sans-light-italic-webfont.eot');
    src: url('../fonts/open-sans/open-sans-light-italic-webfont.woff') format('woff'),
    url('../fonts/open-sans/open-sans-light-italic-webfont.woff2') format('woff2'),
    url('../fonts/open-sans/open-sans-light-italic-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/open-sans-light-italic-webfont.svg') format('svg');
  }

  @font-face {
    font-family: 'Open Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans/open-sans-semibold-webfont.eot');
    src: url('../fonts/open-sans/open-sans-semibold-webfont.woff') format('woff'),
    url('../fonts/open-sans/open-sans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/open-sans/open-sans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/open-sans-semibold-webfont.svg') format('svg');
  }

  @font-face {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans/open-sans-bold-webfont.eot');
    src: url('../fonts/open-sans/open-sans-bold-webfont.woff') format('woff'),
    url('../fonts/open-sans/open-sans-bold-webfont.woff2') format('woff2'),
    url('../fonts/open-sans/open-sans-bold-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/open-sans-bold-webfont.svg') format('svg');
  }

  @font-face {
    font-family: 'Open Sans ExtraBold';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans/open-sans-extrabold-webfont.eot');
    src: url('../fonts/open-sans/open-sans-extrabold-webfont.woff') format('woff'),
    url('../fonts/open-sans/open-sans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/open-sans/open-sans-extrabold-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/open-sans-extrabold-webfont.svg') format('svg');
  }
