body {
  background: $website-background;
  font-family: $font-regular;
}

.highlight {
  &.red {
    color: $branding-highlight-color;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $font-regular;
}

h1 {
  font-size: rem-calc(30px);
  font-weight: $font-weight-bold;
  font-family: $font-bold;
}

h2 {
  font-size: rem-calc(30px);
  font-family: $font-regular;

}

h2.header {
  font-size: rem-calc(30px);
}

h3 {
  font-size: rem-calc(20px);
}


em {
  font-family: $font-regular;
}

strong {
  font-family: $font-regular;
}

a {
  color: $branding-color-links;
  text-decoration: none;

  &:hover, &:focus {
  	text-decoration: underline;
  	cursor: pointer;
  }
}



main {
  margin: 0 5px;
}

/* ---------- Global Layout Styles ----------------- */


.is-disabled{
  display:none;
}

.is-active{
  display:block;
}

.sectionpad-sm {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.sectionpad-med {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.sectionpad-lrg {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.sectionpad-xlrg {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.sectionpad-xxlrg {
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.sectionpad-sm-top {
  margin-top: 2%;
}
.sectionpad-med-top {
  margin-top: 3%;
}
.sectionpad-lrg-top {
  margin-top: 4%;
}
.sectionpad-xlrg-top {
  margin-top: 5%;
}

.sectionpad-sm-bottom {
  margin-bottom: 2%;
}
.sectionpad-med-bottom {
  margin-bottom: 3%;
}
.sectionpad-lrg-bottom {
  margin-bottom: 4%;
}
.sectionpad-xlrg-bottom {
  margin-bottom: 5%;
}


.sectionpad-sm-sides {
  margin-left: 2%;
  margin-right: 2%;
}
.sectionpad-med-sides {
  margin-left: 3%;
  margin-right: 3%;
}
.sectionpad-lrg-sides {
  margin-left: 4%;
  margin-right: 4%;
}
.sectionpad-xlrg-sides {
  margin-left: 5%;
  margin-right: 5%;
}


.sectionpad-sm-left-side {
  margin-left: 2%;
}

.sectionpad-sm-right-side {
  margin-left: 2%;
}

.sectionpad-med-left-side {
  margin-left: 3%;
}

.sectionpad-med-right-side {
  margin-left: 3%;
}

.sectionpad-lrg-left-side {
  margin-left: 4%;
}

.sectionpad-lrg-right-side {
  margin-left: 4%;
}

.sectionpad-xlrg-left-side {
  margin-left: 5%;
}

.sectionpad-xlrg-right-side {
  margin-left: 5%;
}




.sectionpad-med-sides {
  margin-left: 3%;
  margin-right: 3%;
}
.sectionpad-lrg-sides {
  margin-left: 4%;
  margin-right: 4%;
}
.sectionpad-xlrg-sides {
  margin-left: 5%;
  margin-right: 5%;
}


.boxpad-nosides-sm {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.boxpad-nosides-med {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.boxpad-nosides-lrg {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.boxpad-nosides-xlrg {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.boxpad-left-sm {
  padding-left: 1rem;
}
.boxpad-left-med {
  padding-left: 2rem;
}
.boxpad-left-lrg {
  padding-left: 3rem;
}
.boxpad-left-xlrg {
  padding-left: 4rem;
}

.boxpad-right-sm {
  padding-right: 1rem;
}
.boxpad-right-med {
  padding-right: 2rem;
}
.boxpad-right-lrg {
  padding-right: 3rem;
}
.boxpad-right-xlrg {
  padding-right: 4rem;
}

.boxpad-top-sm {
  padding-top: 1rem;
}
.boxpad-top-med {
  padding-top: 2rem;
}
.boxpad-top-lrg {
  padding-top: 3rem;
}
.boxpad-top-xlrg {
  padding-top: 4rem;
}

.boxpad-bottom-sm {
  padding-bottom: 1rem;
}
.boxpad-bottom-med {
  padding-bottom: 2rem;
}
.boxpad-bottom-lrg {
  padding-bottom: 3rem;
}
.boxpad-bottom-xlrg {
  padding-bottom: 4rem;
}

.boxpad-sm {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.boxpad-med {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.boxpad-lrg {
  padding-top: 2rem;
  padding-bottom:  2rem;
  padding-left:  2rem;
  padding-right:  2rem;
}
.boxpad-xlrg {
  padding-top: 2.25rem;
  padding-bottom:  2.25rem;
  padding-left:  2.25rem;
  padding-right:  2.25rem;
}
.no-margin {
  margin: 0;
}

.right-margin-sm {
  margin-right: 0.75rem;
}

.left-margin-sm {
  margin-left: 0.75rem;
}

.right-margin-med {
  margin-right: 1rem;
}

.left-margin-med {
  margin-left: 1rem;
}

.right-margin-lrg {
  margin-right: 1.25rem;
}

.left-margin-lrg {
  margin-left: 1.25rem;
}

.right-margin-xlrg {
  margin-right: 1.5rem;
}

.left-margin-xlrg {
  margin-left: 1.5rem;
}


.right-padding-sm {
  margin-right: 0.75rem;
}

.left-padding-sm {
  padding-left: 0.75rem;
}

.right-padding-med {
  padding-right: 1.25rem;
}

.left-padding-med {
  padding-left: 1.25rem;
}

.right-padding-lrg {
  padding-right: 2rem;
}

.left-padding-lrg {
  padding-left: 2rem;
}

.left-padding-xlrg {
  padding-left: 3rem;
}

.left-padding-xxlrg {
  padding-left: 4rem;
}


.top-margin-sm {
  margin-top: 0.75rem;
  clear: both;
}
.top-margin-med {
  margin-top: 1rem;
  clear: both;
}
.top-margin-lrg {
  margin-top: 1.25rem;
  clear: both;
}
.top-margin-xlrg {
  margin-top: 2.5rem;
  clear: both;
}


.bottom-margin-sm {
  margin-bottom: 0.75rem;
}
.bottom-margin-med {
  margin-bottom: 1rem;
}
.bottom-margin-lrg {
  margin-bottom: 1.25rem;
}
.bottom-margin-xlrg {
  margin-bottom: 2.5rem;
}


.top-pad-x-sm {
  padding-top: 0.35rem;
}
.top-pad-sm {
  padding-top: 0.75rem;
}
.top-padding-med {
  padding-top: 1rem;
}
.top-padding-lrg {
  padding-top: 1.25rem;
}
.top-padding-xlrg {
  padding-top: 1.5rem;
}
.bottom-padding-sm {
  padding-bottom: 1.5rem;
}
.bottom-padding-med {
  padding-bottom: 1.75rem;
}
.bottom-padding-lrg {
  padding-bottom: 2rem;
}
.bottom-pad-xlrg {
  padding-bottom: 2.25rem;
}

.left-pad-x-sm {
  padding-left: 0.35rem;
}
.left-pad-sm {
  padding-left: 0.75rem;
}
.left-pad-med {
  padding-left: 1rem;
}
.left-pad-lrg {
  padding-left: 1.25rem;
}
.left-pad-xlrg {
  padding-left: 1.5rem;
}



.right-pad-x-sm {
  padding-right: 0.35rem;
}
.right-pad-sm {
  padding-right: 0.75rem;
}
.right-pad-med {
  padding-right: 1rem;
}
.right-pad-lrg {
  padding-right: 1.25rem;
}
.right-pad-xlrg {
  padding-right: 1.5rem;
}




.no-pad {
  padding: 0;
}

.no-pad-top {
  padding-top: 0;
}

.no-pad-bottom {
  padding-bottom: 0;
}

.no-pad-left {
  padding-left: 0;
}

.no-pad-right {
  padding-right: 0;
}

.pad-all-sm {
  padding: 0.75rem;
}
.pad-all-med {
  padding: 1.25rem;
}
.pad-all-lrg {
  padding: 1.75rem;
}
.pad-all-xlrg {
  padding: 2.25rem;
}

.pad-all-xxlrg {
  padding: 6.25rem;
}

.side-content-pad {
  padding-left: 5%;
  padding-right: 5%;
}

.content-container {
  margin-left: 5%;
  margin-right: 5%;
}


.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bold-style {
  font-weight: 900;
}


.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.box-shadow {
  background: none;
  border: 1px solid $branding-color-light-grey;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0;
  padding-top: 1.6rem;
}

.box-shadow-normal {
  border: 1px solid $branding-color-light-grey;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.box-shadow-no-border {
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px;
  background: #fff;
}

.box-shadow-no-border-pad-all {
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 30px;
  background: #fff;

  strong {
    margin-bottom: 50px;
  }
}

.drop-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.no-side-padding {
  padding-right: 0;
  padding-left: 0;
}

.callout.medium {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.callout.xlarge {
  padding-top: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
}

.callout.xxlarge {
  padding-top: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
}

.no-border {
  border: none;
}

.border-left {
  border-left: 1px solid $branding-color-light-grey;
  padding: 0;
  padding-left: 2%;
  padding-right: 4%;
  margin: 0;
}

.border-right {
  border-right: 1px solid $branding-color-light-grey;
  padding: 0;
  padding-left: 2%;
  padding-right: 4%;
  margin: 0;
}

.bottom-border {
  border-bottom: 1px solid $branding-color-grey;
  padding: 0;
  margin: 0;
}

.global-footnotes {
  color: #fff;
  font-size: .825em;
  line-height: 1;
  font-weight: normal;
  text-align: left;
  margin: 0;
  margin-top: rem-calc(20px);
  margin-bottom: rem-calc(20px);
}

/* GLOBAL BUTTONS - Modified the Default Foudation Framework Buttons */

button {
  line-height: 1.3;
  letter-spacing: 0.1em;
  font-family: $font-extra-bold;
  cursor: pointer;

  &.button {
    letter-spacing: 0.1em;
    color: $branding-solid-color-button-text2;
    background: $branding-solid-color-button2;
    border: 2px solid $branding-solid-color-button-border2;
    font-family: $font-extra-bold;
    margin-right: 10px;
    cursor: pointer;

    &:hover,
    &:focus {
      background: $branding-solid-color-button-hover2;
      font-family: $font-extra-bold;
      color: $branding-solid-color-button-text2;
      border: 2px solid $branding-solid-color-button-border2;
      margin-right: 10px;
      cursor: pointer;
    }

    &.theme {
      background: $branding-solid-color-button2;
      font-family: $font-extra-bold;
      cursor: pointer;
  
      &:hover,
      &:focus {
        background: $branding-solid-color-button2;
        font-family: $font-extra-bold;
        cursor: pointer;
      }

      &.blue {
        background: $branding-solid-color-button2;

        &:hover,
        &:focus {
          background: $branding-solid-color-button-hover2;
          font-family: $font-extra-bold;
          cursor: pointer;
        }
      }
    }

    &.hollow {
      &.theme {
        background: none;
        border-color: $branding-open-color-button-border2;
        color: $branding-open-color-button-text2;
        font-family: $font-extra-bold;
        cursor: pointer;
  
        &:hover,
        &:focus {
          background: none;
          border-color: $branding-open-color-button-hover2;
          color: $branding-open-color-button-text2;
          font-family: $font-extra-bold;
          cursor: pointer;
        }

        &.blue {
          background: none;
          border-color: $branding-open-color-button-border2;
          color: $branding-open-color-button-text2;
          font-family: $font-extra-bold;
  
          &:hover,
          &:focus {
            background: none;
            border-color: $branding-open-color-button-hover2;
            color: $branding-open-color-button-text2;
            font-family: $font-extra-bold;

            cursor: pointer;
          }
        }
      }

      &.theme-white {
        background: $branding-open-color-button1;
        border-color: $branding-open-color-button-border1;
        color: $branding-open-color-button-text1;
        font-family: $font-extra-bold;
        cursor: pointer;
        margin-top: 0.95;
        margin-bottom: 0.95rem;
  
        &:hover, 
        &:focus {
          background: $branding-open-color-button-hover1;
          border-color: $branding-open-color-button-border1;
          color: $branding-open-color-button-hover-text1;
          font-family: $font-extra-bold;
          cursor: pointer;
          margin-top: 0.95;
          margin-bottom: 0.95rem;
        }
      }
    }
  }
}

.top-content {
  margin-top: 0px;
}




@media (min-width: #{map-get($breakpoints, small)}) {
  .callout.large {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }

  .available-plans-lp-column2 {
    margin-left: 0%; 
    margin-right: 0%;
  }

  .available-plans-lp-column3 {
    margin-left: 0%; 
    margin-right: 0%;
  }
}

@media (min-width: 891px) {
  .available-plans-lp-column2 {
    margin-left: 10%; 
    margin-right: 10%;
  }

  .available-plans-lp-column3 {
    margin-left: 20%; 
    margin-right: 20%;
  }
}

@media (min-width: #{map-get($breakpoints, large)}) {
  body {
    background: $website-body-background;
  }

  .available-plans-lp-column2 {
    margin-left: 15%; 
    margin-right: 15%;
  }

  .available-plans-lp-column3 {
    margin-left: 30%; 
    margin-right: 30%;
  }
}
