@font-face {
    font-family: 'IcoMoon-Free';
    src: url('../fonts/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-account:before {
    content: "\e900";
  }
  .icon-help:before {
    content: "\e901";
  }
  .icon-notification:before {
    content: "\e902";
  }
  .icon-check-mark:before {
    content: "\e903";
  }
  .icon-checkmark:before {
    content: "\eA10";
  }
  .icon-radio-unchecked:before {
    content: "\eA56";
  }
  .icon-close:before {
    content: "\e904";
  }
  .icon-enroll:before {
    content: "\e905";
  }
  .icon-download:before {
    content: "\e906";
  }
  .icon-faq:before {
    content: "\e907";
  }
  .icon-folder:before {
    content: "\e908";
  }
  .icon-list:before {
    content: "\e909";
  }
  .icon-scan:before {
    content: "\e90a";
  }
  .icon-share:before {
    content: "\e90b";
  }
  .icon-menu:before {
    content: "\e90c";
  }
  .icon-notification-outline:before {
    content: "\e90d";
  }
  .icon-down-arrow:before {
    content: "\e90e";
  }
  .icon-up-arrow:before {
    content: "\e90f";
  }
  .icon-left-arrow:before {
    content: "\e910";
  }
  .icon-right-arrow:before {
    content: "\e911";
  }
  .icon-down-carrot:before {
    content: "\e912";
  }
  .icon-up-carrot:before {
    content: "\e913";
  }
  .icon-star:before {
    content: "\e914";
  }
  .icon-play:before {
    content: "\e915";
  }
  .icon-phone:before {
    content: "\e916";
  }
  .icon-email:before {
    content: "\e917";
  }
  .icon-left-arrow-filled:before {
    content: "\e918";
  }
  .icon-right-arrow-filled:before {
    content: "\e919";
  }
  .icon-notebook:before {
    content: "\e91a";
  }
  .icon-calendar:before {
    content: "\e91b";
  }
  .icon-error:before {
    content: "\e91c";
  }
  