/* -------- WEBSITE BACKGROUND COLOR ------------------- */

$website-background: #fff;
$website-body-background: $website-background;



/* -------- BRANDING COLORS -------------- */

// BLUE COLORS

$branding-color-1: #034181;
$branding-color-2: #41B5CA;
$branding-color-3: #2573C3;

// PURPLE COLORS

$branding-color-4: #6F44A4;
$branding-color-5: #CAC1D6;
$branding-color-6: #F0EDF4;


// YELLOW COLORS

$branding-color-7: #F9D238;
$branding-color-8: #FFEEAB;
$branding-color-9: #FFFCED;

// DARK YELLOW

$branding-color-10: #FAD961;;


// ORANGE COLORS

$branding-color-11: #F76B1C;
$branding-color-12: #F2CCB6;
$branding-color-13: #FCF0E8;

// DARK ORANGE

$branding-color-14: #E95C0C;

// RED COLOR

$branding-color-15: #A93819;



// NEUTRAL COLORS

$branding-color-dark-grey: rgb(77, 77, 77);
$branding-color-light-grey: rgb(88, 88, 88); // used in Box Shadow border
$branding-color-grey: #979797; // used for normal borders
$branding-color-white: #FFF;
$branding-color-black: #000000;
$branding-color-grey-header: #979797;



// SECONDARY COLORS

$branding-color-links: #2274B0;
$color-alerts: #D9322B;
$medium-alerts: #FF9900;
$color-success: #46C185;
$color-default-text: #364449;
$color-medium-text: #353C4B;
$color-light-text: #9EABB0; 
$color-borders: #D6DFE4;

$color-mobile-menu: #262A38;
$color-yellow: #F0D10D;
$color-stripe1: #4689B9;
$color-stripe2: #2875AE;
$color-plans-selected: $branding-color-3; //#1c2f40;



/* -------- HOME PAGE HEADER GRADIENTS -------------- */

$branding-gradient1-left-color: $branding-color-white; // Alpha Transparency set to 0
$branding-gradient1-middle-color: #41B5CA;
$branding-gradient1-right-color: #2573C3;


$branding-gradient2-left-color: $branding-color-white; // Alpha Transparency set to 0
$branding-gradient2-middle-color: #F2D97F;
$branding-gradient2-right-color: #4E67E4;



/* -------- PAGE GRADIENTS -------------- */

$branding-page-gradient1-top-color: #FFE57B;
$branding-page-gradient1-bottom-color: #F9F6E7;

$branding-page-gradient2-top-color: #FFF6CA;
$branding-page-gradient2-bottom-color: #FFFDF4;

$branding-page-gradient3-top-color: $branding-color-1;
$branding-page-gradient3-bottom-color: #CCDFEC;



/* -------- BUTTONS --------------------- */

// SOLID BUTTON COLORS - DARK BACKGROUND

$branding-solid-color-button1: #FFF7C8;
$branding-solid-color-button-text1: $branding-color-1;
$branding-solid-color-button-border1: $branding-color-1;
$branding-solid-color-button-hover1: #FAD961;

// OPEN BUTTON COLORS - DARK BACKGROUND

$branding-open-color-button1: none;
$branding-open-color-button-text1: $branding-color-white;
$branding-open-color-button-border1: $branding-color-white;
$branding-open-color-button-hover1: #FAD961;
$branding-open-color-button-hover-text1: $branding-color-1;



// SOLID BUTTON COLORS - LIGHT OR WHITE BACKGROUND

$branding-solid-color-button2: #FFF7C8;
$branding-solid-color-button-text2: $branding-color-1;
$branding-solid-color-button-border2: $branding-color-1;
$branding-solid-color-button-hover2: #FAD961;

// OPEN BUTTON COLORS - LIGHT OR WHITE BACKGROUND

$branding-open-color-button2: none;
$branding-open-color-button-text2: $branding-color-1;
$branding-open-color-button-border2: $branding-color-1;
$branding-open-color-button-hover2: #FAD961;




/* -------- MAIN FONT COLORS ------------------- */

$branding-font-color-1: $branding-color-14; // dark orange
$branding-font-color-2: $branding-color-10; // yellow
$branding-font-color-3: $branding-color-1; // dark blue
$branding-font-color-4: $branding-color-8;// light yellow

$main-text-color: $branding-font-color-3;
$main-link-text-color: $branding-color-2;
$branding-highlight-color: $branding-color-15;


/* -------- HEADER FONT COLORS ------------------- */

$branding-font-header-color-1: #3023AE;
$branding-font-header-color-2: #188E9B;
$branding-font-header-color-3: #9F041B;
$branding-font-header-color-4: #3023AE;
$branding-font-header-color-5: #F76B1C;
$branding-font-header-color-6: #034181;

/* -------- TYPOGRAPHY ------------------- */

/*
Copy Font Family values from the "fonts.scss" file
and add them to the correct variables below
*/

//Typography
$font-regular: "Open Sans", sans-serif;
$font-italic: "Open Sans Italic", sans-serif;
$font-light: "Open Sans Light", sans-serif;
$font-light-italic: "Open Sans Light Italic", sans-serif;
$font-semi-bold: "Open Sans SemiBold", sans-serif;
$font-bold: "Open Sans Bold", sans-serif;
$font-extra-bold : "Open Sans ExtraBold", sans-serif;

$font-secondary : 'Open Sans', sans-serif;
$font-size: 16px;
$line-height: 1.4;

$public-font-family: 'Open Sans', sans-serif;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-size: 16px;
$line-height: 1.4;

//Defaults
$space : 1rem;
$space-double : $space * 2;
$space-quad : $space * 4;
$space-half : $space / 2;

$color-light-text: $branding-color-10;

$mobile-menu-bg-color: $branding-color-1;


/* -------- COMPONENTS -------------------------- */

$portfolio-box-hover-color: $branding-color-11;

// Available Plans Component
$available-plans-top-tab: #FAD961;

$available-plans-header: #9B9B9B;

$branding-color-dark-blue-header: $branding-color-1;
$branding-color-plans-header: #1c2b3e;
$branding-color-price-header: #cddef0;
$branding-color-plan-links: #b9c8d6;
$branding-color-dark-blue-header-alt: #2c3b4e;


// Faqs

$text-color: #405160;
$medium-grey-color: #6b8195;
$link-text-color: #26679f;
$link-text-hover-color: #50a4ed;
$compare-plan-button-hover-color: #468ac6;

$link-hover-color: #2c81ca; //#1c66a5
$top-nav-text-color: $text-color;

$light-highlight-color: #65b4f9; 
$light-highlight-color-hover: #94cbfb; 

$headline-color: #3e4f5d;
$base-font-color: $text-color;
$action-color: $link-text-color;
$header-border-color: #e5eaef;



// Hero Banner Nav Tab

$hero-nav-bar-background: #fbfbfb;
$hero-nav-bar-text: #1E2E42;
$hero-nav-bar-icon: #dddddd;
$hero-nav-bar-hover-background: #1d2e42;
$hero-nav-bar-hover-text: #feffff;



// How To Banner Nav Tab

$howto-nav-bar-background: #F5F5F5;
$howto-nav-bar-text: #1E2E42;
$howto-nav-bar-hover-background: #E3E3E3;
$howto-nav-bar-hover-text: #2274B0;















// OLD CONTENT



$branding-color-green: #15B869;

$branding-hover-color-green: #139455;

$branding-color-blue: #2274B0;

$branding-color-blue-border: #979797;
$branding-color-darkblue: #5c7696; //#1E2E42;


$branding-color-contact-form-fields: #F7F8F8;

$branding-color-red: #811000;
$branding-color-green: #40C283;
$branding-color-yellow: #EAC400;





// faq
$faq-navbar-background: #F5F5F5;


$public-color-enrollment-form-border: #fafafa;
$public-color-enrollment-inactive: #4a4e50;
$public-color-dark-text: #282828;
$public-color-progress-bar: #9b9b9b;
$public-color-progress-bar-complete: #3ac381;
$public-color-form-outlines: #9b9b9b;
$public-color-form-disabled: #eeeeee;
$public-color-button-background: #2274b0;
$public-color-light-text: #ababab;
$public-color-toggle-background: #ededed;
$public-color-licence-text: #a93819;

