<section class="column-portfolio-component portfolio-background-image-1ux ">
    <div class="portfolio-border-top" role="presentation">
        <span role="presentation">Component Header Design</span>
    </div>   

    <div class="row portfolio-content ">
       
        <div class="small-12 medium-5 large-4 columns top-margin-xlrg animation-left">
           
            <img class="box-shadow-no-border" src="{{portfolio-2.img-src}}">
      
        </div>

        <div class="small-12 medium-7 large-8 columns pad-all-lrg animation-right">

            <img src="{{portfolio-2.featured-img-src}}">

            <h4 class="portfolio-title">{{portfolio-2.title}}</h4>
            <p>
                <strong>{{portfolio-2.highlight1}}</strong> {{portfolio-2.content1}}
            </p>
            <p>
                <strong>{{portfolio-2.highlight2}}</strong> {{portfolio-2.content2}}
            </p>
            {{> global-solid-button}}
        </div>
    </div>

    <div class="portfolio-border-bottom" role="presentation">
        <span role="presentation">Component Footer Design</span>
    </div> 
</section>
  