<section class="column-portfolio-component portfolio-background-image-1 ">
    <div class="portfolio-border-top" role="presentation">
        <span role="presentation">Component Header Design</span>
    </div>   

    <div class="row portfolio-content ">

        <div class="center small-12 medium-4 large-4 columns animation-left">
        
            <img src="{{portfolio-2.img-src}}">
        
        </div>

        <div class="small-12 medium-8 large-8 columns top-margin-xlrg animation-right">
            <h4 class="portfolio-title">{{portfolio-2.title}}</h4>
            <p>
                <strong>{{portfolio-2.highlight1}}</strong> {{portfolio-2.content1}}
            </p>
            <p>
                <strong>{{portfolio-2.highlight2}}</strong> {{portfolio-2.content2}}
            </p>
        </div>
    </div>

    <div class="portfolio-border-bottom" role="presentation">
        <span role="presentation">Component Footer Design</span>
    </div> 
</section>
  