<section class="column-portfolio-component portfolio-background-image-1 ">
    <div class="portfolio-border-top" role="presentation">
        <span role="presentation">Component Header Design</span>
    </div>   

    <div class="row portfolio-content ">
       
        <div class="small-12 medium-5 large-4 columns top-margin-xlrg animation-left">
           
            <img src="{{portfolio-2.img-src}}">
      
        </div>

        <div class="small-12 medium-7 large-8 columns pad-all-lrg animation-right">
            <h4 class="portfolio-title">{{portfolio-2.title}}</h4>
            <p>
                <strong>{{portfolio-2.highlight1}}</strong> {{portfolio-2.content1}}
            </p>
            <p>
                <strong>{{portfolio-2.highlight2}}</strong> {{portfolio-2.content2}}
            </p>
            {{> homepage-solid-button}}
            <button id="portfolio" tabindex="0" href="{{portfolio-2.button-link}}" class="button">
                    PORTFOLIO
                    <svg width="10px" height="10px" viewBox="0 0 10 10" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                        <title>arrow-button-left</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="branding--homepage3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Desktop-HD" transform="translate(-710.000000, -770.000000)" fill="#FFFFFF">
                                <path d="M719.812901,774.356019 L715.99441,770.21405 C715.730437,769.92865 715.303085,769.92865 715.039787,770.21405 C714.775814,770.506769 714.775814,770.967801 715.039787,771.253202 L717.821965,774.268203 L710.675122,774.268203 C710.30178,774.268203 710,774.597512 710,775 C710,775.402488 710.30178,775.731797 710.675122,775.731797 L717.821965,775.731797 L715.039787,778.746798 C714.775814,779.032199 714.775814,779.500549 715.039787,779.78595 C715.303085,780.07135 715.730437,780.07135 715.99441,779.78595 L719.812901,775.643981 C719.97493,775.46835 720.025564,775.226857 719.988432,775 C720.025564,774.773143 719.97493,774.53165 719.812901,774.356019 L719.812901,774.356019 Z" id="arrow-button-left"></path>
                            </g>
                        </g>
                    </svg>
                </button> 
        </div>
    </div>

    <div class="portfolio-border-bottom" role="presentation">
        <span role="presentation">Component Footer Design</span>
    </div> 
</section>
  