<section class="top-margin-xlrg bottom-margin-xlrg" aria-label="">   
    <div class="row">
        <div class="small-12 medium-6 large-6 columns">
            <div id="column-box1" class="pad-all-xlrg left-margin-med right-margin-med bottom-margin-lrg box-shadow-no-border center" style="background-color: #fff; border: 1px solid #cacaca;">
                <h2>{{ 2column-box-landing-page.[0].title }}</h2>
                <p>{{ 2column-box-landing-page.[0].description }}</p>
                <p>{{ 2column-box-landing-page.[0].description2 }}</p>
                <button tabindex="0" href="{{ 2column-box-landing-page.[0].buttonLink }}" class="{{ 2column-box-landing-page.[0].buttonClass }}">{{ 2column-box-landing-page.[0].buttonText }}</button>
            </div>
        </div>
        <div class="small-12 medium-6 large-6 columns">
            <div id="column-box2" class="pad-all-xlrg left-margin-med right-margin-med box-shadow-no-border center" style="background-color: #fff; border: 1px solid #cacaca;">           
                <h2>{{ 2column-box-landing-page.[1].title }}</h2>
                <p>{{ 2column-box-landing-page.[1].description }}</p>
                <p>{{ 2column-box-landing-page.[1].description2 }}</p>
                <button tabindex="0" href="{{ 2column-box-landing-page.[1].buttonLink }}" class="{{ 2column-box-landing-page.[1].buttonClass }}">{{ 2column-box-landing-page.[1].buttonText }}</button>
            </div>
        </div>
    </div>
</section>
      