$break-medium: 925px;
$screen-medium: 845px;
$break-small: 725px;
$screen-small: 640px;

#available-plans,
.available-plans {
    h2.header {
        color: $branding-color-dark-blue-header;
        font-weight: 400;
        font-size: rem-calc(36px);
        text-transform: uppercase;
        padding: rem-calc(0px);
        margin: rem-calc(0px);
        margin-bottom: rem-calc(15px);
        padding-top: rem-calc(0px);
    }
    
    .header {
        color: $branding-color-grey-header;
        text-decoration: none;
        font-weight: 400;
        font-size: rem-calc(18px);
        text-transform: uppercase;
        padding: rem-calc(0px);
        border-top: none;
        margin: rem-calc(0px);
        margin-bottom: rem-calc(0px);
        padding-top: rem-calc(15px);
    }
    .header-title {
        color: $branding-color-dark-blue-header;
        text-decoration: none;
        font-weight: 400;
        font-size: rem-calc(26px);
        text-transform: uppercase;
        padding: rem-calc(0px);
        margin: rem-calc(0px);
        margin-bottom: rem-calc(15px);
        padding-top: rem-calc(0px);
    }

    .plan-content{
        padding-left: 10%;
        padding-right: 20%;
    }

    .plan-content-container {
        height: 250px;
        overflow: hidden;

    }

    .price-content-title {
        width: 100%;
        float: left;
        line-height: 2;
        padding: rem-calc(0px);
        margin: rem-calc(0px);
    }
    .price-content {
        width: 100%;
        float: left;
        line-height: 1;
        padding: rem-calc(0px);
        margin: rem-calc(0px);
    }
    .price-content2 {
        width: 100%;
        float: left;
        line-height: 1;
        font-size: rem-calc(13px);
        text-transform: uppercase;
        padding: rem-calc(0px);
        margin: rem-calc(0px);
    }

    button {
        margin-left: 5%;
        margin-right: 5%;
    }

    .selector_row {
        flex-direction: row;
    }

    .plan-toggle{   
        width: 50%;
    }

    .plan-rows {
        
        .plans-row {
            .medium-4{
                flex: 0 0 100%;
                max-width: 100%;
            }
            
            .plan {
                //position: relative;
                padding: 1em 1em 1em;
                margin-bottom: 2em;
                height: 520px;
                
                margin-bottom: 1.5rem;

                    a {
                        display: block;

                        &.button {
                            color: #fff;
                            margin-bottom: 1.5rem;
                            margin-bottom: 1.5rem;
                            margin-left: 40%;
                            margin-right: 40%;

                        }
                    }
                }
                
                &.recommended {
                    margin-top:0px;
                    //margin-top: 0;
                    background: $branding-color-dark-blue-header;
                    border: solid 1px $branding-color-dark-blue-header;
                    
                    .header-title, .price, .plan-content, .plan-list {
                        color: $branding-color-white;
                    }
                    .price {
                        color: $branding-color-price-header;
                    }
                    .header {
                        color: $branding-color-price-header;
                    }
                    .links {
                        color: $branding-color-price-header;
                    }
                }
                
            }
        }
    }

      
    @media (min-width: $screen-small) and (max-width: $screen-medium)  {
        .medium-4 {
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .plan-rows {
            
            .plans-row {
                
                .plan {
                    //position: absolute;
                    padding: 1em 1em 1em;
                    margin-bottom: 2em;
                    height: 520px;

                    &.recommended {
                        margin-top: 0px;
                        background: $branding-color-dark-blue-header;
                        border: solid 1px $branding-color-dark-blue-header;
                        
                        .header-title, .price, .plan-content, .plan-list {
                            color: $branding-color-white;
                        }
                    }
                }
            }
        }
    }



