#available-plans {
    h2.header {
        color: $branding-color-dark-blue-header;
        font-weight: 400;
        font-size: rem-calc(36px);
        text-transform: uppercase;
        padding: rem-calc(0px);
        margin: rem-calc(0px);
        margin-bottom: rem-calc(15px);
        padding-top: rem-calc(0px);
    }
    
    .header {
        color: $branding-color-grey-header;
        text-decoration: none;
        font-weight: 400;
        font-size: rem-calc(18px);
        text-transform: uppercase;
        padding: rem-calc(0px);
        margin: rem-calc(0px);
        margin-bottom: rem-calc(0px);
        padding-top: rem-calc(15px);
    }
    .header-title {
        color: $branding-color-dark-blue-header;
        text-decoration: none;
        font-weight: 400;
        font-size: rem-calc(26px);
        text-transform: uppercase;
        padding: rem-calc(0px);
        border-top: none;
        margin: rem-calc(0px);
        margin-bottom: rem-calc(15px);
        padding-top: rem-calc(0px);
    }

    .plan-content{
        padding-left: 10%;
        padding-right: 10%;
    }
    .price-content-title {
        width: 100%;
        float: left;
        line-height: 2;
        padding: rem-calc(0px);
        margin: rem-calc(0px);
    }
    .price-content {
        width: 100%;
        float: left;
        line-height: 1;
        padding: rem-calc(0px);
        margin: rem-calc(0px);
    }

    .price-content2 {
        width: 100%;
        float: left;
        line-height: 1;
        font-size: rem-calc(13px);
        text-transform: uppercase;
        padding: rem-calc(0px);
        margin: rem-calc(0px);
    }

    button {
        margin-left: 10%;
        margin-right: 10%;
    }
}
.available-plans{
    h2.main-header {
        color: $branding-color-plans-header;
        font-weight: 400;
        font-size: rem-calc(36px);
        text-transform: normal;
        padding: rem-calc(0px);
        margin: rem-calc(0px);
        margin-bottom: rem-calc(15px);
        padding-top: rem-calc(0px);
    }

    .selector_row {
        //margin-bottom: 3em;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto 3em auto;
        text-align: center;
    }

    .plan-toggle{
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 48%;
        font-size: .75rem;
        background-color: #ededed;
        border-radius: 17px;
        cursor: pointer;
        position: relative;

        &--checked{
            background-color: #5c7696;
            height: 100%;
            border-radius: 17px;
            color: #fff;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            // position: absolute;
            // left:50%;
        }

        &--fam{
            width: 50%;
            padding: 10px;  
            // position: absolute;  
            // left: 0% !important; 
        }

        &--ind{
            width: 50%;
            padding: 10px;
            // position: absolute;  
            // left: 50% !important;
        }

    }
    .available-plan-fam{
        display: none;
    }
    .available-plan-ind{
        display: block;
    }

   

    .plan-rows {

        .plans-row {

            .medium-4{
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
            }

            .plans-description {
                margin-bottom: 5em;
                text-align: center;
            }


            .plan {
                position: relative;
                padding: 1em 1em 1em;
                margin-bottom: 2em;
                height: 520px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,ffffff+36&1+0,0+36 */
                background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(255,255,255,0) 36%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(255,255,255,0) 36%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(255,255,255,0) 36%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

                .top-tab {
                    position: absolute;
                    top: -26px;
                    left: 50%;
                    width: 90%;
                    padding: 3px 0;
                    transform: translateX(-50%);
                    background: $branding-solid-color-button2;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    color: $branding-color-white;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 0.8em;
                    font-weight: 700;
                }

                .header {
                    color: $branding-color-grey-header;
                    text-decoration: none;
                    font-weight: 400;
                    font-size: rem-calc(18px);
                    text-transform: uppercase;
                    padding: rem-calc(0px);
                    margin: rem-calc(0px);
                    margin-bottom: rem-calc(0px);
                }
                .header-title {
                    color: $branding-color-plans-header;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: rem-calc(32px);
                    text-transform: uppercase;
                    padding: rem-calc(0px);
                    margin: rem-calc(0px);
                    padding-top: rem-calc(0px);
                }
                .price {
                    color: $branding-color-dark-blue-header; //$branding-color-price-header;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: rem-calc(26px);
                    text-transform: uppercase;
                    padding: rem-calc(0px);
                    margin: rem-calc(0px);
                    margin-bottom: rem-calc(15px);
                    padding-top: rem-calc(0px);
                }

                .plan-content{
                    padding-left: 10%;
                    padding-right: 10%;
                    font-weight: bold;
                    font-size: 0.85em;
                }

                .plan-list {
                    padding-left: 10%;
                    padding-right: 10%;
                    font-size: 0.85em;
                }

                .links {
                    //position: absolute;
                    bottom: -52px;
                    //left: 38%;
                    margin-left: 0px;
                    margin-right: 0px;
                    //transform: translate(-31%,-50%);

                    a {
                        display: block;

                        &.button {
                            color: #fff;
                            margin-bottom: 1.5rem;

                        }
                    }
                }

                &.recommended {
                    margin-top:0px;
                    background: $branding-color-dark-blue-header;
                    border: solid 1px $branding-color-dark-blue-header;

                    .header-title, .price, .plan-content, .plan-list {
                        color: $branding-color-white;
                    }
                    .price {
                        color: $branding-color-price-header;
                    }
                    .header {
                        color: $branding-color-price-header;
                    }
                    .links {

                        a {
                            color: $branding-color-price-header;

                            &.button {
                                color: #fff;
                                margin-bottom: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}