{{#ifequal list-carousel.show_all 'show_all'}}
<section class="list-carousel show_all">
{{else}}
<section class="list-carousel">
{{/ifequal}}
    <div class="content-container">
        <div class="image_container">
            {{#each list-carousel.slides}}
                {{#ifequal active 'active'}}
                    <div class="image_bg active" style="background-image: url('{{ image }}');"></div>
                {{else}}
                    <div class="image_bg" style="background-image: url('{{ image }}');"></div>
                {{/ifequal}}
            {{/each}}
        </div>
        <div class="list_container">
            <h2>{{ list-carousel.title }}</h2>
            <ul>
                {{#each list-carousel.slides}}
                    {{#ifequal active 'active'}}
                        <li class="active"><div class="content"><strong>{{title}}</strong><br/><strong>{{title2}}</strong><p>{{content-title}}{{content}}
                            {{#ifequal footnote ''}}

                            {{else}}
                            <sup>{{footnote}}</sup>
                            {{/ifequal}}
                        </p></div></li>
                    {{else}}
                        <li><div class="content"><strong>{{title}}</strong><br/><strong>{{title2}}</strong><p>{{content-title}}{{content}}
                            {{#ifequal footnote ''}}
                                
                            {{else}}
                                <sup>{{footnote}}</sup>
                            {{/ifequal}}
                        </p></div></li>
                    {{/ifequal}}
                {{/each}}
            </ul>
            {{#ifequal list-carousel.show_button 'show_button'}}
            <a href="{{ list-carousel.button_link }}" class="button">{{ list-carousel.button_title }}</a>
            {{/ifequal}}
        </div>
    </div>
</section>