.button {
    text-transform: uppercase;
}



.button.button-green {
    background-color: $branding-solid-color-button2;
    //background: $branding-color-green;
    font-family: $font-extra-bold;
    cursor: pointer;

    &:hover,
    &:focus {
      background: $branding-solid-color-button-hover2;
      font-family: $font-extra-bold;
      cursor: pointer;
    }
  }