/* ------- Homepage Banner Animation Styles ---------- */

#headerInto a {
    border-bottom: 2px solid $light-highlight-color;
}

#headerInto #contentIntro a {
    border-bottom: 2px solid $light-highlight-color;
    color: $light-highlight-color;
}

#headerInto2 a {
	border-bottom: 2px solid $light-highlight-color;
    color: $light-highlight-color;
}

#headerInto3 a {
	border-bottom: 2px solid $light-highlight-color;
    color: $light-highlight-color;
}

#headerInto4 a {
	border-bottom: 2px solid $light-highlight-color;
    color: $light-highlight-color;
}


#headerInto #contentIntro a:focus,
#headerInto #contentIntro a:hover {
    border-bottom: 2px solid $light-highlight-color-hover;
    color: $light-highlight-color-hover;
}

#headerInto2 a:focus,
#headerInto2 a:hover {
  border-bottom: 2px solid $light-highlight-color-hover;
    color: $light-highlight-color-hover;
}

#headerInto3 a:focus,
#headerInto3 a:hover {
  border-bottom: 2px solid $light-highlight-color-hover;
    color: $light-highlight-color-hover;
}

#headerInto4 a:focus,
#headerInto4 a:hover {
  border-bottom: 2px solid $light-highlight-color-hover;
    color: $light-highlight-color-hover;
}





#headerInto a.button,
#headerInto2 a.button,
#headerInto3 a.button,
#headerInto4 a.button {
    border-bottom: none;
    color: $solid-button-text-color;
}

#headerInto a.button:focus,
#headerInto a.button:hover {
  border-bottom: none;
  color: $solid-button-text-color;
}

#headerInto2 a.button:focus,
#headerInto2 a.button:hover {
  border-bottom: none;
  color: $solid-button-text-color;
}

#headerInto3 a.button:focus,
#headerInto3 a.button:hover {
  border-bottom: none;
  color: $solid-button-text-color;
}

#headerInto4 a.button:focus,
#headerInto4 a.button:hover {
  border-bottom: none;
  color: $solid-button-text-color;
}

.hideItem {
  opacity: 0;
}

.showItem {
  opacity: 1;
}
