.SkipLinks-link {
    background: #f1f1f1 none repeat scroll 0 0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: rect(0px, 0px, 0px, 0px);
    color: #0073aa;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    left: -9999px;
    line-height: normal;
    opacity: 0;
    outline: 0 none;
    overflow: hidden;
    padding: 15px 23px 14px;
    position: absolute;
    top: -9999px;
    transition: opacity 350ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
    width: auto;
    z-index: -1;
}

.SkipLinks-link:focus {
    clip: auto !important;
    height: auto;
    left: 5px;
    opacity: 1;
    top: 5px;
    transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    width: auto;
    z-index: 100000;
}