$object: "landingpage-nav";

.#{$object} {
  background-color: #fff;
  box-shadow: none;

.logo-partner-header {
  border-left: 1px solid #000;
  margin-left: 15px;
  padding-left: 15px;
  width: 20%;
}

.logo-header {
  margin-left: 5px;
  margin-right: 10px;
  padding-left: 5px;
  //width: 20%;
}

  &__desktop-nav {
    display: none;
  }

  &__footer-desktop-nav {
    align-items: center;
    display: block;
    padding: rem-calc(16px);
    float: left;
    width: 100%;
  }


  &__footer-desktop-logo {
    display: block;
    float: left;
    margin-right: rem-calc(20px);
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 2%;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    width: 30%;
    clear: both;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__footer-help-text {
    top: rem-calc(30px);
    font-family: $public-font-family;
    font-size: rem-calc(12px); //10
    right: rem-calc(10px);
    text-align: center;
    text-transform: uppercase;

    a {
      color: $color-medium-text;
      font-family: $public-font-family;
      font-weight: normal;

      &:hover, &:focus {
        color: $color-medium-text;
        text-decoration: underline;
      }
    }
  }

  &__footer-desktop-links {
    display: block;
    text-align: center;
    float: left;
    vertical-align: middle;
    width: 100%;

    ul {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
    }
  }

  &__footer-desktop-link {
    display: block;
    font-size: rem-calc(12px); //13
    line-height: auto;
    margin: 0 rem-calc(12px);
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      font-family: $public-font-family;

      a {
        font-family: $public-font-family;
      }
    }

    a {
      color: $color-medium-text;
      font-family: $public-font-family;
      font-weight: $font-weight-bold;

      &:hover, &:focus {
        color: $color-medium-text;
        text-decoration: underline;
      }
    }
  }

  &__mobile-nav {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    min-height: rem-calc(100px);
    padding: rem-calc(5px);
  }

  &__mobile-logo {
    border-right: none;
    display: inline-block;
    margin-right: rem-calc(10px);
    vertical-align: middle;
    width: rem-calc(250px);

    img {
      width: 100%;
      height: 100%;
    }
  }


  &__mobile-hamburger {
    background: #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: rem-calc(17px);
    padding: 0;
    position: relative;
    right: 0;
    margin-left: 50%;
    text-align: center;
    vertical-align: middle;
    width: rem-calc(38px);

    svg {
      fill: #d8d8d8;
    }
  }

  &__menu-label {
    color: #fff;
    font-size: rem-calc(12.5px);
    position: relative;
    top: rem-calc(1px);
  }

  &__mobile-flyout {
    background: $color-mobile-menu;
    display: none;
    height: 100vh;
    left: -11px;
    position: absolute;
    top: 100%;
    width: 100vw;
    z-index: 1000;

    &.active {
      display: block;
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }

  &__mobile-menu-item {
    border-bottom: 1px solid #131622;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    display: block;
    font-family: $public-font-family;
    font-size: rem-calc(16px);
    text-transform: uppercase;
    padding: rem-calc(18px);
    vertical-align: middle;

    &.active {
      font-family: $public-font-family;

      a {
        color: white;
      }
    }

    a {
      color: darken(white, 20%);
    }
    &:first-child{
      border-top: none;
    }
  }
}
