.nav-menu-about-us {
  
    .plan-links { 
        margin: 0;
        padding-left: 4.5%;
        padding-right: 4.5%;
        text-align: left;
        vertical-align: middle;

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                font-weight: 700;
                font-size: 1rem;
                color: #fff;
                text-transform: uppercase;
                text-align: left;
                line-height: auto;
                margin-left: 0;
                margin-right: 0 1.25rem;
                width: auto;
            }
        }
     
    }
  }
  
  