$object: "main-nav";


footer.#{$object} {
  display: block;
  margin-top: 0;//rem-calc(45px);

  .callout {

    margin-bottom: 0;

    &.secondary {
      background: none;
      color: #333333;
    }

    .lead {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .menu.vertical {
      
      li {
        padding-left: 22%;
      }
      
      li a {
        padding-left: 0;
        //text-align: center;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
      }

      &.column2 {
        padding-left: 0; 
        margin-top: 15px; 
        margin-left: 0; 
        margin-bottom: 15px;
      }
    }

    .footer-bottom,
    .footer-bottom1,
    .footer-bottom2  {
      padding: rem-calc(10px);
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      p {
        margin-bottom: 0;
        line-height: 2.6;
      }

      &__social {
        margin: 60px 0 50px;
        text-align: center;
    
        &-link {
          display: inline-block;
          margin: 0 10px;
          padding: 5px;
          vertical-align: middle;
    
          &:focus,
          &:hover {
            opacity: 0.75;
            transition-duration: 150ms;
            transition-property: all;
            transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          }
        }
      }
    } 
  }
}

.#{$object} {
  background-color: #fff;
  box-shadow: none;

  &__desktop-nav {
    display: none;
  }


  &__footer-desktop-nav {
    align-items: center;
    display: block;
    padding: rem-calc(16px);
    float: left;
    width: 100%;
  }


  &__footer-desktop-logo {
    display: block;
    float: left;
    margin-right: rem-calc(20px);
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 2%;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    width: 30%;
    clear: both;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__footer-help-text {
    top: rem-calc(30px);
    font-family: $public-font-family;
    font-size: rem-calc(12px); //10
    right: rem-calc(10px);
    text-align: center;
    text-transform: uppercase;

    a {
      color: $main-link-text-color;
      font-family: $public-font-family;
      font-weight: normal;

      &:hover, &:focus {
        color: $main-link-text-color;
        text-decoration: underline;
      }
    }
  }

  &__footer-desktop-links {
    display: block;
    text-align: center;
    float: left;
    vertical-align: middle;
    width: 100%;

    ul {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
    }
  }

  &__footer-desktop-link {
    display: block;
    font-size: rem-calc(12px); //13
    line-height: auto;
    margin: 0 rem-calc(12px);
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      font-family: $public-font-family;

      a {
        font-family: $public-font-family;
      }
    }

    a {
      color: $main-link-text-color;
      font-family: $public-font-family;
      font-weight: $font-weight-bold;

      &:hover, &:focus {
        color: $main-link-text-color;
        text-decoration: underline;
      }
    }
  }

  &__mobile-nav {
    align-items: center;
    display: flex;
    height: rem-calc(85px);
    justify-content: space-between;
    position: relative;
  }

  &__mobile-nav-enroll{
    flex-direction: column;
    
      .contact-details{
        text-align: center;
        font-size: 18px;
        font-weight: 600;
      }
    
  }

  &__mobile-logo {
    border-right: none;
    display: inline-block;
    padding: rem-calc(11px 0 12px 0);
    width: rem-calc(250px);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__mobile-hamburger {
    background: #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: rem-calc(17px);
    padding: 0;
    position: relative;
    right: 0;
    text-align: center;
    vertical-align: middle;
    width: rem-calc(38px);

    svg {
      fill: #d8d8d8;
    }
  }

  &__menu-label {
    color: #fff;
    font-size: rem-calc(12.5px);
    position: relative;
    top: rem-calc(1px);
  }

  &__mobile-flyout {
    background: $mobile-menu-bg-color;
    display: none;
    height: 100vh;
    left: -11px;
    position: absolute;
    top: 100%;
    width: 100vw;
    z-index: 1000;

    &.active {
      display: block;
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }

  &__mobile-menu-item {
    border-bottom: 1px solid #131622;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    display: block;
    font-family: $public-font-family;
    font-size: rem-calc(16px);
    text-transform: uppercase;
    padding: rem-calc(18px);
    vertical-align: middle;

    &.active {
      font-family: $public-font-family;

      a {
        color: white;
      }
    }

    a {
      color: darken(white, 20%);
    }
    &:first-child{
      border-top: none;
    }
  }
}
