.nav-menu-about-us {
  
    .plan-links {
      
      flex-grow: 1;
      //max-width: rem-calc(760px);
      position: relative;
      text-align: left;
      vertical-align: middle;
      padding: 15px;
      height: auto;
      width: 100%;
  
      h2 {
        font-weight: 700;
        font-size: rem-calc(16px); //13
        color: #fff;
      }
  
      ul {
        list-style: none;
        margin-bottom: 0;
        padding: 0;
  
        li {
          display: inline-block;
          font-weight: 700;
          font-size: rem-calc(16px); //13
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          line-height: auto;
          margin: 0;
          width: 100%;

          &.title {
            width: 100%;
            text-align: center;
            margin: 0;
            margin-bottom: 10px;
            padding: 0;
            border-bottom: 1px solid #fff;
            font-family: $font-bold;
            font-size: rem-calc(18px); 
          }
  
          a {
            color: #fff;
            font-family: $public-font-family;

            &.highlight {
              font-family: $font-bold;
              font-size: rem-calc(18px); 

              &:hover, &:focus {
                color: #fff;
                text-decoration: underline;
                font-family: $font-bold;
                font-size: rem-calc(18px);
              }
            }
      
            &:hover, &:focus {
              color: #fff;
              text-decoration: underline;
              font-family: $public-font-family;
            }
          }
        }
      }
    }
  }
  
  