.nav-menu-value-plan {
  
    .plan-links { 
     
      ul {
        li {
          display: inline-block;
          font-weight: 700;
          font-size: rem-calc(16px); //13
          color: #fff;
          text-transform: uppercase;
          text-align: left;
          line-height: auto;
          margin: 0 rem-calc(20px);
          width: auto;

          &.title {
            width: auto;
            text-align: left;
            margin: 0;
            margin-bottom: 0;
            padding: 0;
            border-bottom: none;
          }

          a {
            color: #fff;
            font-family: $public-font-family;

            &.highlight {
              font-family: $font-bold;
              font-size: rem-calc(18px); //13

              &:hover, &:focus {
                color: #fff;
                text-decoration: underline;
                font-family: $font-bold;
                font-size: rem-calc(18px);
              }
            }
      
            &:hover, &:focus {
              color: #fff;
              text-decoration: underline;
              font-family: $public-font-family;
            }
          }
        }
      }
    }
  }
  
  