$object: "landingpage-nav";

.#{$object} {
  &:before {
    content: none;
  }

  .logo-partner-header {
    border-left: 1px solid #000;
    margin-left: 5px;
    padding-left: 15px;
    width: 20%;
  }

  .logo-header {
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 5px;
    //width: 20%;
  }

  &__desktop-nav {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    min-height: rem-calc(130px);
    padding: rem-calc(16px);
  }

  &__footer-desktop-nav {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    min-height: rem-calc(125px);
    padding: rem-calc(16px);
    float: none;
    width: auto;
  }

  &__mobile-nav {
    display: none;
  }

  &__desktop-enroll {
    display: inline-block;
    margin-right: rem-calc(20px);
    vertical-align: middle;
    width: rem-calc(170px);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__desktop-logo {
    display: inline-block;
    margin-right: rem-calc(20px);
    vertical-align: middle;
    width: rem-calc(280px);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__footer-desktop-logo {
    display: inline-block;
    float: none;
    margin: 0;
    margin-right: rem-calc(20px);
    vertical-align: middle;
    width: rem-calc(150px);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__help-text {
    bottom: rem-calc(30px);
    font-family: $public-font-family;
    font-size: rem-calc(12px); //10
    position: absolute;
    right: rem-calc(10px);
    text-align: center;
    text-transform: uppercase;
  }

  &__footer-help-text {
    top: rem-calc(30px);
    font-family: "Open Sans", sans-serif; //$public-font-family;
    font-size: rem-calc(12px); //10
    position: absolute;
    right: rem-calc(10px);
    text-align: center;
    text-transform: uppercase;
  }

  &__desktop-links {
    display: inline-block;
    flex-grow: 1;
    //max-width: rem-calc(760px);
    position: relative;
    text-align: right;
    vertical-align: middle;

    ul {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
    }
  }

  &__footer-desktop-links {
    display: inline-block;
    flex-grow: 1;
    //max-width: rem-calc(760px);
    position: relative;
    text-align: right;
    vertical-align: middle;

    ul {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
    }
  }

  &__desktop-link {
    display: inline-block;
    font-size: rem-calc(12px); //13
    font-family: "Open Sans Bold", sans-serif;
    font-weight: 700;
    line-height: auto;
    margin: 0 rem-calc(5px);
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      font-family: $public-font-family;

      a {
        font-family: $public-font-family;
      }
    }

    a {
      color: $color-medium-text;
      font-family: $public-font-family;
      font-weight: $font-weight-bold;

      &:hover, &:focus {
        color: $color-medium-text;
        text-decoration: underline;
      }
    }
  }

  &__footer-desktop-link {
    display: inline-block;
    font-size: rem-calc(14px); //13
    line-height: auto;
    margin: 0 rem-calc(12px);
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      font-family: $public-font-family;

      a {
        font-family: $public-font-family;
      }
    }

    a {
      color: $color-medium-text;
      font-family: $public-font-family;
      font-weight: $font-weight-bold;

      &:hover, &:focus {
        color: $color-medium-text;
        text-decoration: underline;
      }
    }
  }

  &__help-desktop-link {
    display: inline-block;
    font-size: rem-calc(12px); //13
    line-height: auto;
    margin: 0 rem-calc(10px);
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      font-family: $public-font-family;

      a {
        font-family: $public-font-family;
      }
    }

    a {
      color: $color-medium-text;
      font-family: $public-font-family;
      font-weight: $font-weight-regular;

      &:hover, &:focus {
        color: $color-medium-text;
        text-decoration: underline;
      }
    }
  }

  
}