
<div class="row available-plans-landingpage">
    {{#each available-plans-header}}
        {{#ifequal top-tab-class 'recommended'}}
            <div class="top-tab">{{top-tab}}</div>
        {{/ifequal}}
    {{/each}}
    <div class="plan box-shadow-normal">
    {{#each available-plans-header}}
        <p class="header center">{{header}}</p>
        <h2 class="header-title center">{{header-title}}</h2>
        <p class="price center">{{price}}</p>
        <div class="plan-content-container">
            <p class="plan-content">{{plan-content}}</p>
            <ul class="plan-list">
                {{#each content-list}}
                <li>{{item}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="links center">
            <!-- display: none; (hides the normal link)-->
            <a class="center" href="/plans/premier" style="display: none;">Show me more</a>
            
            <!-- display: block; (shows the shadowbox link)-->
            <a data-id="{{data-id}}" class="shadowbox-btn center" style="display: block;">Show me more</a>
            <br>
            <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=mrb7y6rgam&amp;plan_code=premierind">Start My Membership</a>
        </div>
    {{/each}}
    </div>
</div>

