$about-the-author-text-transform: uppercase;
$about-the-author-separator-width: 5rem;
$about-the-author-separator-thickness: 0.125rem;

.list-carousel {
    padding-top: 5rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    padding-left: 3rem;

    .content-container {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .image_container {
        display: block;
    }
    
    .list_container {
        width: 40%;
        margin-left: 5%;
        text-align: left;
        
        ul {
            li {
                display: block;
                
                &:before {
                    display: block;
                }
                
                .content {
                    margin-left: 25px;
                }
                
                &:active {
                    background-color: transparent;
                }
                
                &.active {
                    background-color: transparent;
                }
            }
        }
    }
}