$about-the-author-text-transform: uppercase;
$about-the-author-separator-width: 5rem;
$about-the-author-separator-thickness: 0.125rem;

.list-carousel {
    .content-container {
        margin-left: 3%;
        margin-right: 3%;
    }
}