$about-the-author-text-transform: uppercase;
$about-the-author-separator-width: 5rem;
$about-the-author-separator-thickness: 0.125rem;

.list-carousel {
    position: relative;
    border-top: solid 1px #f8f8f8;
    background-color: #fdfdfd;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    
    
    .content-container {
        position: relative;
    }
    
    .image_container {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        
        .image_bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: 65% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0;
            
            &.active {
                opacity: 1;
            }
        }
    }
    
    .list_container {
        position: relative;
        width: 100%;
        text-align: center;
        z-index: 2;
        
        ul {
            margin-left: 0;
            
            li {
                padding: 15px 0 0;
                list-style: none;
                overflow: hidden;
                cursor: pointer;
                background-color: transparent;
                -webkit-transition: background-color 250ms ease-in-out;
                -moz-transition: background-color 250ms ease-in-out;
                -o-transition: background-color 250ms ease-in-out;
                -ms-transition: background-color 250ms ease-in-out;
                transition: background-color 250ms ease-in-out;
                
                &:before {
                    float: left;
                    display: none;
                    content: "";
                    margin-top: 7px;
                    margin-right: 10px;
                    border: 1px solid #666666;
                    border-radius: 50%;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
                    filter: alpha(opacity=60);
                    opacity: 0.6;

                    -webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
                    box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
                    width: 13px;
                    height: 13px; 

                    -webkit-transition: background-color 250ms ease-in-out;
                    -moz-transition: background-color 250ms ease-in-out;
                    -o-transition: background-color 250ms ease-in-out;
                    -ms-transition: background-color 250ms ease-in-out;
                    transition: background-color 250ms ease-in-out;
                }
                
                .content {
                    display: block;
                    padding-bottom: 15px;
                    border-bottom: solid 1px #f1f1f1;
                    
                    h2 {
                        
                    }
                    
                    p {
                        display: none;
                        overflow: hidden;
                        margin: 0;
                    }
                }
                
                &:first-child {
                    .content {
                        p {
                            display: block;
                        }
                    }
                }
                
                &:hover {
                    &:before {
                        background-color: #666666;
                    }
                }
                
                &:active {
                    background-color: #e9f2f9;
                }
                
                &.active {
                    background-color: #e9f2f9;
                    
                    &:before {
                        border: solid 1px #13b86c;
                        background-color: #13b86c;
                    }
                    
                    .content {
                        p {
                            
                        }
                    }
                }
            }
        }
    }
}