<section class="global-3column-banner callout large primary gradient" aria-label="">   
    <div class="content-container">
        <div class="row"> 
            <div class="small-12 medium-12 large-12 columns center">
                <h2>{{global-3col-banner.title}} <sup>{{global-3col-banner.footnote}}</sup></h2>
                <p>{{global-3col-banner.title-description}}<sup>{{global-3col-banner.footnote2}}</sup> {{global-3col-banner.title-description2}}</p>
            </div>
        </div>
        
        <div class="row">
            <div class="small-12 medium-4 large-4 columns center">
                <div class="article-image center">
                    <img src="{{global-3col-banner.left-column-image}}">
                    <p>{{global-3col-banner.left-column-content1}} <span class="highlight red">{{global-3col-banner.left-column-content-highlight}}<sup>1</sup></span></p>
                </div>
            </div>
            <div class="small-12 medium-4 large-4 columns center">
                <div class="article-image center">
                    <img src="{{global-3col-banner.center-column-image}}">
                    <p>{{global-3col-banner.center-column-content1}} <span class="highlight red">{{global-3col-banner.center-column-content-highlight}}</span> {{global-3col-banner.center-column-content2}}<sup>1</sup></p>
                </div>
            </div>
            <div class="small-12 medium-4 large-4 columns center">
                <div class="article-image center">
                    <img src="{{global-3col-banner.right-column-image}}">
                    <p>{{global-3col-banner.right-column-content1}} <span class="highlight red">{{global-3col-banner.right-column-content-highlight}}</span> {{global-3col-banner.right-column-content2}}<sup>1</sup></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-12 large-12 columns center">
                <button tabindex="0" href="{{global-3col-banner.button-link}}" class="{{global-3col-banner.button-class}}">{{global-3col-banner.button-content}}</button>
            </div>
        </div>
        
    </div>
</section>
  