#contact-us {

    h4, .h4 {
        font-size: 1.0625rem;
        line-height: 1.0625rem;
    }

    p {
        font-size: 16px;
    }

    .main-header-title {
        line-height: 1.3;
        font-weight: normal;
        font-size: 25px;

        a {
            text-decoration: none;
            color: #0a0a0a;
            transition: color 0.5s ease;

            &:hover {
                text-decoration: underline;
                color: #0a0a0a;
            }
        }
    }

    .main-header-description {
        //color: $dark-gray;
        font-size: 19px;
        margin-bottom: 2rem;
    }

    .box-shadow {
        background: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 0;
        padding-top: 0;
    }

    .image {
        overflow: hidden;
        height: auto;
        max-height: 450px;
        position: relative;

        img{
            width: 100%;
            height: auto;
        }
    }

    .hr{
        border-bottom: 3px solid #D0021B;
        width: 100%;
        margin-bottom: 2rem;
    }

    .row{
        padding: 1rem;
    }
    
    .news-card {
        background-color: $white;
        font-weight: 400;
        margin-bottom: 1.6rem;
        border-radius: 0.125rem;
        box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);
        height: 542px;

        img{
            width: 100%;
            height: auto;
            padding-top: 5%;
            padding-bottom: 5%;
        }
        
        .image-container {
            height: 110px;
            overflow: auto;
        }
    
        .card-section {
            background-color: inherit;
            min-height: rem-calc(112px);
        
            &.featured {
                background-color: $branding-color-light-grey;
                min-height: rem-calc(112px);
        
                .news-card-title {
                    line-height: 1.3;
                    font-weight: normal;
                    text-align: center;
        
                    a {
                        text-decoration: none;
                        color: $branding-color-blue;
                        transition: color 0.5s ease;
            
                        &:hover {
                            text-decoration: underline;
                            color: $branding-color-blue;
                        }
                    }
                }
            }
        }
    
        .news-card-date {
            font-size: 1em;
            color: $dark-gray;
        }
    
        .news-card-article {
            background-color: inherit;
            padding: 5%;
            max-height: 490px;
            overflow: hidden;
    
            .news-card-title {
                line-height: 1.3;
                font-weight: normal;
                font-size: 25px;
    
                a {
                    text-decoration: none;
                    color: #0a0a0a;
                    transition: color 0.5s ease;
        
                    &:hover {
                        text-decoration: underline;
                        color: #0a0a0a;
                    }
                }
            }
    
            .news-card-description {
            color: $dark-gray;
            font-size: 19px;
            }
        }
    }
    .category{
        &--news {
            border-bottom: #D0021B 5px solid;
        }
  
        &--insights {
            border-bottom: #ECB319 5px solid;
        }
  
        &--tools{
            border-bottom: #2274B0 5px solid;
        }
    }
      
}