<div id="column-box" class="row" aria-label="">
    <div class="small-12 medium-12 large-12 columns no-side-padding">
        <div class="pad-all-lrg bottom-margin-xlrg {{ 1column-box-component.[0].box-shadow }}" style="background-color: {{ 1column-box-component.[0].background-color }}; border: {{ 1column-box-component.[0].border }}; padding: 20px; padding-bottom: 0;">
            <h2 class="center">{{ 1column-box-component.[0].title }}</h2>
            <p class="center">{{ 1column-box-component.[0].description }}</p>
            <p class="center">{{ 1column-box-component.[0].description2 }}</p>
                <button tabindex="0" href="{{ 1column-box-component.[0].buttonLink }}" class="{{ 1column-box-component.[0].buttonClass }}">{{ 1column-box-component.[0].buttonText }}</button>
        </div>
    </div>
</div>
      