$about-the-author-text-transform: uppercase;
$about-the-author-separator-width: 5rem;
$about-the-author-separator-thickness: 0.125rem;

.global-2column {

  display: none;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  .about-the-article {
    background-color: none;
    padding: 2rem;
    border: none;

    .separator-left {
      text-align: left;
      @include clearfix;
    }

    .article-title {
      text-transform: $about-the-author-text-transform;
    }

    .article-image {
      //border: 1px solid $medium-gray;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

      img {
        border-radius: 5px;
      }
    }
  }

  .award-layout {
    padding-left: 2%;
    padding-right: 2%;
  }

  &.left {
    display: block;
  }

  &.right {
    display: block;
  }
}