$about-the-author-text-transform: uppercase;
$about-the-author-separator-width: 5rem;
$about-the-author-separator-thickness: 0.125rem;

.global-2column {

  display: none;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  .about-the-article {
    background-color: none;
    padding: 2rem;
    padding-bottom: 3rem;
    border: none;

    .photo-caption-heading {
      margin-top: 55px;
      color: #94A0A9;
      font-size: rem-calc(24px);
    }

    .photo-caption {
      font-size: rem-calc(21px);
    }

    .left-article-pad {
      padding-left: 4rem;
    }

    .separator-left {
      text-align: left;
      //padding-top: rem-calc 
      margin-top: 8%;
      @include clearfix;
    }

    .article-title {
      text-transform: $about-the-author-text-transform;
    }

    .article-image {
      //border: 1px solid $medium-gray;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

      img {
        border-radius: 5px;
      }
    }
  }

  .award-layout {
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &.left {
    display: block;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  &.right {
    display: block;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}