.shared-background {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    
    &.horizontal-gradient {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f5f9+0,ffffff+100 */
        background: rgb(240,245,249); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(240,245,249,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(240,245,249,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(240,245,249,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f5f9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    }
    
    .notifications-component {
        padding: 0;
    }
    
    .video-component {
        background: none;
    }
}