<div class="show-for-small-only row box-shadow top-margin-med">
        <div class="small-12 medium-12 columns">
            <div class="tabs-panel-mobile">
                <h2 class="headerTab">Data Breach Readiness</h2>    
                <p>Having a well-composed and tested Data Breach Readiness plan is invaluable — in fact, studies show that having an incident response team can lower the costs of a data breach by as much as $19 per record lost or stolen.</p>
                    <p>With Identity Guard® Data Breach Readiness program, you can align your organization to:
                        <ul>
                            <li>Help detect and mitigate the risk of a breach through monitoring of business-level data</li>
                            <li>Empower employees with data and cybersecurity training and tools</li>
                            <li>Create an incident response plan that can be activated immediately in the event of a data breach</li>
                            <li>Use Identity Guard® identity theft protection products and services in the event of a breach</li>
                            <li>Tap into breach knowledge from Subject Matter Experts</li>
                        </ul>
                    </p>
                    <button tabindex="0" href="#" class="button tab">Learn More About Data Breach Readiness</button> 
            </div>
        </div>
</div>
<div class="show-for-small-only row box-shadow top-margin-med">
        <div class="small-12 medium-12 columns">
            <div class="tabs-panel-mobile">
                <h2 class="headerTab">Breach Response</h2>
                    <p>Having a well-composed and tested Data Breach Readiness plan is invaluable — in fact, studies show that having an incident response team can lower the costs of a data breach by as much as $19 per record lost or stolen.</p>
                    <p>With Identity Guard® Data Breach Readiness program, you can align your organization to:
                        <ul>
                            <li>Help detect and mitigate the risk of a breach through monitoring of business-level data</li>
                            <li>Empower employees with data and cybersecurity training and tools</li>
                            <li>Create an incident response plan that can be activated immediately in the event of a data breach</li>
                            <li>Use Identity Guard® identity theft protection products and services in the event of a breach</li>
                            <li>Tap into breach knowledge from Subject Matter Experts</li>
                        </ul>
                    </p>
                    <button tabindex="0" href="#" class="button tab">Learn More About Breach Response</button> 
            </div>
        </div>
</div>
<div class="show-for-small-only row box-shadow top-margin-med">
        <div class="small-12 medium-12 columns">
            <div class="tabs-panel-mobile">
                    <h2 class="headerTab">Employee Benefits</h2>
                    <p>Having a well-composed and tested Data Breach Readiness plan is invaluable — in fact, studies show that having an incident response team can lower the costs of a data breach by as much as $19 per record lost or stolen.</p>
                    <p>With Identity Guard® Data Breach Readiness program, you can align your organization to:
                        <ul>
                            <li>Help detect and mitigate the risk of a breach through monitoring of business-level data</li>
                            <li>Empower employees with data and cybersecurity training and tools</li>
                            <li>Create an incident response plan that can be activated immediately in the event of a data breach</li>
                            <li>Use Identity Guard® identity theft protection products and services in the event of a breach</li>
                            <li>Tap into breach knowledge from Subject Matter Experts</li>
                        </ul>
                    </p>
                    <button tabindex="0" href="#" class="button tab">Learn More About Employee Benefits</button> 
            </div>
        </div>
</div>

<div class="show-for-medium row">
    <div class="large-12 columns">
        <div class="row">
            <div class="medium-12 columns">
                <ul class="arrow-tabbed-search tabs" data-tabs id="tabbed-search">
                    <li class="tabs-title" tabindex="0"><a href="#panel1" class="drop-shadow">Breach Response</a><span class="bottom-arrow"><h3>arrow graphic</h3></span></li>
                    <li class="tabs-title is-active" tabindex="0"><a href="#panel2" class="drop-shadow">Data Breach Readiness</a><span class="bottom-arrow"><h3>arrow graphic</h3></span></li>
                    <li class="tabs-title" tabindex="0"><a href="#panel3" class="drop-shadow">Employee Benefits</a><span class="bottom-arrow"><h3>arrow graphic</h3></span></li>
                    </ul>
            </div>
        </div>
        <div class="arrow-tabbed-search-content tabs-content" data-tabs-content="tabbed-search">
            <div class="tabs-panel" id="panel1">
                <p>Nunc ipsum massa, venenatis sed fringilla ut, elementum eu sapien. In eget dolor volutpat, fringilla metus et, dignissim lectus. Proin interdum sit amet odio ut varius. Nam id quam lacus. Aenean et tellus a sapien pulvinar sollicitudin. Mauris posuere
                    tellus urna, non fermentum urna scelerisque in. Nulla scelerisque est leo, non tempus purus laoreet in. Aliquam erat volutpat. Nunc nulla eros, blandit quis nunc vel, luctus fermentum nisi. Phasellus ullamcorper gravida facilisis.
                </p>
                <button tabindex="0" href="#" class="button tab">Learn More About Breach Response</button>
                
            </div>
            <div class="tabs-panel is-active" id="panel2">
                <p>Having a well-composed and tested Data Breach Readiness plan is invaluable — in fact, studies show that having an incident response team can lower the costs of a data breach by as much as $19 per record lost or stolen.</p>
                <p>With Identity Guard® Data Breach Readiness program, you can align your organization to:
                    <ul>
                        <li>Help detect and mitigate the risk of a breach through monitoring of business-level data</li>
                        <li>Empower employees with data and cybersecurity training and tools</li>
                        <li>Create an incident response plan that can be activated immediately in the event of a data breach</li>
                        <li>Use Identity Guard® identity theft protection products and services in the event of a breach</li>
                        <li>Tap into breach knowledge from Subject Matter Experts</li>
                    </ul>
                </p>
                <button tabindex="0" href="#" class="button tab">Learn More About Data Breach Readiness</button>
                
            </div>
            <div class="tabs-panel" id="panel3">
                <p>Nunc ipsum massa, venenatis sed fringilla ut, elementum eu sapien. In eget dolor volutpat, fringilla metus et, dignissim lectus. Proin interdum sit amet odio ut varius. Nam id quam lacus. Aenean et tellus a sapien pulvinar sollicitudin. Mauris posuere
                        tellus urna, non fermentum urna scelerisque in. Nulla scelerisque est leo, non tempus purus laoreet in. Aliquam erat volutpat. Nunc nulla eros, blandit quis nunc vel, luctus fermentum nisi. Phasellus ullamcorper gravida facilisis.
                </p>
                <button tabindex="0" href="#" class="button tab">Learn More About Employee Benefits</button>
                
            </div>
        </div>
    </div>
</div>    