
input[type="email"], 
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"], 
textarea,
select {
    box-sizing: border-box;
    color: #7e7d7d;
    padding: 0 20px;
    height: 55px;
    line-height: 35px;
    background: #F7F8F8;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#form-container {
    padding: 2%;
}
    


