<nav class="main-nav">
  <div class="main-nav__wrap">
    <div class="row">
      <div class="large-12 columns">
        <div class="main-nav__mobile-nav-enroll main-nav__mobile-nav">
            <div tabindex="0" class="main-nav__desktop-enroll">
                <a href="/">
                  <img src="/assets/img/logos/idg-logo-new.png" alt="Desktop Logo">
                </a>
              </div>
              <div class="contact-details">
                  <div>For Questions Call: 1-000-000-0000</div>
              </div>
        </div>
        <div id="nav-bar" class="main-nav__desktop-nav main-nav__desktop-nav-enroll">
          <div tabindex="0" class="main-nav__desktop-enroll">
            <a href="/">
              <img src="/assets/img/logos/idg-logo-new.png" alt="Desktop Logo">
            </a>
          </div>
          <div class="contact-details">
            <div>For Questions Call: 1-000-000-0000</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
    