<nav aria-label="main navigation" tabindex="-1">
         <span id="submenu_msg" role="tooltip" style="display: none;">This menu item has a sub menu. Use the Up and Down arrow keys to access the sub menu items.</span>

<section class="MobileMenu">
  <div class="MobileMenu-content">
       
   </div>
</section>

<div class="top-bar">
            <div class="top-bar-left">
               <ul class="logo" role="menubar">
                  


<li class="topbar-title" role="menuitem" tabindex="0" aria-haspopup="false" title="Logo">
  <a id="btn-take-action" href="#" class="MobileMenuBar hide-for-medium" role="menuitem" tabindex="0" aria-haspopup="true" title="Mobile Menu Navigation">
  <b></b>
   <b></b>
   <b></b>
</a>
<a class="header-logo" href="http://www.home.com" role="menuitem" tabindex="0" aria-haspopup="true" title="Logo"><img src="/assets/img/image_placeholders/logo.png" alt="image of2a planet called Pegasi B"></a></li>

               </ul>
            </div>
            <div class="top-bar-right show-for-medium">
               <ul id="nav" class="menubar root-level" role="menubar">
                  <li class="menu-parent" role="menuitem" tabindex="0" aria-haspopup="true" title="About Menu" aria-describedby="submenu_msg">About Title
                    <ul id="about" role="menu" class="menu" aria-hidden="true" aria-describedby="submenu_msg" style="display: none;">
                        <li role="menuitem" class="menu-item" tabindex="-1">
                           <a href="http://staff.washington.edu/tft/tests/menus/generic.html">News</a>
                        </li>
                        <li role="menuitem" class="menu-item" tabindex="-1">
                           <a href="http://staff.washington.edu/tft/tests/menus/generic.html">Governance</a>
                        </li>
                        <li role="menuitem" class="menu-item" tabindex="-1">
                           <a href="http://staff.washington.edu/tft/tests/menus/generic.html">Diversity</a>
                        </li>
                        <li role="menuitem" class="menu-item" tabindex="-1">
                           <a href="http://staff.washington.edu/tft/tests/menus/generic.html">ContactUs</a>
                        </li>
                     </ul>
                  </li>
                  <li class="menu-parent" role="menuitem" tabindex="0" aria-haspopup="true" title="Academics Menu" aria-describedby="submenu_msg">Academics Title<ul role="menu" class="menu" aria-hidden="true" style="display: none;">
                        <li role="menuitem" class="menu-item" tabindex="-1">
                           <a href="http://staff.washington.edu/tft/tests/menus/generic.html">Degree Programs</a>
                        </li>
                        <li role="menuitem" class="menu-item" tabindex="-1">
                           <a href="http://staff.washington.edu/tft/tests/menus/generic.html">Faculty</a>
                        </li>
                        <li role="menuitem" class="menu-item" tabindex="-1">
                           <a href="http://staff.washington.edu/tft/tests/menus/generic.html">Distance Learning</a>
                        </li>
                        <li role="menuitem" class="menu-item" tabindex="-1">
                           <a href="http://staff.washington.edu/tft/tests/menus/generic.html">Libraries</a>
                        </li>
                     </ul>
                  </li>
                  <li class="menu-parent" role="menuitem" tabindex="0" aria-haspopup="true" title="Admissions Menu" aria-describedby="submenu_msg">Admissions Title<ul role="menu" class="menu" aria-hidden="true" style="display: none;">
                        <li role="menuitem" class="menu-item" tabindex="-1">
                           <a href="http://staff.washington.edu/tft/tests/menus/generic.html">Undergraduate</a>
                        </li>
                        <li role="menuitem" class="menu-item" tabindex="-1">
                           <a href="http://staff.washington.edu/tft/tests/menus/generic.html">Tuition</a>
                        </li>
                        <li role="menuitem" class="menu-item" tabindex="-1">
                           <a href="http://staff.washington.edu/tft/tests/menus/generic.html">Financial Aid</a>
                        </li>
                     </ul>
                  </li>
                  <li class="menu-parent" role="menuitem" tabindex="0" aria-haspopup="true" title="Visitors Menu" aria-describedby="submenu_msg">Language<ul role="menu" class="menu" aria-hidden="true" style="display: none;">
                        <li role="menuitem" class="menu-item" tabindex="-1">
                           <a href="/">English</a>
                        </li>
                        <li role="menuitem" class="menu-item" tabindex="-1">
                           <a href="/fr/">Français</a>
                        </li>
                        
                     </ul>
                  </li>


<li role="menuitem" tabindex="0" aria-haspopup="true" title="Login"><a href="/online-fundraising" class="hollow button">Login</a></li>
<li role="menuitem" tabindex="0" aria-haspopup="true" title="Enroll"><a href="/online-fundraising" class="button">Enroll</a></li>
               </ul>
            </div>
         </div>
      </nav>