<section class="nav-menu-value-plan" style="background-color: #1E2E42;" aria-label="">   
    <div class="row">
        <div class="large-12 columns">
            <div class="plan-links"><!-- old background color: ##dce9f3-->
                <ul role="menubar">
                    {{#each value-plans-menu-title}}
                    <li class="title">All Plans:</li>
                    {{/each}}

                    {{#each value-plans-menu}}
                    <li><a href="{{link}}" class="{{class}}">{{content}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>