<section class="nav-menu-about-us" style="background-color: #1E2E42;" aria-label="">   
    <div class="row no-pad">
        <div class="large-12 columns no-pad">
            <div class="plan-links"><!-- old background color: ##dce9f3-->
                <ul role="menubar">
                    {{#each about-menu}}
                    <li><a href="{{link}}" class="{{class}}">{{content}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>