<nav>
    <div class="top-bar" id="realEstateMenu" style="margin-top: 0px; z-index: 100;  opacity: 1;">
        
        <div class="medium-4 large-4 columns">
            <div tabindex="0" class="top-bar-left">
                <a href="/">
                  <img src="./assets/img/logos/logo.png" alt="Mobile Logo">
                </a>
              </div>
        </div>

        <div class="medium-4 large-4 columns">
           
        </div>

        <div class="medium-4 large-4 columns">
            <div tabindex="0" class="top-bar-right">
                <a href="/">
                  <img src="./assets/img/logos/logo.png" alt="Mobile Logo">
                </a>
              </div>
        </div>
        
    </div>
</nav>