<div id="resouce-center-navbar" class="row column bottom-margin-xlrg">
    <ul class="resource-center-nav">
        <li class="resource-nav-item is-active">
            <a href="#" target="_blank">
                All
            </a>
        </li>
        <li class="resource-nav-item">
            <a href="#" target="_blank">
                Employee Benefits
            </a>
        </li>
        <li class="resource-nav-item">
            <a href="#" target="_blank">
                Security
            </a>
        </li>
        <li class="resource-nav-item">
            <a href="#" target="_blank">
                Breach
            </a>
        </li>
    </ul>
</div>
  
  