    <section class="sectionpad-lrg-top sectionpad-lrg-bottom" aria-label="featured resources">
    <div class="row">
        <div class="small-12 medium-12 columns">
            <div class="row">
                <div class="small-12 medium-12 columns">
           
                    <div class="row small-up-1 medium-up-1 large-up-3">
                        <h4 class="resource-header">RELATED RESOURCES</h4>
                        <article class="column">
                            <div class="card news-card">
                                <div class="image">
                                    <p class="alert-tag red show">Breach</p>
                                    <img src="/assets/img/resource-center/article.png"> 
                                </div>
                                <div class="card-section">
                                    <div class="news-card-article">
                                        <h5 class="news-card-title"><a href="#">How to Keep a Balanced Approach to Data Breach Response</a></h5>
                                        <p class="news-card-description">There are many technological and policy-related ways to prepare for and respond to a data breach.
                                        </p>
                                    </div>
                                    <div class="news-card-author">
                                        <div class="news-card-author-name">
                                            <a href="/resource-center/article-page/">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="column">
                            <div class="card news-card"> 
                                <div class="image">
                                    <p class="alert-tag green show">Security</p>
                                    <img src="/assets/img/resource-center/article.png">
                                </div>
                                <div class="card-section">
                                    <div class="news-card-article">
                                        <h5 class="news-card-title"><a href="#">How to Keep a Balanced Approach to Data Breach Response</a></h5>
                                        <p class="news-card-description">There are many technological and policy-related ways to prepare for and respond to a data breach.
                                        </p>
                                    </div>
                                    <div class="news-card-author">
                                        <div class="news-card-author-name">
                                            <a href="/resource-center/article-page/">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="column">
                            <div class="card news-card"> 
                                <div class="image">
                                    <p class="alert-tag yellow show">Employee Benefits</p>
                                    <img src="/assets/img/resource-center/article.png">
                                     
                                </div>
                                <div class="card-section">
                                    <div class="news-card-article">
                                        <h5 class="news-card-title"><a href="#">How to Keep a Balanced Approach to Data Breach Response</a></h5>
                                        <p class="news-card-description">There are many technological and policy-related ways to prepare for and respond to a data breach.
                                        </p>
                                    </div>
                                    <div class="news-card-author">
                                        <div class="news-card-author-name">
                                            <a href="/resource-center/article-page/">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>    