.arrow-tabbed-search {
    background: #fff;
    border: none;
    position: relative;
    top: 0px;
    margin-top: rem-calc(50px);
  }
  
  .arrow-tabbed-search-content {
    position: relative;
    top: 0;
    margin-top: 0px;
    background: none;
    border: none;
    
    @include breakpoint(small only) {
      padding-top: 20px;
      padding-bottom: 30px;
    }
    
    label {
      font-weight: 700;
      font-size: 0.8em;
      text-transform: uppercase;
      color: #2274b0;
      letter-spacing: 0.5px;
      color: lighten(#43403a, 35%);
      background: #43403a;
    }
    
    input[type=text] {
      margin-top: 15px;
      background: darken(#43403a, 8%);
      color: lighten(#43403a, 80%);
      border: 1px solid lighten(#43403a, 20%);
      border-radius: 3px;
      font-weight: 400;
      padding-left: 15px;
      
      @include breakpoint(small only) {
        margin-top: 0px;
      }
    }
    
    select {
      margin-top: 15px;
      background: darken(#43403a, 8%);
      color: lighten(#43403a, 80%);
      border: 1px solid lighten(#43403a, 20%);
      border-radius: 3px;
      font-weight: 400;
      padding-left: 15px;
      
      @include breakpoint(small only) {
        margin-top: 0px;
      }
    }
    
    .button.search-button {
      padding-left: 0;
      padding-right: 0;
      border-radius: 3px;
      margin-top: 15px;
      
      @include breakpoint(small only) {
        margin-top: 0px;
      }
      
      i {
        height: 15px;
        width: 15px;
        margin-right: 5px;
        margin-top: -2px;
      }
    }

    .tabs-panel{
      margin-top: 2%;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 2%;
      padding: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;

      hr {
        border-color: #2274b0;
        border-width: 6px;
        margin-top: 0;
      }
    }
  }

  .tabs-content .button.tab {
    margin-top: 20px;
    margin-left: 32%; 
    margin-right: 32%;
  }
  
  .arrow-tabbed-search > li {
    width: 33.33%;
    vertical-align: middle;
  }

  .tabs-title {
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
  }

  .tabs-title > a {
    color: #2274b0;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    padding: 40px;
    background: #f0f0f0;
  }
  
  .tabs-title > a:focus, .tabs-title > a[aria-selected='true']{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
    background: #2274b0;
    padding: 25px;
    margin-top: rem-calc(-18.5px);

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

  }
  
  .tabs-title > a:hover,
  .tabs-title > a:focus {
    color: #fff;
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;
    background: #2274b0;
    padding: 25px;
    margin-top: rem-calc(-18.5px);
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .bottom-arrow {
    height: 0;
    width: 0;
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
    border-top: 18px solid #2274b0;
    content: "";
    display: none;
    left: 50%;
    margin-left: -28px;
    position: relative;
    top: 100%;
  }

  .bottom-arrow h1, .bottom-arrow h2, .bottom-arrow h3 {
    display: none;
  }

  .tabs-title a:hover span.bottom-arrow {
    display: block;
  }
  
  .signup-callout {
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.60), 
      rgba(0, 0, 0, 0.4)
    ),
      url("https://unsplash.it/2000/1200?image=667");
    background-position: center center;
    
    h2 {
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
  
  .tabs-title > a {
     padding: 1em 1.25em;
  }  


  .tabs-panel-mobile {

    hr {
      border-color: #2274b0;
      border-width: 6px;
      margin-top: 0;
    }

    .headerTab {
      border: 1px solid $branding-color-blue;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 20px;
      color: $branding-color-blue;
      text-align: center;
    }
  }