<section class="header-inside">
    <div class="no-pad no-margin">
        <div class="small-12 medium-12 large-12 columns no-pad no-margin">
          <div class="content-container">
            <div class="small-12 medium-12 large-12 columns">
                <h1>{{ global-header.title }}</h1>
                {{> global-open-button }}             
            </div>
          </div>
        </div>
    </div> 
  </a>
</section>