<section class="header-inside">
    <div class="no-pad no-margin">
        <div class="small-12 medium-12 large-12 columns no-pad no-margin">
          <div class="content-container">
            <div class="small-12 medium-12 large-12 columns">
                <h1>{{ global-header.title }}</h1>
                <p class="content"><strong class="highlight">{{ global-header.content1-highlight }}</strong> <strong>{{ global-header.content1 }}</strong></p>
                <p class="content"><strong class="highlight">{{ global-header.content2-highlight }}</strong> <strong>{{ global-header.content2 }}</strong></p>
                <p class="content"><strong class="highlight">{{ global-header.content3-highlight }}</strong> <strong>{{ global-header.content3 }}</strong></p>
                <p class="content"><strong class="highlight">{{ global-header.content4-highlight }}</strong> <strong>{{ global-header.content4 }}</strong></p>
                {{> global-open-button }}             
            </div>
          </div>
        </div>
    </div> 
  </a>
</section>