.fullscreen-image-hero {
  
  height: 350px;
  color: inherit;
  line-height: 1.2;
  font-weight: inherit;

  h1 {
    font-size: rem-calc(25px);
    line-height: 1.2;
  }

  h2 {
    font-size: rem-calc(15px);
    font-family: $font-semi-bold;
    line-height: 1.2;
  }
  
  h3 {
    font-size: rem-calc(13px);
  }

  vertical-align: middle;
  //clear: both;

  .orbit-image {
    width: 100%;
    //height: 400px;
    height: auto;
  }

  .orbit-slide {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .orbit-caption {
    top: 12%;

    background: none;
    text-align: center;
    color: $main-text-color;
    //font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    max-height: 325px;
  }

  .orbit-previous, 
  .orbit-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
    padding: 1rem;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #fefefe;
  }

  .orbit-previous, 
  .orbit-next, 
  .orbit-previous, 
  .orbit-next, 
  .orbit-previous, 
  .orbit-next {
    background: none;
    cursor: pointer;
    opacity: 0.25;
  }

  .orbit-previous:hover, 
  .orbit-next:hover, 
  .orbit-previous:active, 
  .orbit-next:active, 
  .orbit-previous:focus, 
  .orbit-next:focus {
    background: none;
    cursor: pointer;
    opacity: 1;
  }

  &.page {
    
    height: 300px;

    button {
      display: none;
    }

    .orbit-slide {
      width: 100%;
      height: 300px;
      overflow: hidden;
    }

    .breach {
      border: 1px solid #fff;

    }

    .mobile.orbit-caption {
      padding-top: 5%;  
      height: auto;
      max-height: 325px;
    }

    .mobile.orbit-caption.white, {
      padding-top: 7%;  
      color: #ffffff;
      
      line-height: 1.2;
      font-weight: inherit;
      text-align: center;
    
      h1 {
        font-size: rem-calc(25px);
      }
    
      h2 {
        font-size: rem-calc(15px);
      }
      
      h3 {
        font-size: rem-calc(13px);
      }
      
    }

    figcaption.orbit-caption.white,
    .orbit-caption.white {
      padding-top: 2%;  
      color: #ffffff;
      text-align: center;
      
      line-height: 1.2;
      font-weight: inherit;
    
      h1 {
        font-size: rem-calc(25px);
      }
    
      h2 {
        font-size: rem-calc(15px);
      }
      
      h3 {
        font-size: rem-calc(13px);
      }
    }

    figcaption {
      height: auto;
      max-height: 350px;
    }

  }

  &.landingpage {

    height: 900px;
    color: inherit;
    line-height: 1.2;
    font-weight: inherit;

    @media (max-width: 449) { 
      height: 900px;
      color: inherit;
      line-height: 1.2;
      font-weight: inherit;
    }

    @media (min-width: 450px) and (max-width: 724px) { 
      height: 740px;
      color: inherit;
      line-height: 1.2;
      font-weight: inherit;
    }


    h1 {
      font-size: rem-calc(25px);
      line-height: 1.2;
    }

    h2 {
      font-size: rem-calc(15px);
      font-family: $font-semi-bold;
      line-height: 1.2;
    }
    
    h3 {
      font-size: rem-calc(13px);
    }

    vertical-align: middle;
    //clear: both;

    .orbit-image {
      width: 100%;
      //height: 400px;
      height: auto;
    }

    .orbit-slide {
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    .orbit-caption {
      top: 7%;

      background: none;
      text-align: center;
      color: $main-text-color;
      //font-weight: bold;
      padding-left: 5%;
      padding-right: 5%;
      height: auto;
      max-height: 325px;
    }

    .orbit-previous, 
    .orbit-next {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 10;
      padding: 1rem;
      padding-top: 5%;
      padding-bottom: 5%;
      color: #fefefe;
    }

    .orbit-previous, 
    .orbit-next, 
    .orbit-previous, 
    .orbit-next, 
    .orbit-previous, 
    .orbit-next {
      background: none;
      cursor: pointer;
      opacity: 0.25;
    }

    .orbit-previous:hover, 
    .orbit-next:hover, 
    .orbit-previous:active, 
    .orbit-next:active, 
    .orbit-previous:focus, 
    .orbit-next:focus {
      background: none;
      cursor: pointer;
      opacity: 1;
    }

    &.page {
      
      height: 300px;

      button {
        display: none;
      }

      .orbit-slide {
        width: 100%;
        height: 300px;
        overflow: hidden;
      }

      .breach {
        border: 1px solid #fff;

      }

      .mobile.orbit-caption {
        padding-top: 5%;  
        height: auto;
        max-height: 325px;
      }

      .mobile.orbit-caption.white, {
        padding-top: 7%;  
        color: #ffffff;
        
        line-height: 1.2;
        font-weight: inherit;
        text-align: center;
      
        h1 {
          font-size: rem-calc(25px);
        }
      
        h2 {
          font-size: rem-calc(15px);
        }
        
        h3 {
          font-size: rem-calc(13px);
        }
        
      }

      figcaption.orbit-caption.white,
      .orbit-caption.white {
        padding-top: 2%;  
        color: #ffffff;
        text-align: center;
        
        line-height: 1.2;
        font-weight: inherit;
      
        h1 {
          font-size: rem-calc(25px);
        }
      
        h2 {
          font-size: rem-calc(15px);
        }
        
        h3 {
          font-size: rem-calc(13px);
        }
      }

      figcaption {
        height: auto;
        max-height: 350px;
      }

    }

    
  }

}


