.fullscreen-image-hero {

  height: 400px;
  color: inherit;
  line-height: 1.2;
  font-weight: inherit;

  h1 {
    font-size: rem-calc(30px);
    font-family: $font-semi-bold;
    font-weight: $font-weight-bold;
    line-height: 1.2;
  }

  h2 {
    font-size: rem-calc(18px);
    font-family: $font-semi-bold;
    line-height: 1.2;
  }

  h3 {
    font-size: rem-calc(16px);
    font-family: $font-semi-bold;
  }

  //clear: both;

  .orbit-image {
    width: 100%;
    //height: 400px;
    height: auto;
  }

  .orbit-slide {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .orbit-caption {
    top: 15%;

    background: none;
    text-align: center;
    color: $color-default-text;
    //font-weight: bold;
    padding-left: 5%;
    padding-right: 10%;
  }

  .orbit-previous,
  .orbit-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
    padding: 1rem;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #fefefe;
  }

  .orbit-previous,
  .orbit-next,
  .orbit-previous,
  .orbit-next,
  .orbit-previous,
  .orbit-next {
    background: none;
    cursor: pointer;
    opacity: 0.25;
  }

  .orbit-previous:hover,
  .orbit-next:hover,
  .orbit-previous:active,
  .orbit-next:active,
  .orbit-previous:focus,
  .orbit-next:focus {
    background: none;
    cursor: pointer;
    opacity: 1;
  }

  &.page {

    height: 300px;

    button {
      display: none;
    }

    .orbit-slide {
      width: 100%;
      height: 300px;
      overflow: hidden;
    }

    .breach {
      border: 1px solid #fff;

    }

    .mobile.orbit-caption {
      padding-top: 5%;
      height: auto;
      max-height: 350px;
    }

    .mobile.orbit-caption.white, {
      padding-top: 7%;
      color: #ffffff;
      text-align: center;

      line-height: 1.3;
      font-weight: inherit;

      h1 {
        font-size: rem-calc(30px);
        font-family: $font-bold;
        font-weight: $font-weight-bold;
      }

      h2 {
        font-size: rem-calc(18px);
      }

      h3 {
        font-size: rem-calc(16px);
      }
    }

    figcaption.orbit-caption.white,
    .orbit-caption.white {
      padding-top: 2%;
      color: #ffffff;
      text-align: center;

      line-height: 1.3;
      //font-weight: inherit;

      h1 {
        font-size: rem-calc(30px);
        font-family: $font-bold;
        font-weight: $font-weight-bold;
      }

      h2 {
        font-size: rem-calc(18px);
      }

      h3 {
        font-size: rem-calc(16px);
      }
    }

  }

  &.landingpage {

    height: 740px;
    color: inherit;
    line-height: 1.2;
    font-weight: inherit;

    h1 {
      font-size: rem-calc(30px);
      font-family: $font-semi-bold;
      font-weight: $font-weight-bold;
      line-height: 1.2;
    }

    h2 {
      font-size: rem-calc(18px);
      font-family: $font-semi-bold;
      line-height: 1.2;
    }

    h3 {
      font-size: rem-calc(16px);
      font-family: $font-semi-bold;
    }

    //clear: both;

    .orbit-image {
      width: 100%;
      //height: 400px;
      height: auto;
    }

    .orbit-slide {
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    .orbit-caption {
      top: 15%;

      background: none;
      text-align: center;
      color: $color-default-text;
      //font-weight: bold;
      padding-left: 5%;
      padding-right: 5%;
    }

    .orbit-previous,
    .orbit-next {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 10;
      padding: 1rem;
      padding-top: 5%;
      padding-bottom: 5%;
      color: #fefefe;
    }

    .orbit-previous,
    .orbit-next,
    .orbit-previous,
    .orbit-next,
    .orbit-previous,
    .orbit-next {
      background: none;
      cursor: pointer;
      opacity: 0.25;
    }

    .orbit-previous:hover,
    .orbit-next:hover,
    .orbit-previous:active,
    .orbit-next:active,
    .orbit-previous:focus,
    .orbit-next:focus {
      background: none;
      cursor: pointer;
      opacity: 1;
    }

    &.page {

      height: 300px;

      button {
        display: none;
      }

      .orbit-slide {
        width: 100%;
        height: 300px;
        overflow: hidden;
      }

      .breach {
        border: 1px solid #fff;

      }

      .mobile.orbit-caption {
        padding-top: 5%;
        height: auto;
        max-height: 350px;
      }

      .mobile.orbit-caption.white, {
        padding-top: 7%;
        color: #ffffff;
        text-align: center;

        line-height: 1.3;
        font-weight: inherit;

        h1 {
          font-size: rem-calc(30px);
          font-family: $font-bold;
          font-weight: $font-weight-bold;
        }

        h2 {
          font-size: rem-calc(18px);
        }

        h3 {
          font-size: rem-calc(16px);
        }
      }

      figcaption.orbit-caption.white,
      .orbit-caption.white {
        padding-top: 2%;
        color: #ffffff;
        text-align: center;

        line-height: 1.3;
        //font-weight: inherit;

        h1 {
          font-size: rem-calc(30px);
          font-family: $font-bold;
          font-weight: $font-weight-bold;
        }

        h2 {
          font-size: rem-calc(18px);
        }

        h3 {
          font-size: rem-calc(16px);
        }
      }

    }

  }

}
