<!-- Page Footnotes -->
 
<div class="row expanded callout no-margin-bottom bottom-padding-med" style="background-color: #5d5d5d;">
    <div class="side-content-pad">
        <div class="small-12 medium-12 large-12 columns no-pad" aria-hidden="false">
            {{#each footnotes}}
            <div class="global-footnotes">
                <sup><strong>{{ footnote-number }}</strong> </sup>{{ footnote-description}}
            </div>
            {{/each}}  
        </div>
    </div>
</div>