<section class="notifications-component">   
    <div class="row">
        <div class="small-12 columns">
            <div class="vertical-center">
                <h4 class="separator-left">{{ notifications-component-banner.title }}</h4>
                <p>{{ notifications-component-banner.content }}</p>
            </div>
        </div>
    </div>
    
    {{> list-carousel }}
</section>
  