<section class="video-component">   
    <div class="row">
        <div class="small-12 medium-6 large-6 columns">
            <div class="vertical-center">
                <h4 class="separator-left">{{video-component-banner.title}}</h4>
                <p>{{video-component-banner.content}}</p>
                <!--<a class="button" href="#">EXPLORE NOW</a>-->
            </div>
        </div>
        <div class="small-12 medium-6 large-6 columns">
            <div class="flex-video">
                <iframe width="560" height="315" src="{{video-component-banner.video-src}}" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>
  