<section id="program-container left" class="row">
    <div class="pad-all-xxlrg bottom-margin-xlrg box-shadow-normal" style="background-color: #fff; border: 1px solid #cacaca;">            
            <div class="row">
                <h4 class="center bottom-margin-xlrg">How does the Affiliate Program Work?</h4>
            </div>
        <div class="row">
            <div class="small-12 medium-7 large-8 columns">
                <p>We view our affiliates as business partners, sharing the successes of your marketing strategies. Working with our affiliate team, partnering with us is as simple as adding a link from your site to and referring customers to one of our innovative services.</p> 
                <p>You will receive a commission each time your customer is successfully billed for our services, up to the first 5 years of your customer’s subscription. It's a great addition to websites in different industries and an easy way to maximize your website's potential — all the while providing your customers and visitors with one of the most trusted identity theft protection and credit monitoring services around.</p>
            </div>
            <div class="small-12 medium-5 large-4 columns">
                <div class="program-module" style="background-color: #364449;">
                    <div class="row" >
                        <div class="small-12 columns">
                            <span><span class="image"><img src="/assets/img/icons/connect-with-affiliates-icon.png"></span><p>Connect with our affiliate team</p></span>
                            <span><span class="image"><img src="/assets/img/icons/add-our-link-icon.png"></span><p>Add our link to your page</p></span>
                            <span><span class="image"><img src="/assets/img/icons/maximize-website-icon.png"></span><p>Maximize you websites’ potential</p></span>
                            <span><span class="image"><img src="/assets/img/icons/provide-your-views-icon.png"></span><p>Provide your viewers with quality protection</p></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="program-container" class="row">
        <div class="pad-all-xxlrg bottom-margin-xlrg box-shadow-normal" style="background-color: #fff; border: 1px solid #cacaca;">            
            <div class="row">
                <h4 class="center bottom-margin-xlrg">How does the Affiliate Program Work?</h4>
            </div>
            <div class="row">
                <div class="small-12 medium-5 large-4 columns">
                    <div class="program-module" style="background-color: #364449;">
                        <div class="row" >
                            <div class="small-12 columns">
                                <span><span class="image"><img src="/assets/img/icons/connect-with-affiliates-icon.png"></span><p>Connect with our affiliate team</p></span>
                                <span><span class="image"><img src="/assets/img/icons/add-our-link-icon.png"></span><p>Add our link to your page</p></span>
                                <span><span class="image"><img src="/assets/img/icons/maximize-website-icon.png"></span><p>Maximize you websites’ potential</p></span>
                                <span><span class="image"><img src="/assets/img/icons/provide-your-views-icon.png"></span><p>Provide your viewers with quality protection</p></span>
                            </div>
                        </div>
                    </div>
                </div>               
                <div class="small-12 medium-7 large-8 columns">
                    <p>We view our affiliates as business partners, sharing the successes of your marketing strategies. Working with our affiliate team, partnering with us is as simple as adding a link from your site to and referring customers to one of our innovative services.</p> 
                    <p>You will receive a commission each time your customer is successfully billed for our services, up to the first 5 years of your customer’s subscription. It's a great addition to websites in different industries and an easy way to maximize your website's potential — all the while providing your customers and visitors with one of the most trusted identity theft protection and credit monitoring services around.</p>
                </div>
            </div>
        </div>
    </section>