<section class="row global-2column left" style="background-color: none; border: none;" aria-label="">   
    <div class="about-the-article">
        <div class="row">
            <div class="small-12 medium-12 large-7 columns">
                <h4 class="separator-left">How Do You Sign Up?</h4>
                <p>Contact us to let us know you're interested. We’ll work with you to develop the relationship and provide appropriate links or banners for you to utilize on your website. There are no fees to become an Identity Guard® affiliate, but we do require all affiliates to follow our set marketing guidelines, which we will provide.</p>
            </div>
            <div class="small-12 medium-12 large-5 columns">
                <div class="article-image">
                    <img src="/assets/img/affiliates-signup.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="row global-2column" style="background-color: #fff; border: 1px solid #cacaca;" aria-label="">   
    <div class="about-the-article">
        <div class="row">
            <div class="small-12 medium-12 large-5 columns">
                <div class="article-image">
                    <img src="/assets/img/affiliates-signup.jpg">
                </div>
            </div>
            <div class="small-12 medium-12 large-7 columns">
                <h4 class="separator-left">How Do You Sign Up?</h4>
                <p>Contact us to let us know you're interested. We’ll work with you to develop the relationship and provide appropriate links or banners for you to utilize on your website. There are no fees to become an Identity Guard® affiliate, but we do require all affiliates to follow our set marketing guidelines, which we will provide.</p>
            </div>
        </div>
    </div>
</section>
  