<section class="about-component top-margin-xlrg bottom-margin-xlrg gradient1">   

    <div class="row">
        <div class="small-12 medium-12 large-5 columns">
           
                <img src="{{about.featured-image}}">
          
        </div>

        <div class="small-12 medium-12 large-7 columns pad-all-lrg">
            <h4 class="about-title">{{about.title}}</h4>
            <p>
                {{about.content}}
            </p>
            <p>
                {{about.content2}}
            </p>
        </div>
    </div>
</section>
  