.column-portfolio-component {

    .portfolio-title {
        color: $branding-font-color-1;
        font-size: rem-calc(30px);
        font-weight: $font-weight-bold;
        font-family: $font-bold;
    }

    .button {
        svg {
            g {
                fill: $branding-solid-color-button-text2;
            }
        }
        :hover,
        :focus {
            svg {
                g {
                    fill: $branding-solid-color-button-text2;
                }
            }
        }

    }

    
    &.portfolio-gradient1 {
        
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#478bbd+0,ffffff+99&0.2+0,0+99 */
        background: -moz-linear-gradient(top, rgba(71,139,189,0.2) 0%, rgba(255,255,255,0) 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33478bbd', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
        background-size: cover;

    }

    &.portfolio-gradient2 {
        
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#478bbd+0,ffffff+99&0.2+0,0+99 */
        background: -moz-linear-gradient(top, rgba(71,139,189,0.2) 0%, rgba(255,255,255,0) 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33478bbd', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
        background-size: cover;

    }

    &.portfolio-gradient3 {
        
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#478bbd+0,ffffff+99&0.2+0,0+99 */
        background: -moz-linear-gradient(top, rgba(71,139,189,0.2) 0%, rgba(255,255,255,0) 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(71,139,189,0.2) 0%,rgba(255,255,255,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33478bbd', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
        background-size: cover;

    }

    &.portfolio-background {
        background-color: $branding-color-white;

        color: $branding-font-color-3;
        font-size: rem-calc(16px);
        font-family: $font-regular;
        font-weight: $font-weight-bold;

        margin-bottom: 1%;

        .portfolio-title {
            color: $branding-font-color-1;
            font-size: rem-calc(26px);
            font-weight: $font-weight-bold;
            font-family: $font-bold;
        }
        
        .portfolio-content {
            padding: 0%;
            padding-left: 7%;
            padding-right: 7%;
            padding-bottom: 0%;

            strong {
                font-weight: $font-weight-extra-bold;
                font-family: $font-extra-bold;
            }
        }
    }


    &.portfolio-background-image-1 {
        //background-color: $branding-color-white;

        color: $branding-font-color-3;
        font-size: rem-calc(16px);
        font-family: $font-regular;
        font-weight: $font-weight-bold;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff0b7+0,f4f2eb+37 */
        background: rgb(255,240,183); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,240,183,1) 0%, rgba(244,242,235,1) 37%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,240,183,1) 0%,rgba(244,242,235,1) 37%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,240,183,1) 0%,rgba(244,242,235,1) 37%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff0b7', endColorstr='#f4f2eb',GradientType=0 ); /* IE6-9 */
        
        //height: 1280px;
        

        .portfolio-border-top {

            //background-color: $branding-color-white;
            background-image: url('../img/svg/section-1-top-border.svg'); 
            background-size: cover; background-repeat: no-repeat;
            background-position:-1px -1px;

            margin: 0;
            padding: 0;
    
            height: 120px;

            span {
                display: none;
            }

        }
    
        .portfolio-border-bottom {

            //background-color: $branding-color-white;
            background-image: url('../img/svg/section-1-bottom-border.svg'); 
            background-size: cover; background-repeat: no-repeat;
    
            height: 120px;

            span {
                display: none;
            }
            
        }

        .portfolio-content {
            padding: 1%;
            padding-left: 7%;
            padding-right: 7%;
            padding-bottom: 2%;

            strong {
                font-weight: $font-weight-extra-bold;
                font-family: $font-extra-bold;
            }
        }
    }

    &.portfolio-background-image-2 {
        //background-color: $branding-color-white;

        color: $branding-font-color-3;
        font-size: rem-calc(16px);
        font-family: $font-regular;
        font-weight: $font-weight-bold;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff6ca+0,fffdf4+37 */
        background: #fff6ca; /* Old browsers */
        background: -moz-linear-gradient(top, #fff6ca 0%, #fffdf4 37%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #fff6ca 0%,#fffdf4 37%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #fff6ca 0%,#fffdf4 37%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff6ca', endColorstr='#fffdf4',GradientType=0 ); /* IE6-9 */

        //height: 790px;
        margin-bottom: 2%;

        .portfolio-border-top {

            //background-color: $branding-color-white;
            background-image: url('../img/svg/section-2-top-border.svg'); 
            background-size: cover; background-repeat: no-repeat;
            background-position:-5px -5px;

            margin: 0;
            padding: 0;
    
            height: 115px;

            span {
                display: none;
            }

        }
    
        .portfolio-border-bottom {

            //background-color: $branding-color-white;
            background-image: url('../img/svg/section-2-bottom-border.svg'); 
            background-size: cover; background-repeat: no-repeat;
    
            height: 115px;

            span {
                display: none;
            }
            
        }


        .portfolio-content {
            padding: 2%;
            padding-left: 7%;
            padding-right: 7%;
            padding-bottom: 2%;

            strong {
                font-weight: $font-weight-extra-bold;
                font-family: $font-extra-bold;
            }
        }
    }

    &.portfolio-background-image-3 {
        //background-color: $branding-color-white;

        color: $branding-color-white;
        font-size: rem-calc(16px);
        font-family: $font-regular;
        font-weight: $font-weight-bold;


        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#03366c+0,0776b7+37 */
        background: #03366c; /* Old browsers */
        background: -moz-linear-gradient(top, #03366c 0%, #0776b7 37%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #03366c 0%,#0776b7 37%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #03366c 0%,#0776b7 37%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03366c', endColorstr='#0776b7',GradientType=0 ); /* IE6-9 */

        //height: 860px;

        margin-top: 2%;

        .portfolio-border-top {

            //background-color: $branding-color-white;
            background-image: url('../img/svg/section-3-top-border.svg'); 
            background-size: cover; background-repeat: no-repeat;
            background-position:-10px -10px;

            margin: 0;
            padding: 0;
    
            height: 115px;

            span {
                display: none;
            }

        }
    
        .portfolio-border-bottom {

            //background-color: $branding-color-white;
            background-image: url('../img/svg/section-3-bottom-border.svg'); 
            background-size: cover; background-repeat: no-repeat;
    
            height: 115px;

            span {
                display: none;
            }
            
        }


        .portfolio-title {
            color: $branding-font-color-4;
            font-size: rem-calc(26px);
            font-weight: $font-weight-bold;
            font-family: $font-bold;
        }

        .portfolio-content {
            padding: 0%;
            padding-left: 7%;
            padding-right: 7%;
            padding-bottom: 3%;

            strong {
                font-weight: $font-weight-extra-bold;
                font-family: $font-extra-bold;
            }
        }
    }

}