.header-inside {
  
  padding-top: 5%;
  padding-left: 4%;
  padding-right: 0%;
  padding-bottom: 10px;
  font-size: 16px;
  width: 100%;
  min-height: 350px;
  height: 350px;
  text-align: center;
  color: #fff;
  z-index: 50;

  .sticky {

    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 100;
    //border: 1px solid #000000;
    //color: #000000;

    #hide {
      display:none;
    }

  }

  //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
  background-image: url('../img/svg/global-header-normal.svg'); 
  background-size: cover; background-repeat: no-repeat;
  
  p {
    font-size: rem-calc(18px);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }
  
  .content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
  }

  .header-content {
    font-size: rem-calc(18px);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

  .container {
    width: 100%;

    p {
        width: 100%;
      
    }

  }

  img {
    width: 100%;
  }

  .content-container {

    overflow: hidden;
    height: 220px;
    margin-top: 15%;
    z-index: 100;

  }

  h1{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    width: 100%;
    text-align: center;
    color: $branding-color-8;
  }

  a{
    //color: #fff;
  }
  a:hover,
  a:focus {
    //color: #fff;
    text-decoration: underline;
  }
}

/* ----- Max Header width on normal xlarge SCSS is 1585px ---- */

@media (min-width: 640px) { // X-Large Up
  
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 350px;
    height: 350px;

    .medium-8 {
      -webkit-flex: 0 0 96.66667%;
      -ms-flex: 0 0 96.66667%;
      flex: 0 0 96.66667%;
      max-width: 96.66667%;
    }

    .medium-4 {
      -webkit-flex: 0 0 0%;
      -ms-flex: 0 0 0%;
      flex: 0 0 0%;
      max-width:0%;
    }

    p {
      font-size: rem-calc(15px);
      line-height: 1.4;
      text-rendering: optimizeLegibility;
    }

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 220px;
      margin-top: 12%;
      z-index: 100;
  
    }
 
  }
  
}

@media (min-width: 650px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 350px;
    height: 350px;

    .medium-8 {
      -webkit-flex: 0 0 96.66667%;
      -ms-flex: 0 0 96.66667%;
      flex: 0 0 96.66667%;
      max-width: 96.66667%;
    }

    .medium-4 {
      -webkit-flex: 0 0 0%;
      -ms-flex: 0 0 0%;
      flex: 0 0 0%;
      max-width:0%;
    }

    p {
      font-size: rem-calc(15px);
      line-height: 1.4;
      text-rendering: optimizeLegibility;
    }

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 220px;
      margin-top: 12%;
      z-index: 100;
  
    }
 
  }
  
}

@media (min-width: 660px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 350px;
    height: 350px;

    .medium-8 {
      -webkit-flex: 0 0 96.66667%;
      -ms-flex: 0 0 96.66667%;
      flex: 0 0 96.66667%;
      max-width: 96.66667%;
    }

    .medium-4 {
      -webkit-flex: 0 0 0%;
      -ms-flex: 0 0 0%;
      flex: 0 0 0%;
      max-width:0%;
    }

    p {
      font-size: rem-calc(15px);
      line-height: 1.4;
      text-rendering: optimizeLegibility;
    }

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 220px;
      margin-top: 12%;
      z-index: 100;
  
    }
 
  }
  
}

@media (min-width: 670px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 350px;
    height: 350px;

    .medium-8 {
      -webkit-flex: 0 0 96.66667%;
      -ms-flex: 0 0 96.66667%;
      flex: 0 0 96.66667%;
      max-width: 96.66667%;
    }

    .medium-4 {
      -webkit-flex: 0 0 0%;
      -ms-flex: 0 0 0%;
      flex: 0 0 0%;
      max-width:0%;
    }

    p {
      font-size: rem-calc(15px);
      line-height: 1.4;
      text-rendering: optimizeLegibility;
    }

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 220px;
      margin-top: 12%;
      z-index: 100;
  
    }
 
  }
  
}


@media (min-width: 700px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 350px;
    height: 350px;

    .medium-8 {
      -webkit-flex: 0 0 96.66667%;
      -ms-flex: 0 0 96.66667%;
      flex: 0 0 96.66667%;
      max-width: 96.66667%;
    }

    .medium-4 {
      -webkit-flex: 0 0 0%;
      -ms-flex: 0 0 0%;
      flex: 0 0 0%;
      max-width:0%;
    }

    p {
      font-size: rem-calc(15px);
      line-height: 1.4;
      text-rendering: optimizeLegibility;
    }

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 220px;
      margin-top: 12%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 720px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 350px;
    height: 350px;

    .medium-8 {
      -webkit-flex: 0 0 96.66667%;
      -ms-flex: 0 0 96.66667%;
      flex: 0 0 96.66667%;
      max-width: 96.66667%;
    }

    .medium-4 {
      -webkit-flex: 0 0 0%;
      -ms-flex: 0 0 0%;
      flex: 0 0 0%;
      max-width:0%;
    }

    p {
      font-size: rem-calc(15px);
      line-height: 1.4;
      text-rendering: optimizeLegibility;
    }

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 200px;
      margin-top: 12%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 760px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 170px;
        margin-top: 12%;
        z-index: 100;
    
      }
  
    .header-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }

  }
}


@media (min-width: 770px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 170px;
        margin-top: 10%;
        z-index: 100;
    
      }
  
    .header-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

    }

  }
}


@media (min-width: 780px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 170px;
        margin-top: 10%;
        z-index: 100;
    
      }
  
    .header-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

    }

  }
}

@media (min-width: 800px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 170px;
        margin-top: 9%;
        z-index: 100;
    
      }
  
    .header-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

    }

  }
}


@media (min-width: 820px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 200px;
        margin-top: 8%;
        z-index: 100;
    
      }
  
    .header-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

    }

  }
}


@media (min-width: 850px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 200px;
        margin-top: 10%;
        z-index: 100;
    
      }
  
    .header-content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;

    }

  }
}


@media (min-width: 870px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 220px;
        margin-top: 9%;
        z-index: 100;
    
      }

  }
}

@media (min-width: 890px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 220px;
        margin-top: 9%;
        z-index: 100;
    
      }

  }
}

@media (min-width: 900px) { // 1620 Highest Banner Resolution supported
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 220px;
        margin-top: 9%;
        z-index: 100;
    
      }

  }
}

@media (min-width: 940px) { // 1620 Highest Banner Resolution supported
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 220px;
        margin-top: 8%;
        z-index: 100;
    
      }
  }
}

@media (min-width: 960px) { // 1620 Highest Banner Resolution supported
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 220px;
        margin-top: 8%;
        z-index: 100;
    
      }
  }
}

@media (min-width: 1000px) { // 1620 Highest Banner Resolution supported
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 220px;
        margin-top: 8%;
        z-index: 100;
    
      }
  }
}

@media (min-width: 1050px) { // 1620 Highest Banner Resolution supported
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 215px;
        margin-top: 8%;
        z-index: 100;
    
      }
  }
  
}

@media (min-width: 1060px) { // 1620 Highest Banner Resolution supported
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 330px;
    height: 330px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 220px;
        margin-top: 8%;
        z-index: 100;
    
      }
  }
  
}