.header-inside {
  padding-top: 5%;
  padding-left: 4%;
  padding-right: 0%;
  padding-bottom: 10px;
  font-size: 16px;
  width: 100%;
  min-height: 420px;
  height: 420px;
  text-align: center;
  color: #fff;
  z-index: 50;
  //margin-top: -8%;

  .sticky {

    position: fixed;
    top: 0;
    width: 100%;
    height: 135px;
    z-index: 100;
    //border: 1px solid #000000;
    //color: #000000;

    #hide {
      display:none;
    }

  }


  p {
    font-size: rem-calc(18px);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }
  
  .content {
      font-size: rem-calc(18px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
  }

  .header-content {
    font-size: rem-calc(18px);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}


  .header-container {
    width: 100%;

    p {

        width: 100%;
    }

  }

  img {
    width: 100%;
  }

  .content-container {

    overflow: hidden;
    height: 450px;
    margin-top: 15%;
    z-index: 100;

  }


  h1{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    width: 100%;
    text-align: center;
    color: $branding-color-8;
  }

  a{
    //color: #fff;
  }
  a:hover,
  a:focus {
    //color: #fff;
    text-decoration: underline;
  }
}

/* ----- Max Header width on normal xlarge SCSS is 1585px ---- */

@media (min-width: 1070px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 350px;
    height: 350px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 220px;
        margin-top: 8%;
        z-index: 100;
    
      }
  }
}

@media (min-width: 1140px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 380px;
    height: 380px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 220px;
        margin-top: 8%;
        z-index: 100;
    
      }
  }
}

@media (min-width: 1200px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 380px;
    height: 380px;

    background-image: url('../img/svg/global-header-small-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    @keyframes InsideHeaderSmallFadeInOut {
      0% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
      50% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      70% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-highlight.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }

      100% {
        opacity: 1;
        background-image: url('../img/svg/global-header-small-normal.svg'); 
        background-size: cover; background-repeat: no-repeat;
      }
    }
      
      animation-name: InsideHeaderSmallFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;

      .content-container {

        overflow: hidden;
        height: 220px;
        margin-top: 5%;
        z-index: 100;
    
      }
  }
}