.header-inside {
  padding-top: 30%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 40px;
  font-size: 15px;
  width: 100%;
  min-height: 370px;
  height: 370px;
  text-align: center;
  color: #fff;
  z-index: 50;

  a {
    text-align: center;
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
      text-align: center;
      color: #fff;
      text-decoration: none;
    }
  }

  .sticky {

    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    //border: 1px solid #000000;
    //color: #000000;

    #hide {
      display:none;
    }

  }
  
  .button {

    &.hollow {

      &.theme-white {

        margin-right: 10px;

        svg {
          g {
              fill: $branding-color-white;
              //fill: $branding-solid-color-button-text2;
          }
        }

      } 

    }

    &:hover,
    &:focus {

      &.hollow {

        &.theme-white {
  
          margin-right: 10px;
  
          svg {
            g {
                //fill: $branding-color-white;
                fill: $branding-solid-color-button-text2;
            }
          }
  
        } 
  
      }

    }

  }

  background-image: url('../img/svg/mf-vector-logo-bg.svg'); 
  background-size: cover; background-repeat: no-repeat;
  
  p {
    font-size: rem-calc(15px);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }
  
  .content {
      font-size: rem-calc(15px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
  }

  .header-content {
    font-size: rem-calc(15px);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

  .container {
    width: 100%;

    p {
        width: 100%;
      
    }

  }

  img {
    width: 100%;
  }

  .content-container {

    overflow: hidden;
    height: 255px;
    margin-top: 10%;
    z-index: 100;

  }

  h1{
    font-size: 25px;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    width: 100%;
    text-align: center;
    color: $branding-color-8;
  }

  a{
    //color: #fff;
  }
  a:hover,
  a:focus {
    //color: #fff;
    text-decoration: underline;
  }
}

/* ----- Max Header width on normal xlarge SCSS is 1585px ---- */

@media (min-width: 240px) { // X-Large Up
  .header-inside {

    padding-top: 20%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 480px;
    height: 480px;

    background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    //background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 280px;
      margin-top: 19%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 340px) { // X-Large Up
  .header-inside {

    padding-top: 20%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 430px;
    height: 430px;

    background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    //background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 280px;
      margin-top: 18%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 360px) { // X-Large Up
  .header-inside {

    padding-top: 20%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 430px;
    height: 430px;

    background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    //background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 280px;
      margin-top: 18%;
      z-index: 100;
  
    }
 
  }
}


@media (min-width: 370px) { // X-Large Up
  .header-inside {

    padding-top: 20%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 450px;
    height: 450px;

    background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    //background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 280px;
      margin-top: 18%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 397px) { // X-Large Up
  .header-inside {

    padding-top: 20%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 400px;
    height: 400px;

    background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    //background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 280px;
      margin-top: 14%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 410px) { // X-Large Up
  .header-inside {

    padding-top: 21%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 420px;
    height: 420px;

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 210px;
      margin-top: 14%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 440px) { // X-Large Up
  .header-inside {

    padding-top: 21%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 420px;
    height: 420px;

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 210px;
      margin-top: 12%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 460px) { // X-Large Up
  .header-inside {

    padding-top: 19%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 400px;
    height: 400px;

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 210px;
      margin-top: 10%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 480px) { // X-Large Up
  .header-inside {

    padding-top: 12%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 400px;
    height: 400px;

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 240px;
      margin-top: 15%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 500px) { // X-Large Up
  .header-inside {

    padding-top: 12%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 390px;
    height: 390px;

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 240px;
      margin-top: 17%;
      z-index: 100;
  
    }
 
  }
}


@media (min-width: 520px) { // X-Large Up
  .header-inside {

    padding-top: 7%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 350px;
    height: 350px;

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 220px;
      margin-top: 17%;
      z-index: 100;
  
    }
 
  }
}


@media (min-width: 540px) { // X-Large Up
  .header-inside {

    padding-top: 7%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 350px;
    height: 350px;

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 220px;
      margin-top: 15%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 550px) { // X-Large Up
  .header-inside {

    padding-top: 7%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 350px;
    height: 350px;

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 220px;
      margin-top: 15%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 560px) { // X-Large Up
  .header-inside {

    padding-top: 7%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 350px;
    height: 350px;

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 220px;
      margin-top: 15%;
      z-index: 100;
  
    }
 
  }
}

@media (min-width: 580px) { // X-Large Up
  .header-inside {

    padding-top: 5%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 350px;
    height: 350px;

    //background-image: url('../img/svg/mf-vector-logo-bg-mobile.svg');
    background-image: url('../img/svg/global-header-normal.svg'); 
    background-size: cover; background-repeat: no-repeat;

    .content-container {

      overflow: hidden;
      height: 220px;
      margin-top: 17%;
      z-index: 100;
  
    }
 
  }
}