.header-inside{
  padding-top: 5%;
  padding-left: 4%;
  padding-right: 0%;
  padding-bottom: 10px;
  font-size: 16px;
  width: 100%;
  min-height: 410px;
  height: 410px;
  text-align: center;
  color: #fff;
  z-index: 50;
  //margin-top: -8%;

  .sticky {

    position: fixed;
    top: 0;
    width: 100%;
    height: 135px;
    z-index: 100;

    #hide {
      display:none;
    }

  }

  
  
  p {
    font-size: rem-calc(20px);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }
  
  .content {
      font-size: rem-calc(20px);
      line-height: 1.6;
      text-rendering: optimizeLegibility;
  }

  .header-content {
    font-size: rem-calc(20px);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}


  .header-container {
    width: 100%;

    p {

        width: 100%;
    }

  }

  img {
    width: 100%;
  }

  .content-container {

    overflow: hidden;
    height: 220px;
    margin-top: 8%;
    z-index: 100;

  }


  h1{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    width: 100%;
    text-align: center;
    color: $branding-color-8;
  }

  a{
    //color: #fff;
  }
  a:hover,
  a:focus {
    //color: #fff;
    text-decoration: underline;
  }
}

/* ----- Max Header width on normal xlarge SCSS is 1585px ---- */

@media (min-width: 1250px) { // X-Large Up
  .header-inside {
    min-height: 400px;
    height: 400px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 140px;
      z-index: 100;

      #hide {
        display:none;
      }
  
    }

    .content-container {

      overflow: hidden;
      height: 220px;
      margin-top: 9%;
      z-index: 100;
  
    }

  }
}

@media (min-width: 1270px) { // X-Large Up
  .header-inside {
    min-height: 410px;
    height: 410px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 145px;
      z-index: 100;

      #hide {
        display:none;
      }
  
    }

    .content-container {

      overflow: hidden;
      height: 220px;
      margin-top: 9%;
      z-index: 100;
  
    }

  }
}

@media (min-width: 1280px) { // X-Large Up
  .header-inside {
    min-height: 420px;
    height: 420px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 145px;
      z-index: 100;

      #hide {
        display:none;
      }
  
    }

    .content-container {

      overflow: hidden;
      height: 220px;
      margin-top: 9%;
      z-index: 100;
  
    }

  }
}

@media (min-width: 1300px) { // X-Large Up
  .header-inside {
    min-height: 420px;
    height: 420px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 150px;
      z-index: 100;

      #hide {
        display:none;
      }
  
    }
  
    .content-container {
  
      overflow: hidden;
      height: 225px;
      margin-top: 8%;
      z-index: 100;
  
    }
  }
}

@media (min-width: 1350px) { // X-Large Up
  .header-inside {
    min-height: 430px;
    height: 430px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 155px;
      z-index: 100;

      #hide {
        display:none;
      }
  
    }
  
    .content-container {
  
      overflow: hidden;
      height: 215px;
      margin-top: 9%;
      z-index: 100;
  
    }
  }
}

@media (min-width: 1370px) { // X-Large Up
  .header-inside {
    min-height: 440px;
    height: 440px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 160px;
      z-index: 100;

      #hide {
        display:none;
      }
  
    }
  
    .content-container {
  
      overflow: hidden;
      height: 210px;
      margin-top: 9%;
      z-index: 100;
  
    }
  }
}

@media (min-width: 1400px) { // X-Large Up
  .header-inside {
    min-height: 450px;
    height: 450px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 160px;
      z-index: 100;

      #hide {
        display:none;
      }
  
    }
  
    .content-container {
  
      overflow: hidden;
      height: 210px;
      margin-top: 9%;
      z-index: 100;
  
    }
  }
}


@media (min-width: 1440px) { // X-Large Up
  .header-inside {
    min-height: 455px;
    height: 455px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 160px;
      z-index: 100;

      #hide {
        display:none;
      }
  
    }
  
    .content-container {
  
      overflow: hidden;
      height: 210px;
      margin-top: 9%;
      z-index: 100;
  
    }
  }
}

@media (min-width: 1460px) { // X-Large Up
.header-inside {
  min-height: 485px;
  height: 485px;
}
}

@media (min-width: 1480px) { // X-Large Up
  .header-inside {
    min-height: 495px;
    height: 495px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 160px;
      z-index: 100;

      #hide {
        display:none;
      }

    }
  }
}

@media (min-width: 1500px) { // X-Large Up
  .header-inside {
    min-height: 500px;
    height: 500px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 165px;
      z-index: 100;

      #hide {
        display:none;
      }

    }
  }
}

@media (min-width: 1530px) { // X-Large Up
  .header-inside {
    min-height: 510px;
    height: 510px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 170px;
      z-index: 100;

      #hide {
        display:none;
      }

    }

    .content-container {
    
      overflow: hidden;
      height: 210px;
      margin-top: 9%;
      z-index: 100;

    }
  }
}

@media (min-width: 1580px) { // X-Large Up
  .header-inside {
    min-height: 514px;
    height: 514px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 175px;
      z-index: 100;

      #hide {
        display:none;
      }

    }
  }
}

@media (min-width: 1620px) { // X-Large Up
.header-inside {
  min-height: 550px;
  height: 550px;

  .sticky {

    position: fixed;
    top: 0;
    width: 100%;
    height: 175px;
    z-index: 100;

    #hide {
      display:none;
    }

  }
}
}

@media (min-width: 1680px) { // 18000 Highest Banner Resolution supported
  .header-inside {
    min-height: 580px;
    height: 580px;

    .sticky {

      position: fixed;
      top: 0;
      width: 100%;
      height: 180px;
      z-index: 100;

      #hide {
        display:none;
      }

    }
  }
}
