<section class="press-component top-margin-xlrg bottom-margin-xlrg">   
    
    <div class="row">
        <div class="small-12 medium-7 large-8 columns">
            <h4 class="press-title">Latest Press</h4>
            <ul>
                {{#each press-links}}
                <li>
                    <a href="{{link}}">
                        <h2>{{article-date}}</h2>
                        {{article-title}}
                    </a>
                </li>
                {{/each}}
            </ul>
            <!--<a class="button" href="#">EXPLORE NOW</a>-->
        </div>
        <div class="small-12 medium-5 large-4 columns">
            <div class="content-box box-shadow-normal center">
                <h4 class="press-title">{{press-media.title}}</h4>
                <p>
                    {{press-media.content}}<a href="{{press-media.content-link}}">{{press-media.content-link-title}}</a>
                </p>         
            </div>
        </div>
    </div>
</section>
  