

@media (min-width: 280px) {

      #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 5.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 5.5rem;
          }
    }
}

@media (min-width: 300px) {

      #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 5.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 5.5rem;
          }
    }
}

@media (min-width: 340px) {

    #portfolio-component2 {

      .left-pad-xxlrg {
          padding-left: 5.5rem;
        }
        
        .right-pad-xxlrg {
          padding-right: 5.5rem;
        }
  }
}

@media (min-width: 360px) {

  #portfolio-component2 {

    .left-pad-xxlrg {
        padding-left: 5.5rem;
      }
      
      .right-pad-xxlrg {
        padding-right: 5.5rem;
      }
}
}

@media (min-width: 360px) {

  #portfolio-component2 {

    .left-pad-xxlrg {
        padding-left: 6.5rem;
      }
      
      .right-pad-xxlrg {
        padding-right: 6.5rem;
      }
}
}

@media (min-width: 380px) {

  #portfolio-component2 {

    .left-pad-xxlrg {
        padding-left: 6.5rem;
      }
      
      .right-pad-xxlrg {
        padding-right: 6.5rem;
      }
}
}

@media (min-width: 400px) {

  #portfolio-component2 {

    .left-pad-xxlrg {
        padding-left: 7.5rem;
      }
      
      .right-pad-xxlrg {
        padding-right: 7.5rem;
      }
  }

}

@media (min-width: 410px) {

  #portfolio-component2 {

    .left-pad-xxlrg {
        padding-left: 7.5rem;
      }
      
      .right-pad-xxlrg {
        padding-right: 7.5rem;
      }
  }

}


@media (min-width: 420px) {
    
  #portfolio-component2 {

      .left-pad-xxlrg {
          padding-left: 8.5rem;
        }
        
        .right-pad-xxlrg {
          padding-right: 8.5rem;
        }
    }

}

@media (min-width: 460px) {

  #portfolio-component2 {

    .left-pad-xxlrg {
        padding-left: 8.5rem;
      }
      
      .right-pad-xxlrg {
        padding-right: 8.5rem;
      }
  }

}

@media (min-width: 470px) {

  #portfolio-component2 {

    .left-pad-xxlrg {
        padding-left: 9.5rem;
      }
      
      .right-pad-xxlrg {
        padding-right: 9.5rem;
      }
  }

}

@media (min-width: 480px) {

  #portfolio-component2 {

    .left-pad-xxlrg {
        padding-left: 9.5rem;
      }
      
      .right-pad-xxlrg {
        padding-right: 9.5rem;
      }
  }

}

@media (min-width: 490px) {

  #portfolio-component2 {

    .left-pad-xxlrg {
        padding-left: 10.5rem;
      }
      
      .right-pad-xxlrg {
        padding-right: 10.5rem;
      }
  }

}

@media (min-width: 495px) {

  #portfolio-component2 {

    .left-pad-xxlrg {
        padding-left: 11.5rem;
      }
      
      .right-pad-xxlrg {
        padding-right: 11.5rem;
      }
  }

}



@media (min-width: 500px) {

  #portfolio-component2 {

      .left-pad-xxlrg {
          padding-left: 9.5rem;
        }
        
        .right-pad-xxlrg {
          padding-right: 9.5rem;
        }
    }
}

@media (min-width: 520px) {

    #portfolio-component2 {

      .left-pad-xxlrg {
          padding-left: 10.5rem;
        }
        
        .right-pad-xxlrg {
          padding-right: 10.5rem;
        }
  }

}

@media (min-width: 540px) {

    #portfolio-component2 {

      .left-pad-xxlrg {
          padding-left: 11.5rem;
        }
        
        .right-pad-xxlrg {
          padding-right: 11.5rem;
        }
  }

}

@media (min-width: 560px) {

  #portfolio-component2 {

      .left-pad-xxlrg {
          padding-left: 11.5rem;
        }
        
        .right-pad-xxlrg {
          padding-right: 11.5rem;
        }
  }

}

@media (min-width: 580px) {

  #portfolio-component2 {

    .left-pad-xxlrg {
        padding-left: 12.5rem;
      }
      
      .right-pad-xxlrg {
        padding-right: 12.5rem;
      }
  }

}


@media (min-width: 590px) {

  #portfolio-component2 {

    .left-pad-xxlrg {
        padding-left: 13.5rem;
      }
      
      .right-pad-xxlrg {
        padding-right: 13.5rem;
      }
  }

}


@media (min-width: 600px) {

  #portfolio-component2 {

    .left-pad-xxlrg {
        padding-left: 13.5rem;
      }
      
      .right-pad-xxlrg {
        padding-right: 13.5rem;
      }
}

}

@media (min-width: 620px) {

  #portfolio-component2 {

      .left-pad-xxlrg {
          padding-left: 13.5rem;
        }
        
        .right-pad-xxlrg {
          padding-right: 13.5rem;
        }
  }

}


//389 to 639 width