
@media (min-width: 1050px) {

    #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 7.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 7.5rem;
          }
    }

}

@media (min-width: 1060px) {

    #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 6.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 6.5rem;
          }
    }

}

@media (min-width: 1100px) {

    #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 7.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 7.5rem;
          }
    }

}