

@media (min-width: 630px) {

    #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 8.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 8.5rem;
          }
    }

}

@media (min-width: 640px) {

    #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 5.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 5.5rem;
          }
    }

}

@media (min-width: 650px) {

    #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 5.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 5.5rem;
          }
    }

}

@media (min-width: 680px) {

    #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 5.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 5.5rem;
          }
    }

}

@media (min-width: 690px) {

    #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 6.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 6.5rem;
          }
    }

}

@media (min-width: 800px) {

    #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 6.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 6.5rem;
          }
    }

}

@media (min-width: 850px) {

    #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 7.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 7.5rem;
          }
    }

}

@media (min-width: 900px) {

    #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 8.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 8.5rem;
          }
    }

}


@media (min-width: 950px) {

    #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 8.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 8.5rem;
          }
    }

}

@media (min-width: 980px) {

    #portfolio-component2 {

        .left-pad-xxlrg {
            padding-left: 10.5rem;
          }
          
          .right-pad-xxlrg {
            padding-right: 10.5rem;
          }
    }

}