.fullscreen-image-slider {

    //height: 400px;
    height: 580px;
    color: inherit;
    line-height: 1.2;
    font-weight: inherit;

    h1 {
      font-size: rem-calc(35px);
      font-family: $font-semi-bold;
      font-weight: $font-weight-bold;
      line-height: 1.2;
    }

    h2 {
      font-size: rem-calc(23px);
      line-height: 1.2;
    }

    h3 {
      font-size: rem-calc(18px);
    }


    //clear: both;

      .orbit-image {
        width: 100%;
        //height: 400px;
        height: auto;
      }

      .orbit-slide {
        width: 100%;
        //height: 400px;
        height: 580px;
        overflow: hidden;
      }

      .orbit-caption {
        top: 15%;

        background: none;
        text-align: left;
        color: $color-default-text;
        //font-weight: bold;
        padding-left: 12%;
        padding-right: 50%;
      }

      .orbit-caption .button {
        margin-top: 30px;
        //margin-bottom: 15px;
      }

      .orbit-previous,
      .orbit-next {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 10;
        padding: 1rem;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        color: #fefefe;
      }

      .orbit-previous,
      .orbit-next {
        background: none;
        cursor: pointer;
        opacity: 0.25;
      }

      .orbit-previous:hover,
      .orbit-next:hover,
      .orbit-previous:active,
      .orbit-next:active,
      .orbit-previous:focus,
      .orbit-next:focus {
        background: none;
        cursor: pointer;
        opacity: 1;
      }

      &.page {

        height: 245px;

        button {
          display: none;
        }

        .orbit-slide {
          width: 100%;
          height: 245px;
          overflow: hidden;
        }

        .breach {
          border: 1px solid #fff;

        }

        figcaption.orbit-caption.white,
        .orbit-caption.white {
            color: #ffffff;

            line-height: 1.3;
            font-weight: inherit;
            text-align: left;

            h1 {
              font-size: rem-calc(30px);
              font-family: $font-bold;
              font-weight: $font-weight-bold;
            }

            h2 {
              font-size: rem-calc(18px);
            }

            h3 {
              font-size: rem-calc(16px);
            }
        }

      }

    &.landingpage {

      height: 468px;
      color: inherit;
      line-height: 1.2;
      font-weight: inherit;
      
      h1 {
        font-size: rem-calc(35px);
        font-family: $font-semi-bold;
        font-weight: $font-weight-bold;
        line-height: 1.2;
      }
  
      h2 {
        font-size: rem-calc(23px);
        line-height: 1.2;
      }
  
      h3 {
        font-size: rem-calc(18px);
      }
  
  
      //clear: both;
  
        .orbit-image {
          width: 100%;
          //height: 400px;
          height: auto;
        }
  
        .orbit-slide {
          width: 100%;
          height: 468px;
          overflow: hidden;
        }
  
        .orbit-caption {
          top: 15%;
  
          background: none;
          text-align: left;
          color: $color-default-text;
          //font-weight: bold;
          padding-left: 12%;
          padding-right: 50%;
        }
  
        .orbit-caption .button {
          margin-top: 30px;
          //margin-bottom: 15px;
        }
  
        .orbit-previous,
        .orbit-next {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          z-index: 10;
          padding: 1rem;
          padding-top: 5%;
          padding-left: 10%;
          padding-right: 10%;
          padding-bottom: 5%;
          color: #fefefe;
        }
  
        .orbit-previous,
        .orbit-next {
          background: none;
          cursor: pointer;
          opacity: 0.25;
        }
  
        .orbit-previous:hover,
        .orbit-next:hover,
        .orbit-previous:active,
        .orbit-next:active,
        .orbit-previous:focus,
        .orbit-next:focus {
          background: none;
          cursor: pointer;
          opacity: 1;
        }
  
        &.page {
  
          height: 245px;
  
          button {
            display: none;
          }
  
          .orbit-slide {
            width: 100%;
            height: 245px;
            overflow: hidden;
          }
  
          .breach {
            border: 1px solid #fff;
  
          }
  
          figcaption.orbit-caption.white,
          .orbit-caption.white {
              color: #ffffff;
  
              line-height: 1.3;
              font-weight: inherit;
              text-align: left;
  
              h1 {
                font-size: rem-calc(30px);
                font-family: $font-bold;
                font-weight: $font-weight-bold;
              }
  
              h2 {
                font-size: rem-calc(18px);
              }
  
              h3 {
                font-size: rem-calc(16px);
              }
          }
  
        }
    }


  }
