<section id="resource-center" class="top-margin-xlrg bottom-margin-xlrg" aria-label="resources">   
    <div class="about-the-author">
        <div class="row">
            <div class="small-12 medium-12 large-8 columns">
                <div class="image">
                    <img src="/assets/img/resource-center/resource-center-featured-image.jpg" alt="">
                </div>
            </div>
            <div class="small-12 medium-12 large-4 columns">
                <div style="padding: 10px;">
                    <p class="alert-tag-static red show">Breach</p>
                    <h4>How to Keep a Balanced Approach to Data Breach Response</h4>
    
                    <p>There are many technological and policy-related ways to prepare for and respond to a data breach.</p>                           
                    <a href="/resource-center/article-page/">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>          
{{> resource-component }}