<section id="portfolio-component2" class="sectionpad-lrg-top sectionpad-lrg-bottom" aria-label="featured resources">
        <h2 class="portfolio-title {{portfolio-header.font-color}} center">Portfolio</h2>
    
    {{> portfolio-component-nav }}

    <div class="row small-up-1 medium-up-2 large-up-3 sectionpad-lrg-top">

        {{#each portfolio-gallery}}
        <div class="column">
            <div class="card news-card all paintings">
                <div class="image">
                    <img src="{{sm-img-url}}">
                </div>
                <div data-id="{{large-img-url}}" class="shadowbox-btn card-overlay2 {{color-gradient}}">
                    <div class="text">
                        <h2>{{title}}</h2>
                        <p>{{description}}</p>
                    </div>
                </div> 
            </div>
        </div>
        {{/each}}
    </div>

</section>    