<section class="sectionpad-lrg-top sectionpad-lrg-bottom" aria-label="featured resources">
        <div class="small-12 medium-12 columns">
            <div class="row">
                <div class="small-12 medium-12 columns">
           
                    <div class="row small-up-1 medium-up-1 large-up-3">
                        <h4 class="resource-header">Related News</h4>
                        <article class="column">
                            <div class="card news-card news">
                                <div class="image">
                                    <img src="/assets/img/resource-center/article.png"> 
                                </div>
                                <div class="card-section">
                                    <div class="breadcrumbs breadcrumbs--card"><p>NEWS</p><p>DATA BREACHES </p></div>
                                    <div class="date date--card">March 12, 2018</div>
                                    <div class="news-card-article">
                                        <h5 class="news-card-title"><a href="#">Consumer’s Safety Guide to the Online Shopping Season</a></h5>
                                        <p class="news-card-description">Online shopping has become second nature to many consumers, with its convenience and value cementing its place in the holiday…
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </article>
                        <article class="column">
                            <div class="card news-card news"> 
                                <div class="image">
                                    <img src="/assets/img/resource-center/article.png">
                                </div> 
                                <div class="card-section">
                                    <div class="breadcrumbs breadcrumbs--card"><p>NEWS</p><p>DATA BREACHES </p></div>
                                    <div class="date date--card">March 12, 2018</div>
                                    <div class="news-card-article">
                                        <h5 class="news-card-title"><a href="#">Consumer’s Safety Guide to the Online Shopping Season</a></h5>
                                        <p class="news-card-description">Online shopping has become second nature to many consumers, with its convenience and value cementing its place in the holiday…
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </article>
                        <article class="column">
                            <div class="card news-card news"> 
                                <div class="image">
                                    <img src="/assets/img/resource-center/article.png">   
                                </div> 
                                <div class="card-section">
                                    <div class="breadcrumbs breadcrumbs--card"><p>NEWS</p><p>DATA BREACHES </p></div>
                                    <div class="date date--card">March 12, 2018</div>
                                    <div class="news-card-article">
                                        <h5 class="news-card-title"><a href="#">Consumer’s Safety Guide to the Online Shopping Season</a></h5>
                                        <p class="news-card-description">Online shopping has become second nature to many consumers, with its convenience and value cementing its place in the holiday…
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
</section>    