
{{#ifequal portfolio-nav-display.nav-menu 'display'}}
<ul class="mobile-app-filter-menu {{portfolio-nav.[0].font-color}} {{portfolio-nav-display.nav-menu}}" data-mobile-app-filter-menu>

  {{#each portfolio-nav}}
  <li id="{{id}}" class="{{class}}"><a>{{content}}</a></li>
  {{/each}}
</ul>
{{/ifequal}}

  
  