<section id="portfolio-component2" class="sectionpad-lrg-top sectionpad-lrg-bottom" aria-label="featured resources">
        <h2 class="portfolio-title {{portfolio-header.font-color}} center">Portfolio</h2>
    
    {{> portfolio-component-nav }}

    <div class="cards-container row small-up-1 medium-up-2 large-up-3 sectionpad-lrg-top">

        {{#each portfolio-gallery}}
        <div class="column all {{category}}">
            <div class="card news-card">
                <div class="image">
                    <img src="{{sm-img-url}}">
                </div>
                <div data-id="{{large-img-url}}" class="shadowbox-btn card-overlay {{color-gradient}}">
                    <div class="text">
                        <h2>{{title}}</h2>
                        <p>{{description}}</p>
                    </div>
                </div> 
            </div>
        </div>
        {{/each}}
    </div>
    <div class="row">
       <div id="button" class="small-12 columns pad-all-lrg center">
            <button id="portfolio" tabindex="0" href="../portfolio/" class="button">
                VIEW OTHER PORTFOLIO GALLERIES
                <svg width="10px" height="10px" viewBox="0 0 10 10" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
                    <title>arrow-button-left</title>
                    <defs></defs>
                    <g id="branding--homepage3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Desktop-HD" transform="translate(-710.000000, -770.000000)" fill="#FFFFFF">
                            <path d="M719.812901,774.356019 L715.99441,770.21405 C715.730437,769.92865 715.303085,769.92865 715.039787,770.21405 C714.775814,770.506769 714.775814,770.967801 715.039787,771.253202 L717.821965,774.268203 L710.675122,774.268203 C710.30178,774.268203 710,774.597512 710,775 C710,775.402488 710.30178,775.731797 710.675122,775.731797 L717.821965,775.731797 L715.039787,778.746798 C714.775814,779.032199 714.775814,779.500549 715.039787,779.78595 C715.303085,780.07135 715.730437,780.07135 715.99441,779.78595 L719.812901,775.643981 C719.97493,775.46835 720.025564,775.226857 719.988432,775 C720.025564,774.773143 719.97493,774.53165 719.812901,774.356019 L719.812901,774.356019 Z" id="arrow-button-left"></path>
                        </g>
                    </g>
                </svg>
            </button>
        </div>

</section>    