<section id="portfolio-component2" class="sectionpad-lrg-top sectionpad-lrg-bottom" aria-label="featured resources">

    <div class="row small-up-1 medium-up-2 large-up-3 sectionpad-lrg-top">
        {{#each portfolio-gallery}}
        <div class="column">
            <div data-id="{{large-img-url}}" class="shadowbox-btn card news-card all paintings">
                <a href="{{gallery-nav-link}}">
                    <div class="image">
                        <img src="{{sm-img-url}}">
                    </div>
                    <div class="card-overlay2 {{color-gradient}}">
                        <div class="text sectionpad-xlrg">
                            <h2>{{title}}</h2>
                            <p class="left-pad-xxlrg right-pad-xxlrg"><img src="{{icon-img-url}}"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {{/each}}
    </div>

</section>    