.press-component {

    h1,h2,h3,h4 {
        font-size: 15px;
    }
    
    .press-title {
        font-size: 25px;
    }

    p {
        font-size: 15px;
        margin-top: 0;
    }

    ul {
        list-style: none;
        margin-bottom: 10%;
        display: table;
        padding: 0;
        padding-right: 20px;
        margin-top: 0;
        
        li {
            display: inline-block;
            border-bottom: 1px solid #ccc;
            padding: 20px;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }

        a {
            color: #0a0a0a;
        }
    }

    .content-box {
        padding: 20px;
        margin-top: 0;
        display: table;
        margin-bottom: 2em;
        //background: linear-gradient(to bottom, #f2f2f2 0%, rgba(255, 255, 255, 0) 36%);
        //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00ffffff',GradientType=0 );
    }
}