.press-component {
    
    .press-title {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }
    
    .press-text {
        position: relative;
        
        .press-center {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}