<section class="column-portfolio-component portfolio-background-image-2 ">   

    <div class="portfolio-border-top" role="presentation">
        <span role="presentation">Component Header Design</span>
    </div> 

    <div class="row portfolio-content ">
       
        <div class="small-12 medium-5 large-4 columns top-margin-xlrg animation-left">
           
            <img src="{{portfolio-4.img-src}}">
      
        </div>

        <div class="small-12 medium-7 large-8 columns pad-all-lrg animation-right">
            <h4 class="portfolio-title">{{portfolio-4.title}}</h4>
            <p>
                <strong>{{portfolio-4.highlight1}}</strong> {{portfolio-4.content1}}
            </p>
            <p>
                <strong>{{portfolio-4.highlight2}}</strong> {{portfolio-4.content2}}
            </p>
            {{> global-solid-button}}
        
        </div>
        
    </div>

    <div class="portfolio-border-bottom" role="presentation">
        <span role="presentation">Component Footer Design</span>
    </div> 

</section>
  