<section class="column-portfolio-component portfolio-background-image-2ux ">   

        <div class="portfolio-border-top" role="presentation">
                <span role="presentation">Component Header Design</span>
            </div> 
        
            <div class="row portfolio-content ">
               
                <div class="small-12 medium-5 large-4 columns top-margin-xlrg animation-left">
                   
                    <img class="box-shadow-no-border" src="{{portfolio-4.img-src}}">
              
                </div>
        
                <div class="small-12 medium-7 large-8 columns pad-all-lrg animation-right">
                    <h4 class="portfolio-title">Web Design &amp; Custom UI Design and Iconography - Identity Guard Product</h4>
                    <p>
                        <strong>Identity Guard | With Watson</strong> is a powerful early warning system that is always protecting your identity. Its State-of-the-art artificial intelligence capabilities continuously scour billions of data points to discover vulnerabilities and alert you when your identity may be at risk.
                    </p>
                    <p>
                        <strong>UX Design, Development &amp; Marketing Effort:</strong> As a part of the shaping and rebranding of the Identity Guard product, several ux designs, wireframes, prototypes ui designs and branding concepts were created from months of user centered research and testing.
                    </p>

                    <div class="row">
                        <div class="small-12 columns top-margin-xlrg">
                    
                            <img class="box-shadow-no-border" src="../assets/img/portfolio/web-development/intersections/idg-landing-page-concept2-600.jpg">
                        
                        </div>

                        <div class="small-12 columns top-margin-xlrg">
                    
                            <img class="box-shadow-no-border" src="../assets/img/portfolio/web-development/intersections/idg-landing-page-concept3-600.jpg">
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="cards-container row small-up-1 medium-up-2 sectionpad-lrg-top">
                            <div class="column all">
                                <div class="card news-card box-shadow-no-border">
                                    <div class="image">
                                        <img src="../assets/img/portfolio/web-development/intersections/icons/risk_profile_idg_shield.png">
                                    </div>
                                </div>
                            </div>
                            <div class="column all">
                                    <div class="card news-card box-shadow-no-border">
                                        <div class="image">
                                            <img src="../assets/img/portfolio/web-development/intersections/icons/pm_feature_image.png">
                                        </div>
    
                                    </div>
                                </div>
                            <div class="column all">
                                <div class="card news-card box-shadow-no-border">
                                    <div class="image">
                                        <img src="../assets/img/portfolio/web-development/intersections/icons/admin_panel_tablet.png">
                                    </div>
                                </div>
                            </div>
                            <div class="column all">
                                <div class="card news-card box-shadow-no-border">
                                    <div class="image">
                                        <img src="../assets/img/portfolio/web-development/intersections/icons/alerts_idg_shield.png">
                                    </div>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        
            <div class="portfolio-border-bottom" role="presentation">
                <span role="presentation">Component Footer Design</span>
            </div> 
    
    </section>
      