.about-component {

    h1,h2,h3,h4 {
        font-size: 15px;
    }
    
    .about-title {
        font-size: 25px;
    }

    p {
        font-size: 15px;
        margin-top: 0;
    }

    ul {
        list-style: none;
        margin-bottom: 10%;
        display: table;
        padding: 0;
        padding-right: 20px;
        margin-top: 0;
        
        li {
            display: inline-block;
            border-bottom: 1px solid #ccc;
            padding: 20px;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
    }

    .content-box {
        padding: 0.9375rem;;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 0;
        display: table;
        margin-bottom: 2em;
    }
}