.about-component {
    
    .about-title {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }
    
    .about-text {
        position: relative;
        
        .about-center {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .content-box {
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}