<section class="column-portfolio-component portfolio-background ">   

    <div class="row portfolio-content ">
       
        <div class="small-12 medium-7 large-8 columns pad-all-lrg animation-left">
            <h4 class="portfolio-title">Inside the Mind of A Creative Spirit</h4>
            <p>
                A truly great work of art must first have a focal point, center 
                of interest, or dominant shape in which all other elements 
                rally around as supporting cast members.
            </p>
            <p>
                This approach will create an order and harmony similar to 
                that of nature.
            </p>
            <p>
                In my artwork I endeavor to explore the 
                relationship between light, color, spirituality and how it 
                influences our perception of the world around us.
            </p>
            <p>
                I believe the key to my success in life is my connection to 
                our Lord and savior Jesus Christ and GOD our Father. It is 
                the fountain from which flows order, balance, harmony, 
                beauty and love. 
            </p>
            <p>
                <i>“The author and finisher of our Faith” "and we know that in all things God works for the good of those 
                who love him and who have been called according to his 
                purpose."</i> (Hebrews 12:2 and Romans 8:28)
            </p>
            </p>
            <p>
                From whom all things are created. For he sees all things, 
                and he will take care of all things.
            </p>
            <p>       
                <i>"seek ye first the kingdom of God, and his righteousness; 
                and all these things shall be added unto you."</i> (Matthew 
                6:33)
            </p>
            <p>  
                As we view life through the eyes of our Faith, our thoughts, 
                beliefs and ideas filter our perception of the world around us 
                creating deeper and more powerful works of art. 
            </p>
            <p></p>
 
        </div>

        <div class="small-12 medium-5 large-4 columns top-margin-xlrg animation-right">
           
            <img class="box-shadow-no-border" src="{{portfolio-3.img-src}}">
      
        </div>
    </div>

</section>
  