<section class="column-portfolio-component portfolio-background ">   

    <div class="row portfolio-content ">
       
        <div class="small-12 medium-7 large-8 columns pad-all-lrg animation-left">
            <h4 class="portfolio-title">{{portfolio-3.title}}</h4>
            <p>
                <strong>{{portfolio-3.highlight1}}</strong> {{portfolio-3.content1}}
            </p>
            <p>
                <strong>{{portfolio-3.highlight2}}</strong> {{portfolio-3.content2}}
            </p>
            {{> global-solid-button}}
        </div>

        <div class="small-12 medium-5 large-4 columns top-margin-xlrg bottom-margin-xlrg animation-right">
           
            <img class="box-shadow-no-border" src="{{portfolio-3.img-src}}">
      
        </div>
    </div>

</section>
  