<section class="row global-2column left" style="background-color: #fff; border: 1px solid #cacaca;" aria-label="">   
    <div class="about-the-article">
        <div class="row">
                <div class="small-12 medium-12 columns award-layout">
                    <img src="/assets/img/OTA-awards.png">
                    <hr />
                </div>
                <div class="small-12 medium-12 columns award-layout">  
                    <div class="small-12 medium-6 columns center">
                        <img src="/assets/img/kiplinger-award.png">
                    </div>
                    <div class="small-12 medium-6 columns">
                        <h6 class="separator-left top-padding-xlrg">Total Protection® earns #1 identity theft protection spot on Kiplinger’s Personal Finance ‘The Best’ List</h6>
                    </div>
                </div>
        </div>
    </div>
</section>
<section class="row global-2column" style="background-color: #fff; border: 1px solid #cacaca;" aria-label="">   
    <div class="about-the-article">
            <div class="row">
                    <div class="small-12 medium-12 columns award-layout">
                        <img src="/assets/img/OTA-awards.png">
                        <hr />
                    </div>
                    <div class="small-12 medium-12 columns award-layout">  
                        <div class="small-12 medium-6 columns center">
                            <img src="/assets/img/kiplinger-award.png">
                        </div>
                        <div class="small-12 medium-6 columns">
                            <h6 class="separator-left top-padding-xlrg">Total Protection® earns #1 identity theft protection spot on Kiplinger’s Personal Finance ‘The Best’ List</h6>
                        </div>
                    </div>
            </div>
        </div>
</section>
  