// Shadow Box Pop Up Overlay //
#shadowbox-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: none;


  .overlay {
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.75;
    //background-color: rgba(89, 53, 90, 0.9);
  
    label{
      color: #fff;
      text-align: left;
      font-size: 40px;
      text-transform: uppercase;
    }
  }
  
  .overlay-content {
    position: relative;
    z-index: 2000;
    //overflow-y: auto;
    padding: 0em 2em 2em;
    top: 4%;
    width: 90%;
    height: 600px;
    text-align: left;

    margin-top: 30px;
    margin-bottom: 30px;
    margin: auto;
    color: #1c2b3e;
    background: #fff;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,ffffff+36&1+0,0+36 */
    background: -moz-linear-gradient(top, rgba(242,242,242,1) 100%, rgba(255,255,255,0) 36%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(242,242,242,1) 100%,rgba(255,255,255,0) 36%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(242,242,242,1) 100%,rgba(255,255,255,0) 36%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  
    .content {
      overflow-y: auto;
      padding: 3.5em .1em .1em .1em;
      height: 550px;
      margin-top: 2%;
      margin-bottom: 4%;
      
    }
  }
  
  .closebtn {
    position: fixed;
    z-index: 2500;
    text-align: right;
    //margin-top: -15px;
    padding: 1em 1em 1em;
    font-size: 25px;
    cursor: pointer;
    color: #2177b4;
    height: 30px;
    text-transform: uppercase;
    width: 80%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,ffffff+36&1+0,0+36 */
    background: -moz-linear-gradient(top, rgba(242,242,242,1) 100%, rgba(255,255,255,0) 36%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(242,242,242,1) 100%,rgba(255,255,255,0) 36%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(242,242,242,1) 100%,rgba(255,255,255,0) 36%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  

  }
  
  .closebtn:hover,
  .closebtn:focus {
    //color: #ccc;
    color: #1d6396;
  }
  
  input[type=text] {
    padding: 15px;
    font-size: 45px;
    color: #FFF;
    border: none;
    float: left;
    width: 90%;
    height: 5%;
    border-radius: 0;
    background: transparent;
    border-bottom: #fff 4px solid;
    box-shadow: none;
    
    &::placeholder{
      color: #9a9b9e;
    }
  }
  
  input[type=text]:hover,
  input[type=text]:focus {
    background: transparent;
  }
  
  button {
    float: left;
    // width: 5.2%;
    // height: 5%;
    width: 53px;
    height: 53px;
    padding: 15px;
    background: transparent;
    font-size: 17px;
    border: none;
    border-radius: 0;
    cursor: pointer;
  }
  
  button:hover,
  button:focus
   {
    //background: #bbb;
  }
}