<section class="row video-2column">   
    <div class="about-the-article">
        <div class="row">
            <div class="small-12 medium-12 large-6 columns">
                <h4 class="separator-left">Who is Identity Guard<sup>®</sup></h4>
                <p>Innovation. Trust. Excellence. These are the driving forces at Identity Guard® in our journey to bring proactive identity protection services with unparalleled expertise in our industry. Our services help educate and empower individuals and organizations to protect themselves from the growing threats of identity fraud. As the need for information protection grows, we continue to provide comprehensive services that enable our customers to react and protect sensitive information from evolving technological threats.</p>
            </div>
            <div class="small-12 medium-6 large-6 columns">
                <div class="flex-video">
                    <iframe width="560" height="315" src="https://player.vimeo.com/video/232498677" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
  