<div id="family-plan-table" class="plan-table">
    <!-- Column Headings -->
    <div class="headings row show-for-large">
        <div class="small-12 medium-12 large-3 columns no-padding center" aria-hidden="true">
            <span style="display:none;" aria-hidden="true">blank content cell hidden from view</span>
        </div>

        <div class="heading small-12 medium-12 large-3 columns center" aria-hidden="true">
            <div class="heading-inner">
                <p class="header center">Family</p>
                <h2 class="header-title center">Value</h2>
                <p class="price center">$14.99/month</p>
                <a class="center" href="/plans/value-family">Show me more</a>
                <br />
                <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=vrvrbld2t2&plan_code=valuefam">Start My Membership</a>
            </div>
        </div>

        <div class="heading small-12 medium-12 large-3 columns center" aria-hidden="true">
            <div class="heading-inner">
                <p class="header center">Family</p>
                <h2 class="header-title center">Total</h2>
                <p class="price center">$29.99/month</p>
                <a class="center" href="/plans/total-family">Show me more</a>
                <br />
                <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=peroobylxk&plan_code=totalfam">Start My Membership</a>
            </div>
        </div>

        <div class="heading small-12 medium-12 large-3 columns center recommended" aria-hidden="true">
            <div class="heading-inner">
                <div class="top-tab">Recommended</div>
                <p class="header center" style="color: #cddef0;">Family</p>
                <h2 class="header-title center">Premier</h2>
                <p class="price center">$34.99/month</p>
                <a class="center" href="/plans/premier-family" style="color: #cddef0;">Show me more</a>
                <br />
                <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=kw2iptcaol&plan_code=premierfam">Start My Membership</a>
            </div>
        </div>
    </div>
    
    <div class="compare-table">
        <ul>
            <li class="title row">
                <div class="small-12 medium-12 large-3">Benefits</div>
                <div class="small-12 medium-12 large-3"></div>
                <div class="small-12 medium-12 large-3"></div>
                <div class="small-12 medium-12 large-3 recommended"></div>
            </li>
            <li class="subtitle row">
                <div class="small-12 medium-12 large-3">All Plans Include<sup>1</sup></div>
                <div class="small-12 medium-12 large-3"></div>
                <div class="small-12 medium-12 large-3"></div>
                <div class="small-12 medium-12 large-3 recommended"></div>
            </li>
        <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">IBM Watson Artificial Intelligence</a>
                    <div class="benefit-desc">IBM Watson artificial intelligence monitors and processes billions of pieces of information to alert you about threats to your identity.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Value Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large"> Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">$1 Million insurance with stolen funds reimbursement<sup>2</sup></a>
                    <div class="benefit-desc">Cover your losses due to identity theft with stolen funds reimbursement and $1 million identity theft insurance.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Value Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large"> Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">U.S.-based dedicated case manager</a>
                    <div class="benefit-desc">Call a US-based case manager that will help you resolve identity theft issues and will personally monitor your case for 60 days after the problem has been resolved.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Value Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large"> Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">Risk management score</a>
                    <div class="benefit-desc">Measure how well you manage your risk of identity fraud and see how your actions and lifestyle change your score.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Value Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large"> Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">Online identity dashboard</a>
                    <div class="benefit-desc">Manage your account easily with access to your alerts and identity protection tools in one place.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Value Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large"> Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                    <div class="small-12 medium-12 large-3">
                        <a href="javascript:void(0);" class="benefit">Mobile application</a>
                        <div class="benefit-desc">Take your membership everywhere you go with our app for your iOS or Android mobile phone.</div>
                    </div>
                    <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Value Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                    <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                    <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large"> Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                </li>

            <li class="subtitle row">
                <div class="small-12 medium-12 large-3">We'll Alert You Of</div>
                <div class="small-12 medium-12 large-3"></div>
                <div class="small-12 medium-12 large-3"></div>
                <div class="small-12 medium-12 large-3 recommended"></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">Your personal information on the Dark Web</a>
                    <div class="benefit-desc">Be alerted when we detect your SSN, credit card numbers, financial account numbers, health insurance number and more on the Dark Web - places such as thousands of black market websites, secret chat rooms, and underground forums.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large">Family Value Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large">Family Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large">Family Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">High-risk transactions</a>
                    <div class="benefit-desc">Be alerted to different types of high-risk transactions including, but not limited to: account takeovers, wire transfers, tax refunds, payday loan applications, utility service applications, and cell service applications.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Value Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large"> Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">Potential threats detected by Watson Artificial Intelligence</a>
                    <div class="benefit-desc">Get proactive alerts about potential threats relevant to you found by IBM Watson's AI, for instance: breaches, phishing scams, and malware vulnerabilities.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Value Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large"> Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">Monthly credit score<sup>3</sup></a>
                    <div class="benefit-desc">Get a monthly Vantage 3.0 credit score* based on TransUnion data.</div>
                    <!--<div class="benefit-desc">We monitor your credit files at the three major Credit Reporting Agencies every day and promptly alert you if there are certain changes‚ such as new credit applications‚ credit cards‚ mortgages‚ or loans in your name.</div>-->
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Value Plan</span><span><img class="uncheckmark" src="../assets/img/icons/circle-regular.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large"> Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">3-bureau credit changes</a>
                    <div class="benefit-desc">Be notified of changes to your credit profile like new credit inquiries, public records, and more. Total and Premier members receive inquiry notifications in near real-time from Experian and Transunion.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Value Plan</span><span><img class="uncheckmark" src="../assets/img/icons/circle-regular.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Total Plan</span><span class="Monthly Credit Score"></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large"> Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">Bank account takeovers</a>
                    <div class="benefit-desc">Get alerts when changes, such as your name, address, or email address are made or a new account holder is added to your bank accounts (for example, checking, savings, IRA, etc.).</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Value Plan</span><span><img class="uncheckmark" src="../assets/img/icons/circle-regular.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large"> Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>

            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">Requests to open checking or savings accounts with your information</a>
                    <div class="benefit-desc">Be alerted when we detect requests using your personal information to open new bank accounts at national banks, regional banks, local banks and credit unions across the United States.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Value Plan</span><span><img class="uncheckmark" src="../assets/img/icons/circle-regular.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large"> Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">3-bureau credit report</a>
                    <div class="benefit-desc">Get an annual credit report with information from Equifax, Experian, and Transunion.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Value Plan</span><span><img class="uncheckmark" src="../assets/img/icons/circle-regular.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large"> Total Plan</span><span><img class="uncheckmark" src="../assets/img/icons/circle-regular.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large"> Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                    <div class="small-12 medium-12 large-3">
                        <a href="javascript:void(0);" class="benefit">Your child's information on the Dark Web</a>
                        <div class="benefit-desc">Be alerted when we detect your child's personal information on the Dark Web - including thousands of black market websites, secret chat rooms, and underground forums.</div>
                    </div>
                    <div class="small-12 medium-12 large-3"><span class="hide-for-large">Family Value Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                    <div class="small-12 medium-12 large-3"><span class="hide-for-large">Family Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                    <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large">Family Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                </li>
    
                <li class="row">
                    <div class="small-12 medium-12 large-3">
                        <a href="javascript:void(0);" class="benefit">Potential cyberbullying on social media</a>
                        <div class="benefit-desc">Get alerts about potential cyberbullying with details of detected content, the people involved, guidance on next steps, and access to the Megan Meier Foundation for assistance.</div>
                    </div>
                    <div class="small-12 medium-12 large-3"><span class="hide-for-large">Family Value Plan</span><span><img class="uncheckmark" src="../assets/img/icons/circle-regular.svg" /></span></div>
                    <div class="small-12 medium-12 large-3"><span class="hide-for-large">Family Total Plan</span><span><img class="uncheckmark" src="../assets/img/icons/circle-regular.svg" /></span></div>
                    <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large">Family Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                </li>
            <li class="subtitle row">
                <div class="small-12 medium-12 large-3">Additional Tools for Protection</div>
                <div class="small-12 medium-12 large-3"></div>
                <div class="small-12 medium-12 large-3"></div>
                <div class="small-12 medium-12 large-3 recommended"></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">Anti Phishing Mobile App</a>
                    <div class="benefit-desc">Help protect your iOS and Android mobile devices against phishing scams.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large">Family Value Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large">Family Total Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large">Family Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">Safe Browsing Extension</a>
                    <div class="benefit-desc">Help protect your computer against malicious content with an add-on for your Safari, Chrome, and Firefox web browsers that delivers proactive malware protection by blocking various malware delivery channels including phishing, malvertisements, and Flash. The extension also blocks content and tracking cookies to help protect personal information.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large">Family Value Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large">Family Total Plan</span><span><img class="uncheckmark" src="../assets/img/icons/circle-regular.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large">Family Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>
            <li class="row">
                <div class="small-12 medium-12 large-3">
                    <a href="javascript:void(0);" class="benefit">Social Insight Report</a>
                    <div class="benefit-desc">Analyze your Facebook timeline to get an assessment of your online image and recommended actions to improve it using IBM<sup></sup>®</sup> Watson<sup>™</sup>.</div>
                </div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large">Family Value Plan</span><span><img class="uncheckmark" src="../assets/img/icons/circle-regular.svg" /></span></div>
                <div class="small-12 medium-12 large-3"><span class="hide-for-large">Family Total Plan</span><span><img class="uncheckmark" src="../assets/img/icons/circle-regular.svg" /></span></div>
                <div class="small-12 medium-12 large-3 recommended"><span class="hide-for-large">Family Premier Plan</span><span><img class="checkmark" src="../assets/img/icons/check-circle-solid.svg" /></span></div>
            </li>

            
        </ul>
    </div>
    <div class="footings row">
        <div class="small-12 medium-12 large-3 columns no-padding center" aria-hidden="true">
            <span style="display:none;" aria-hidden="true">blank content cell hidden from view</span>
        </div>

        <div class="footing small-12 medium-12 large-3 columns center" aria-hidden="true">
            <div class="footing-inner">
                <p class="header center hide-for-large">Family</p>
                <h2 class="header-title center hide-for-large">Value</h2>
                <p class="price center">$14.99/month</p>
                <a class="center hide-for-large" href="/plans/value-family">Show me more</a>
                <br class="hide-for-large" />
                <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=vrvrbld2t2&plan_code=valuefam">Start My Membership</a>
            </div>
        </div>

        <div class="footing small-12 medium-12 large-3 columns center" aria-hidden="true">
            <div class="footing-inner">
                <p class="header center hide-for-large">Family</p>
                <h2 class="header-title center hide-for-large">Total</h2>
                <p class="price center">$29.99/month</p>
                <a class="center hide-for-large" href="/plans/total-family">Show me more</a>
                <br class="hide-for-large" />
                <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=peroobylxk&plan_code=totalfam">Start My Membership</a>
            </div>
        </div>

        <div class="footing small-12 medium-12 large-3 columns center recommended" aria-hidden="true">
            <div class="footing-inner">
                <div class="top-tab hide-for-large">Recommended</div>
                <p class="header center hide-for-large">Family</p>
                <h2 class="header-title center hide-for-large">Premier</h2>
                <p class="price center">$34.99/month</p>
                <a class="center hide-for-large" href="/plans/premier-family">Show me more</a>
                <br class="hide-for-large" />
                <a class="button button-green center" href="https://app.identityguard.com/enrollment/general-info?offer_code=kw2iptcaol&plan_code=premierfam">Start My Membership</a>
            </div>
        </div>
    </div>
</div>
            