<div class="row compare-plans available-plans">
    <div class="mobile-check hide-for-large"></div>
    <div class="small-12 medium-12 large-12 columns no-side-padding">
        <div class="pad-all-lrg" style="background-color: #fff;">
            <h2 class="main-header center">{{compare-plans.main-header}}</h2>
            <div class="selector_row">
                <span>{{compare-plans.button-title}}</span>
                <!--
                <button tabindex="0" id ="family-button" class="button blue-hollow-button center" href="/compare-plans-family">Me & My Family</button>
                <button tabindex="0" id="ind-button" class="button blue-button center" href="/compare-plans/">Just Myself</button>
                -->
                <div class="plan-toggle">
                    <div class="plan-toggle--fam">ME & MY FAMILY</div>
                    <div class="plan-toggle--ind plan-toggle--checked">JUST MYSELF</div>
                </div>

            </div>
            <div class="plans-container">
                <div id="family-plan" class="available-plan-fam row plan-container">
                    <p class="small-12 plans-description">{{compare-plans.family-desc}}</p>

                    {{> compare-plans-component-family-plan}}
                </div>
                <div id="individual-plan" class="available-plan-ind row plan-container">
                    <p class="small-12 plans-description">{{compare-plans.individual-desc}}</p>

                    {{> compare-plans-component-individual-plan}}
                </div>
            </div>
        </div>
    </div>
</div>
